[2016-04-30 07:51] #169 closed

[2016-05-04 10:52] mtrakal commented on #107
Is not possible do it like in this post? http://stackoverflow.com/a/35266586/4024146 it looks like working solution without canvas and uses Path assets.

Maybe with step 0 from this lib: https://github.com/code-mc/material-icon-lib#step-0 ?

[2016-05-11 14:03] RNOVOSELOV opened #170 "Copy of IconicsDrawable object"
I have a IconicsDrawable object.

How can I get clone of it?
I want to get an identical object, but with a different color.

Thanks a lot in advance!

[2016-05-11 16:48] mikepenz commented on #170
https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/IconicsDrawable.java#L946

[2016-05-11 16:48] #170 closed

[2016-05-13 06:46] iampawan opened #171 "Can we use spinning like in iconify?"
In which icon rotates itself like loading view

[2016-05-13 06:49] iampawan opened #172 "Not able to use it as a Textview in adapters but Imageview is working fine in adapters?"

[2016-05-13 06:49] iampawan opened #173 "Is there any way to thin the icon borders?"

[2016-05-13 08:58] mikepenz commented on #173
https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/IconicsDrawable.java#L669

[2016-05-13 08:58] #173 closed

[2016-05-13 08:58] mikepenz commented on #171
@iampawan this is not available in this library. You can still animate views on your own, no need for something like this in the library

[2016-05-13 08:58] #171 closed

[2016-05-13 08:59] mikepenz commented on #172
@iampawan please provide details

[2016-05-13 09:00] iampawan commented on #171
Okk no problem .. Thanks @mikepenz

[2016-05-13 09:01] iampawan commented on #173
Can you provide a sample if u can @mikepenz .

Thanks a lot

[2016-05-13 09:07] iampawan commented on #172
i Have initialised in activity Oncreate :  LayoutInflaterCompat.setFactory(getLayoutInflater(), new IconicsLayoutInflater(getDelegate()));

But when i cant use it  eg {faw-music} in textView in an adapter class which i am using for listview,
It works fine for Imageview but textView not working

[2016-05-13 09:09] mikepenz commented on #173
I am not sure why calling a method requires a sample :O

This will change the thikness of the border around the icon itself.

[2016-05-13 09:09] mikepenz commented on #172
@iampawan yeah but how do you set it for the `ImageView`? How will you define it for the `TextView`?

[2016-05-13 09:10] iampawan commented on #173
i am asking for sample because doing this is not making it thin... but makes it think .. i mean i dont know how much width i need to provide

[2016-05-13 09:11] mikepenz commented on #173
that's something I can't tell you :D you can provide it also as `px` or `dp` but that's something on your side. nothing which needs to be done in a sample.

[2016-05-13 09:13] iampawan commented on #173
Yeah thats right i gave it a shot but it was giving me unexpected results .
 Anyway thanks for this awesome library @mikepenz

[2016-05-13 09:16] iampawan commented on #172
This one is working :
{
<com.mikepenz.iconics.view.IconicsImageView
    android:layout_width="72dp"
    android:layout_height="72dp"
    app:iiv_color="@android:color/holo_red_dark"
    app:iiv_icon="gmd-favorite" />
}

These are not working: {
<com.mikepenz.iconics.view.IconicsTextView
        android:text="abc{hif-test}defgh{faw-adjust}ijk{fon-test1}lmnopqrstuv{fon-test2}wxyz"
        android:te

[2016-05-13 09:24] mikepenz commented on #172
@iampawan any log output you see?

[2016-05-13 09:34] iampawan commented on #172
ok i will send you the log after sometime.. thanks

[2016-05-16 19:36] edesdan opened #174 "Image view (XML) doesn't work, cannot set icon via app:ico_icon"
Hi,
I have just started to use the library in my project. I have followed all the steps described in the README section to include the google material icons and use them as icons sources for ImageView. Anyway it seems that it doesn't work at all. Here my code:

[code]

In my activity:
[code]

My gradle:

[code]

Do I miss something?

[2016-05-16 20:41] mikepenz commented on #174
@edesdan any special logoutput you get?

[2016-05-16 21:14] edesdan commented on #174
Hi, thanks for the suggestions but still same issue. Looking at the logs I can only find:

[code]
Whats wrong with that? I think the name is correct.

[2016-05-16 21:22] edesdan commented on #174
ok I found a similar issue here: https://github.com/mikepenz/Android-Iconics/issues/67. Following the suggestion:

[code]

the icon is finally displayed.

What I should do? Is that required or not?

Thanks a lot!

[2016-05-18 15:43] kuno opened #175 "Icons disappeared after Dexguard shrinking and obfuscation."
I am using `com.mikepenz:material-design-iconic-typeface:2.2.0.1@aar` and iconcis 2.5.11. It works in debug build. But in release build after dexguard shrinking and obfuscation. All icons disappeared.

I already added those rules to my dexguard file
[code]

Dexguard version: 7.1.26

[2016-05-18 22:28] kuno commented on #175
Further investigation show if I disable obfuscation by adding rule `-dontobfuscate`, then everything works again.

[2016-05-18 23:22] kuno commented on #175
This is the result of decompile file of class com.mikepenz.material_design_iconic_typeface_library.MaterialDesignIconic
[code]

[2016-05-19 17:16] mikepenz commented on #175
@kuno where do you use your icons. Only via `XML` or programmatically? If only via `XML` you might also want to try to register the font programmatically within your `Application` as done here:
https://github.com/mikepenz/Android-Iconics/blob/develop/app/src/main/java/com/mikepenz/iconics/sample/CustomApplication.java#L17

[2016-05-20 10:45] kuno commented on #175
This solved my problem. Thanks @mikepenz

[2016-05-20 10:45] #175 closed

[2016-05-22 07:25] AAverin commented on #137
@mikepenz regarding to what @Templarian mentioned, looks like some of the icons present on Community Material Icons page are missing from the font that is provided by the library.
How often is font updated and would it be possible to make sure it stays up to date?

[2016-05-22 11:56] AAverin opened #176 "Community Material Design font is outdated"
Currently used Community Material Design font is 1.5.54, while the latest available is already 1.6.50.
Would it be possible to update it, and keep it up to date?
Thanks

[2016-05-22 12:26] #176 closed

[2016-05-22 12:50] AAverin commented on #161
Confirming, icon on FAB only works with Context wrapper

[2016-05-22 21:34] artkoenig opened #177 "Borderless buttons not capitalized"
After setting up the library with
`LayoutInflaterCompat.setFactory(getLayoutInflater(), new IconicsLayoutInflater(getDelegate()));`

or

[code]

the buttons with the style `@style/Widget.AppCompat.Button.Borderless` are not capitalized anymore

[2016-05-22 22:08] mikepenz commented on #177
@artkoenig the issue is that `Buttons` do not allow any `Spannables` to be applied on them as soon as they have the `Capitalized` flag. For this reason this is removed and the text is displayed normally. (But Icons are working) The only way around this is to either don't wrap the `Context` and do not use icons on those buttons, or you keep it and set the text of those buttons in capital letters.

[2016-05-22 22:09] mikepenz opened #178 "Icons wrong sized in Android N DP 2 and 3"
Opened a Bug Report here:
https://code.google.com/p/android/issues/detail?id=210834&thanks=210834&ts=1463954825

[2016-05-22 22:10] mikepenz commented on #176
@AAverin the font is updated whenever someone mentions that it is outdated, and whenever I see that it is outdated. No way to automatically keep the font updated

[2016-05-23 04:09] AAverin commented on #176
I see.
Sorry for the alarm - looks like everything is up to date, I just mixed up the font and used Material Design Iconic Font dependency instead of the Community one=)

[2016-05-23 11:52] artkoenig opened #179 "IconicsTextView not working on some devices"
On some devices the IconicsTextView do not display the icons at all or display dummy unicode characters. IconicsImageView works fine, though. The problem popped up while testing in Google Cloud Test Lab. Here some examples:

**This is a working example, testen on Nexus 4 - Android 5.1 | Deutsch**
![c6bec783](https://cloud.githubusercontent.com/assets/1738628/15469785/d56c64e6-20ec-11e6-93e0-920807

[2016-05-23 11:59] artkoenig commented on #177
Ok, thanks!

[2016-05-23 11:59] #177 closed

[2016-05-23 13:30] meNESS opened #180 "ClassCastException: IconicsContextWrapper cannot be cast to android.app.ContextImpl"
Hi Mike,

**Android Studio:** version 2.1.1
**Tested On:** Emulator API 23

**Dependencies Are:**

[2016-05-23 18:23] mikepenz commented on #180
@meNESS seems like Firebase does not allow you to run it with a wrapped context.

What activity do you use?

[2016-05-24 03:46] meNESS commented on #180
@mikepenz But I'm not using Firebase! What do you mean what activity I use?

[2016-05-24 09:02] mikepenz commented on #180
@meNESS your exception states so: com.google.firebase.iid.FirebaseInstanceIdInternalReceiver

[2016-05-24 13:13] meNESS commented on #180
@mikepenz I know what the exception is but I'm not using Firebase. I checked the settings and it didn't implemented! I have just a few fragments and Firebase doesn't needed at all. Maybe this is a bug from Android Studio because I didn't have any problem previously before updating to the latest stable version.

[2016-05-24 13:25] mikepenz commented on #180
@meNESS that's weird. Perhaps from the latest play services?
[code]

[2016-05-24 16:38] mikepenz commented on #172
Any new feedback? Will close for now

[2016-05-24 16:38] #172 closed

[2016-05-24 16:38] mikepenz commented on #179
@artkoenig that's a weird issue. Could you also please try if it is the same for icons you create via the `IconicsDrawable` directly?

[2016-05-24 16:40] mikepenz commented on #174
@edesdan it should be enough if you jsut register the font in your `Application`:
[code]

It can happend that it won't be autodetected if you have a `applicationId` set in your gradle, or if you have proguard enabled.

[2016-05-24 16:40] #174 closed

[2016-05-24 17:24] artkoenig commented on #179
The icons created by IconicsDrawable are displayed correctly in all cases (xml and code). This is indeed a weird issue. One of the problematic devices was the HTC One, I had the opportunity to debug the app on this device today and the icons were displayed correctly. Perhaps this issue only appear on Cloud Test devices? What about your Iconics Library app, can you check it on Cloud Test devices?

[2016-05-24 17:32] mikepenz commented on #179
I can't test it in the Cloud Test lab, as I do not have credits for the Firebase testing, which will cost about 5$ per hour. The automatic pre testing in the play store might only will show the initial screen (I am not sure about this one) I will give it a try

[2016-05-24 18:36] mikepenz commented on #179
Seems correct
<img width="979" alt="bildschirmfoto 2016-05-24 um 20 30 02" src="https://cloud.githubusercontent.com/assets/1476232/15515402/580f9556-21ee-11e6-96c8-f2e771add50e.png">

[2016-05-24 18:57] artkoenig commented on #179
Nope, look at IconicTextView showcase...

[2016-05-24 18:58] mikepenz commented on #179
Oh you are right :O. The thing is this was only screenshoted for this one device, I think it randomly clicks. so i don't see it for the other devices :/.

[2016-05-24 19:19] mikepenz commented on #179
The question is why it only occurs on the `IconicsTextView` I have no idea as it does basically the same as the normal `TextView` just at a different point of time

[2016-05-24 19:50] meNESS commented on #180
@mikepenz Yes, I recently updated to the latest version of Play Services and perhaps it is the problem but what's the solution? I need Google Analytics. Should I wait for a bug fix from Google?

[2016-05-24 22:02] meNESS commented on #180
If I remove following lines from Application everything would works fine:

[code]

[2016-05-24 22:17] meNESS commented on #180
I changed that dependency and now I'm using Firebase itself instead and everything works. Thanks Mike :+1:

[2016-05-24 22:17] #180 closed

[2016-05-24 23:30] mikepenz commented on #180
@meNESS ok great. Seems like the crash was just passed through the `ContextWrapper` and the initial issue was an incompatiblity of the analytics sdk

[2016-05-25 18:20] mikepenz commented on #179
@artkoenig I am really without a hint. Where you able to get something similar on any real device? In general I always recommend to use the `IconicsDrawable` directly as it gives more control over correct paddings, margins, placement etc than within the text set via the font, as it will differ on phones or may be different size as different baselines etc are used on phones.

[2016-05-30 05:38] trungie commented on #169
I've experienced this as well. I set am using `LayoutInflaterCompat.setFactory(getLayoutInflater(), new IconicsLayoutInflater(getDelegate()));` as well.

@mikepenz you are right, there is no iconics code, however when i comment out the code with the iconics `{faw-...` it works.

[2016-05-30 05:57] trungie commented on #169
I can confirm that changing from `TextView` and using the `LayoutInflatorCompat.setFactory` to using `com.mikepenz.iconics.view.IconicsTextView` works!

[2016-05-30 06:02] mikepenz commented on #169
@trungie it's really weird. because the two use exact the same code. It just seems that the system does something really weird when using a `TextView` strange thing is that this only happens if you use `String.format` as far as I've seen, because setting a normal "String" does not result in any issues

[2016-05-31 10:16] mikepenz commented on #178
https://code.google.com/p/android/issues/detail?id=210834

Answer on the Android bug report

[2016-05-31 18:13] #178 closed

[2016-06-01 13:45] Polyterative opened #181 "Usage as FAB icon?"
Is it possible?
I tried using `{}` without sucess.
What I want is use the library here:
[code]

Thanks

[2016-06-01 14:01] mikepenz commented on #181
The FAB extends from the `ImageView` so everything which is written in this section:
https://github.com/mikepenz/Android-Iconics#as-imageview-only-available-if-you-follow-step-3-or-inject-the-context
applies to it.

[2016-06-01 14:30] Polyterative commented on #181
Still can't get it to work.
I've tried the following:
`<android.support.design.widget.FloatingActionButton
        ...
        app:ico_icon="ion_alert"
        app:ico_size="24dp"`
and
`<android.support.design.widget.FloatingActionButton
        ...
        app:ico_icon="{ion_alert}"
        app:ico_size="24dp"
        />`

If I try: `android:src="{ion_alert}"` or `android:src="ion_alert"` Gradle

[2016-06-01 14:35] mikepenz commented on #181
@Polyterative the first variant should work.

And you get no log output? You have the corresponding font in your project? And it was able to register?

Is it the first position where you use a font via XML?

[2016-06-01 14:45] Polyterative commented on #181
Log is clear.

[2016-06-01 14:47] Polyterative commented on #181
Log is clear, the fab is ok, just without the icon.
https://imgur.com/gV1zdpq

I've imported the font in `build.gradle ` like this:
[code]

[2016-06-01 14:49] mikepenz commented on #181
Could you please do the following step. (registering `Ionicons` in your case) just to make sure the font got autodetected (auto detection won't work if proguard is configured wrong, and also if an applicationId is set in the build.gradle)

https://github.com/mikepenz/Android-Iconics#register-fonts

[2016-06-01 14:50] mikepenz commented on #181
Oh sorry I missed one thing. You use the `LayoutInflaterCompat` this one does not work on `FAB`s for a weird reason. See here:
https://github.com/mikepenz/Android-Iconics/issues/161#issuecomment-220830768

[2016-06-01 14:55] Polyterative commented on #181
It's working now with the
[code]
Thank your for your time!
Awesome library

[2016-06-01 14:55] #181 closed

[2016-06-01 14:58] mikepenz commented on #181
@Polyterative sorry for wasting your time, should have remembered this point.

I have added the information to the README. Thanks again

[2016-06-01 15:09] Polyterative commented on #181
I found that another way to solve this can be assigning the `Drawable ` in the activities/fragments involved.
[code]

[2016-06-01 20:00] mikepenz commented on #181
@Polyterative yes I know ;). But many people prefer to set it via XML so they have no code for it. Internally it will do exactly what you just did programatically.

[2016-06-02 05:57] frodoking opened #182 "IconicsDrawable doesn't work on TextView.setCompoundDrawables"
IconicsDrawable doesn't work on TextView.setCompoundDrawables()
[code]

but it will work if do like:
[code]
why?, I only want to get a Drawable.

[2016-06-02 06:35] mikepenz commented on #182
@frodoking so it works as `CompoundDrawable` if you have a background set or it still only applies to the background then?

What's about this answer:
https://github.com/mikepenz/Android-Iconics/issues/8#issuecomment-62551409

[2016-06-03 02:16] frodoking commented on #182
@mikepenz Perhaps you can see if that helps when you save a IconicsDrawable.toBitmap() to a png file.

[2016-06-06 15:33] rmarau commented on #182
@mikepenz

this problem appeared to me upon commit 7f51cfddb7892f51ad735e85bee04e9e1a4dbabb when addressing the N-Preview issue.

Im creating a `Drawable` and inserting it as a `CompoundDrawable`, as such:

`final Drawable eyeDrawable = new IconicsDrawable(LoginActivity.this)`
                `.icon(MaterialDesignIconic.Icon.gmi_eye)`
                `.color(ContextCompat.getColor(MyActivity.this,

[2016-06-06 17:25] mikepenz commented on #182
@rmarau I assume it is related to the fact that I no longer set the bounds explicitely, as this was noted by the Android developer in the Android N ticket. I can try to readd the `setBounds` but this should not be done as noted here: https://code.google.com/p/android/issues/detail?id=210834&thanks=210834&ts=1463954825

[2016-06-06 18:14] rmarau commented on #182
@mikepenz  I didn't pay much attention to your reference to https://github.com/mikepenz/Android-Iconics/issues/8#issuecomment-62551409 , because it was much older than this commit. But after revisiting and trying to be explicit with respect to the bounds (from the outside) worked for me.

`eyeDrawable.setBounds( 0, 0, 24, 24 );` did the trick.

I understand the arguments in the google code ticket

[2016-06-06 20:22] jayrave opened #183 "Space between glyphs' outermost strokes and glyphs' bounds is not honored"
This is best explained with an example => the following two icons look exactly the same when displayed using the iconics library when they are not supposed to
- a 8x8 square inside a 12x12 box
- a 4x4 square inside a 12x12 box

The reason for this being that the space between a glyph's outermost strokes and glyph's bounds is not honored

*Visual example:* Look the following icons - arrow-left, arr

[2016-06-07 06:54] mikepenz commented on #183
@jayrave the icons do not respect the padding as this information is lost in the process of drawing the icon.

You can set paddings on the icons via: https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/IconicsDrawable.java#L351 (or the other padding methods)

[2016-06-07 06:55] mikepenz commented on #182
@rmarau yes. I think this is the best option to use it as compound drawable now.

Thanks. (I added the label good to know so hopefully people will search it ;))

[2016-06-07 06:55] #182 closed

[2016-06-08 12:52] shayanzoro opened #184 "Not Usabe in non-Appcompat activities"

[2016-06-08 13:25] mikepenz commented on #184
@shayanzoro could you please be a bit more specific. You can use the `IconicsDrawable` in all activties without any issues.

And this: https://github.com/mikepenz/Android-Iconics#3-alternative-inject-into-context-optional should also work

[2016-06-08 13:29] shayanzoro commented on #184
Hi,

I am using calligraphy library & I can't inject the context, because I am do it with calligraphy wrapper.
I also don't use AppCompatActivity. So both  "defining the IconicsLayoutInflater" and "injecting the context" are not possible for me.

P.S. I use Calligraphy to set a default font for all textviews, Does your library have such a feature?

[2016-06-08 13:33] mikepenz commented on #184
@shayanzoro if you can't do the auto detection for normal `TextView`s you still always have the option to use the `IconicsTextView` and the other `Iconics`* views.

In general I suggest that you just go with the `IconicsDrawable` and use it on `ImageView`s as it will make sure that sizes etc stay the same even if users mod their font etc on the device

[2016-06-09 09:07] #184 closed

[2016-06-09 17:59] #183 closed

[2016-06-09 18:04] mikepenz commented on #183
@jayrave I have added a new feature which allows to keep those paddings (if enabled custom provided paddings do not work on this single icon)

[2016-06-09 18:13] mikepenz commented on #179
Haha last open issue from all my open source projects. If I only could reproduce this on any of my phones.

[2016-06-09 23:38] jayrave commented on #183
@mikepenz thanks a lot for the quick reply & update

I still see that there is some alignment issues (could be just my custom icons). I will investigate further & let you know if something turns up

Great library

[2016-06-14 01:36] trungie commented on #169
@mikepenz for some reason now that i use `IconicsTextView`, I can't use `textView.setText(Html.fromHtml(htmlString))` anymore. Is this a bug? The text just comes up plain.

[2016-06-15 07:36] mikepenz commented on #169
@trungie "plain" in terms of the html is not applied, or the icon is not replaced?

[2016-06-15 07:38] trungie commented on #169
@mikepenz html styles not applied. I'm using `<font color="... ` Icon appears.

[2016-06-15 07:39] mikepenz commented on #169
Hmmm most styles should persist from the HTML markup, as I try to keep those spannables when applying the icons. Is "bold" or "italic" working?

[2016-06-15 07:41] trungie commented on #169
@mikepenz No `<strong>` doesn't work!

[2016-06-15 08:44] mikepenz commented on #169
`<b>`?

[2016-06-17 08:49] murtaza61 opened #185 "android.graphics.Typeface.getStyle() on a null object reference error"
stack trace is

[code]
if i uninstall my apk on phone and reinstall there is no error

[2016-06-17 10:01] mikepenz commented on #185
could you please provide a sample app or code which allows me to reproduce this issue?

[2016-06-17 11:38] murtaza61 commented on #185
i think this is ide bug. Now there is no error.

[2016-06-17 13:05] juanlabrador commented on #143
Please, try with android:scaleType="center"

[2016-06-18 08:55] mikepenz commented on #185
Ok great :)

[2016-06-18 08:55] #185 closed

[2016-06-20 14:38] fweigl opened #186 "Can I use my custom font from XML?"
I've seen the usage of fonts directly from XML with the provided fonts like
`com.mikepenz:google-material-typeface:2.1.0.1.original@aar`

Can I also use my custom font directly from XML? I tried to use the font name from the generated class as identifier:

[code]

and then in my XML:

[code]
Sunshine being the name of the icon.
The logcat says

`E/Iconics: Wrong icon name: my_font_sunshine`

I did

[2016-06-20 16:26] mikepenz commented on #186
@fweigl your font must have a correct `mappingPrefix` (with exact 3 characters) here:
https://github.com/mikepenz/Android-Iconics/blob/develop/app/src/main/java/com/mikepenz/iconics/sample/typeface/CustomFont.java#L43

and it has to match the prefix of the enum too:
https://github.com/mikepenz/Android-Iconics/blob/develop/app/src/main/java/com/mikepenz/iconics/sample/typeface/CustomFont.java#L111

[2016-06-20 20:29] AAverin opened #187 "Using icons in styles.xml"
Is it possible to set Iconics icons as a drawable for various style elements?
For example, I need to change an drawable for a checkbox.
[code]

[2016-06-20 20:30] AAverin commented on #187
Guess it's #166 again.

[2016-06-21 07:50] fweigl commented on #186
@mikepenz Thanks for your help, I applied the requirements you mentioned, unfortunately I still can't manage to set icons from XML directly.
I created a small example, perhaps you could have a look at what I'm doing wrong:

https://bitbucket.org/asco33/iconicstest

[2016-06-21 11:05] mikepenz commented on #186
@fweigl exactly. the prefix is picked up to efficiently detect which font to use.

[2016-06-21 11:05] #186 closed

[2016-06-26 14:53] Rainer-Lang opened #188 "Provide licenses of the icon-libs for AboutLibs"

[2016-06-27 17:41] Rainer-Lang commented on #188
- Google Material Design Icons: Creative Commons Attribution 4.0 International License (CC-BY 4.0) - https://github.com/google/material-design-icons

[2016-06-27 17:42] mikepenz commented on #188
@Rainer-Lang you want to do a pull request?

[2016-06-27 17:48] Rainer-Lang commented on #188
@mikepenz First things first :-)

1. Collect information
2. PR (author: unknown)

[2016-06-27 17:58] Rainer-Lang commented on #188
@mikepenz How could these licences included, that only the license is shown of the font which is used?

[2016-06-28 14:38] AAverin commented on #180
An addition to this bug.
My custom BroadcastReceiver throws the same exception
[code]

[2016-06-28 14:44] AAverin commented on #180
Probably related to this: https://github.com/chrisjenx/Calligraphy/issues/211

[2016-06-28 14:44] AAverin commented on #180
https://code.google.com/p/android/issues/detail?id=200832

[2016-06-28 14:48] AAverin commented on #180
Confirming the fix:
`attachBaseContext(IconicsContextWrapper(base))` should be done in **Activity**, not Application context

[2016-06-28 15:11] mikepenz commented on #180
@AAverin thanks for the report.

So this means that the description is correct with `Activity` here: https://github.com/mikepenz/Android-Iconics#3-alternative-inject-into-context-optional ?

[2016-06-28 15:31] AAverin commented on #180
Yes, it's correct.

Maybe stress Activity a little? A colleague of mine made an unconscious mistake and put initialization into Application context, because attachBaseContext method is present in both Activity and Application

[2016-06-28 16:46] mikepenz commented on #180
@AAverin once again thanks for the detailed information

[2016-06-28 16:47] mikepenz commented on #188
the font informations have to be added to the specific font addon module
and the license needs to be added to the AboutLibraries

[2016-07-01 03:29] roslamir commented on #143
It works. Using android:scaleType="center" enlarges the ImageView inside the FAB.

[2016-07-02 10:31] ccjeng opened #189 "iconics 2.6.6 is not working in Android 4.1.1"
As title, but it works when downgrade to 2.5.11.
Exception is as below.

[code]

[2016-07-02 11:17] mikepenz commented on #189
@ccjeng the latest iconics also uses the latest appcompat library v24. Please make sure you also use the latest appcompat version, otherwise it may come to appcompat conflicts. The above ressource is not part of the library itself

[2016-07-03 10:40] ccjeng commented on #189
Got it, thanks.

[2016-07-03 12:22] #189 closed

[2016-07-03 17:24] mikepenz commented on #188
@Rainer-Lang added the licenses you sent to me to the AboutLibraries. and added the first definition files to the first 3 fonts. you can do a pull request for the other fonts please.

[2016-07-04 04:00] thelou1s opened #190 "Messy chinese code problem"
<com.iconics.view.IconicsTextView
        android:id="@+id/back_iv"
        android:layout_width="@dimen/base_titlebar_size"
        android:layout_height="fill_parent"
        android:layout_alignParentLeft="true"
        android:background="@drawable/home_titlebar_btn_selector"
        android:gravity="center"
        android:text="{ICON_BACK}"
        android:textColor="@color/grey_666666"

[2016-07-04 06:10] mikepenz commented on #190
@thelou1s could you also please add a screenshot? Can you reproduce this? I think this is related to this issue: https://github.com/mikepenz/Android-Iconics/issues/179 (please answer my questions there)

[2016-07-04 06:10] #190 closed

[2016-07-04 07:07] thelou1s commented on #179
Yes, same problem.  and http://testin.cn test site could reproduce this and it's free.

[2016-07-06 06:18] alvinpb commented on #169
Can confirm @trungie issue. <b> doesn't work either.

[2016-07-06 06:20] mikepenz commented on #169
@alvinpb seems like the `Html.fromHtml` styles text a bit different than the normal spannables, because those should be kept via `Android-Iconics`

In general I always suggest to use the `Android-Iconics` in `ImageView`s because it gives you much more control about how it is displayed than within the text

[2016-07-06 06:26] alvinpb commented on #169
Yep understand. Maybe my use-case isn't really supported. I have an IconicsTextView - am trying to mix in the following way - HTML + ICON + HTML

[2016-07-06 08:46] Rainer-Lang commented on #188
Only Meteocons is missing.

[2016-07-06 08:47] mikepenz commented on #188
Great ;)

[2016-07-06 08:48] mikepenz commented on #188
@Rainer-Lang meteocons has a custom license:

[2016-07-06 09:10] Rainer-Lang commented on #188
PRs for Iconics and AboutLibs are ready to merge :)
After merging - issue could be closed. :+1: :-D

[2016-07-06 11:35] mikepenz commented on #188
thanks

[2016-07-06 11:35] #188 closed

[2016-07-07 11:51] artkoenig commented on #179
I found [this post](http://stackoverflow.com/a/31439499/321106) on StackOverflow.

[2016-07-07 13:02] mikepenz commented on #179
@artkoenig oh if it is this problem. There is nothing I can do about this, as the character range is defined by the font so in this case by Google.

You can use one of the alternative fonts. Like the Material Design Iconic font which includes basically the same icons with different names and it uses a different character range: http://zavoloklom.github.io/material-design-iconic-font/

Changing the

[2016-07-07 13:02] #179 closed

[2016-07-11 18:29] mikepenz commented on #182
This is back to the old behavior. I have readded the `setBounds` calls as they do not break the Android N fix.

[2016-07-19 21:18] pedronveloso opened #201 "Wrong behavior on View with textAllCaps"
I've a style that defines the following for my buttons:

`<item name="android:textAllCaps">true</item>`

The moment I enable Iconics by using `attachBaseContext` all the buttons text becomes lower case, so it is somehow overriding that property. The text that I assign to the button at XML level is indeed lower-case, but otherwise it would become capitalized and now it does not.

[2016-07-20 06:05] mikepenz commented on #201
@pedronveloso textAllCaps is not supported as it prevents spanables to be set on a `TextView` this is a limitation by android, nothing I can do here.

[2016-07-20 06:05] #201 closed

[2016-07-20 16:46] mikerussellnz opened #202 "Support Tinting for NavigationView."
I am using Iconics drawables for the icons in a NavigationView.  The NavigationView uses tinting so that the icons are grey when the item is unselected and the accent colour when the item is selected.

This works fine for bitmaps but does not work for Iconics drawables leaving them black at all times.

It appears that Iconics drawables need to implement setTintList and setTintMode and render accor

[2016-07-21 01:41] EasyLian opened #203 "There is no application method to'(com.mikepenz.google_material_typeface_library.GoogleMaterial.Icon)'"
All import, what is the cause of the error?

[code]

[2016-07-21 06:02] mikepenz commented on #203
@EasyLian have you added the `GoogleMaterial` font addon?

[code]

[2016-07-21 07:27] EasyLian commented on #203
@mikepenz
Yes.
I added.
Use as TextView and  Custom Views is  Okeys.
But  use as drawable for  code is error.
 `new IconicsDrawable(this)
            .icon(GoogleMaterial.Icon.gmd_airplay)
            .color(Color.RED)
            .sizeDp(24);
 `
Error:`GoogleMaterial.Icon.gmd_airplay)`
Error:There is no application method to'(com.mikepenz.google_material_typeface_library.GoogleMaterial.Icon)'

Ot

[2016-07-21 07:40] mikepenz commented on #203
@EasyLian you use AndroidStudio and the latest build tools and everything?

Also the latest version of the library?

There are no issues with this in the sample app:
[code]

[2016-07-21 08:37] ahmetcj4 opened #204 "Is it possible to change icon color only when using button with icon and text"

[2016-07-21 08:38] mikepenz commented on #204
@ahmetcj4 sorry could you please be a bit more specific about what you need?

[2016-07-21 09:50] ahmetcj4 commented on #204
@mikepenz I wanted to use a button that has Icon and text. Then I want to change color of the icon, not the text.

After some exploration, I found that this is already shown in code.

With some small changes, I get the desired solution, thanks!

This is the code I used.

        Button b4 = (Button) findViewById(R.id.button);

        new Iconics.IconicsBuilder().ctx(this)
                .style(n

[2016-07-21 09:51] mikepenz commented on #204
@ahmetcj4 great ;)

[2016-07-21 09:51] #204 closed

[2016-07-21 11:22] BobOtike opened #205 "Usage of custom font unclear"
Hi Mike,

I just used your generator to create a custom font from *.css/*.ttf files. I tried to include the created addon in my project via "New Module -> Import Gradle Project" but when syncing afterwards gradle gives me the following error:

`Cannot get property 'compileSdkVersion' on extra properties extension as it does not exist`

Is this the correct way to go about it or am I supposed to inc

[2016-07-21 12:45] mikepenz commented on #205
@BobOtike I assume it looks something like this:
https://github.com/mikepenz/Android-Iconics/blob/develop/devicon-typeface-library/build.gradle#L20

Either you define those properties in your root build.gradle or you replace it with a specfic version in your case

[2016-07-21 13:47] BobOtike commented on #205
@mikepenz Yes, exactly.

I tried setting the project SDK according to this guide [https://www.jetbrains.com/help/idea/2016.1/configuring-global-project-and-module-sdks.html](url), but the option is not present in the dialog I get when following the steps.

Can you give me a hint on how to define this in the root build.gradle?

[2016-07-21 14:06] BobOtike commented on #205
To move on for now I put in the SDK version for the module by hand and now I get the next problem:

The dependency `compile project(':library-core')` could not be found.

I'm really not to keen on gradle usage.

[2016-07-21 15:00] mikepenz commented on #205
@BobOtike I can't really help you regarding "gradle" as I can only give library specific support (everything else would be too much work)

Everything is visible in the github project.

Here's the definition for vars in the root build.gradle
https://github.com/mikepenz/Android-Iconics/blob/develop/build.gradle#L13

here you define modules:
https://github.com/mikepenz/Android-Iconics/blob/develop/se

[2016-07-21 15:00] mikepenz commented on #203
@EasyLian otherwise may you can provide a zip containing the source code so I can try it?

[2016-07-21 15:19] BobOtike commented on #205
Yeah, I understand that.

Anyways, figured out how its done going through your links, thanks a lot, its working now.

[2016-07-21 15:19] #205 closed

[2016-07-21 17:55] EasyLian commented on #203
@mikepenz
Thank you very much!
Is the cause of the IDE.
Using Android Studio is no problem. What I use is the AIDE. I'm very sorry to delay you so much time, at the same time also thank you for your efforts.
😃😃😃
```Thank you.```

[2016-07-21 17:56] mikepenz commented on #203
@EasyLian oh great that you solved it ;)

[2016-07-21 18:02] #203 closed

[2016-07-21 19:01] mikepenz commented on #202
@mikerussellnz I am not sure on how to implement those two methods. Have not found any implementations. Also the `IconicsDrawable` already implement the `Drawable` so I expected those methods to be in place.

Do you have any references?

Perhaps it's necessary to follow those steps:

[code]
as noted here: https://chris.banes.me/2015/04/22/support-libraries-v22-1-0/

[2016-07-22 04:07] mikerussellnz commented on #202
Hi

I did not have success with using DrawableCompat.  I believe it is for compatibility with pre-v21 devices (which I am not testing on) and that on v21+ devices it just passes the call through to the underlying drawable.

setTintList and setTintMode are both empty implementations in the base drawable class as it is up to drawable itself to implement it appropriately.
https://github.com/android/p

[2016-07-26 00:04] stleusc opened #206 "Exception when applying icons to Spanned string"
[code]
causes exceptions when using the following textspan:

[code]
where input is in my example

[code]

Basically a multiline string with 5 lines each starting with icon.

The issue is here:

[code]

The reason is that i is the index based on the original string length, however each time an icon gets replaced all spans beyond that get their start and end reduced (which is correct). But that also

[2016-07-26 00:04] stleusc commented on #206
Using latest release.... 2.6.7

[2016-07-26 01:23] stleusc opened #207 "possible issue in IconicsUtil.applyStyle"
[code]

when the pre-existing spans get applied the flags are always set to Spannable.SPAN_EXCLUSIVE_EXCLUSIVE. What if the original span had different flags? Should you not copy/store the original flags first and then restore them?

[2016-07-26 01:37] stleusc commented on #206
For testing purposes just use StyleSpan(Typeface.BOLD) instead of EllipsizeLineSpan(), same effect.
Tested locally and working.

I would submit a pull request but never did that before ;-)
I also think the change is so minor that you likely fix it accordingly faster than merging my change.

Would be great to get a V2.6.8 with that bugfix!

PS: GREAT LIBRARY!!!

[2016-07-26 06:10] mikepenz commented on #206
@stleusc thank you for the detailed report. I will have a look later today, after work.

Thank you so much :)

[2016-07-26 19:05] #206 closed

[2016-07-26 19:05] #207 closed

[2016-07-27 04:30] stleusc commented on #206
Thanks for that super fast fix....
Working great....

[2016-07-27 15:28] mikerussellnz commented on #202
I have updated to the latest version but I am still seeing the same behaviour where the icon does not change colour when it is the icon of a selected item.

Here is a minimal test application that compares with the android vector format:

[IconicsTest.zip](https://github.com/mikepenz/Android-Iconics/files/386439/IconicsTest.zip)

[2016-07-27 16:35] mikepenz commented on #202
@mikerussellnz hmmm weird. I tested with setting the `tint` via the specific API on the `Drawable` and it worked without troubles

[2016-07-27 16:43] mikepenz commented on #202
@mikerussellnz the download doesn't seem to work :(

[2016-07-27 16:47] mikerussellnz commented on #202
Try here
https://www.dropbox.com/s/swtn1e0d04v3xrp/IconicsTest.zip?dl=0

[2016-07-27 17:31] mikepenz commented on #202
@mikerussellnz I have found the last missing bit and fixed it. There will be an update soon.

One more thing which may be interesting for you. If you add `.respectFontBounds(true)` to your icon it will be the same size as the original `VectorDrawable`. By default the icon will use the full width and/or height (24dp will result in a real 24dp height icon). With the above setting it will keep the bo

[2016-07-27 17:37] mikepenz commented on #202
v2.7.1 is rolling out now

[2016-07-27 17:38] mikepenz commented on #202
Thanks for the sample project

[2016-07-28 14:43] mikerussellnz commented on #202
Hi

It is much better but I see one small issue with the initial color of the icons.   When the application starts they have the wrong color (in the sample project they are a lighter color than they should be) but when you select any item they all jump to the correct color.

See screenshot when the application is first opened showing the lighter coloring:

https://dl.dropboxusercontent.com/u/77426

[2016-07-28 14:56] mikerussellnz commented on #202
Updated sample project with more icons https://dl.dropboxusercontent.com/u/7742667/IconicsTest.zip

[2016-07-29 06:06] mikepenz commented on #169
@alvinpb can you please retest this with the lastest version

[2016-07-29 06:29] mikepenz commented on #202
@mikerussellnz that's weird.

[2016-07-30 18:10] MFlisar opened #208 "String resources for icons"
Is there a reason why you can't generate string resources for the icons?

Instead of `app:ico_icon="gmd-bug-report"` it would be possible to use `app:ico_icon="@string/gmd-bug-report"`... Would make auto complete better... and typos would not happen that easily anymore...

[2016-08-01 06:36] mikepenz commented on #208
@MFlisar no there is no reason for this. but it's a good idea. would take pull requests for this.

[2016-08-01 12:51] SeunMatt commented on #74
Hello,  the IconicsButton and ImageView aint showing the icons in the design mode of android studio 1.x have added the proguard rule and yet nothing is showing. Though on running the app the icons are visible. I know you have closed this issue but please I need your help thanks.

[2016-08-01 12:53] mikepenz commented on #74
@SeunMatt it is known that they don't show the icon in design mode, and it is not intended to be fixed as it is working in the app.

If you have a solution for this feel free to open a Pull request with the required code changes

[2016-08-01 16:09] SeunMatt commented on #74
Alright sir.  Thanks

[2016-08-03 12:30] BarabulkaForever opened #209 "Trying to add icons to Navigation drawer, but cannot change color."
![image](https://cloud.githubusercontent.com/assets/20814202/17365480/061c117e-598f-11e6-9b99-250998eec051.png)

        Menu mMenu = navigationView.getMenu();
        MenuItem mainMenu = mMenu.findItem(R.id.main_menu);
        mainMenu.setIcon(new IconicsDrawable(this)
                .icon(FontAwesome.Icon.faw_laptop)
                .color(Color.RED)
                .sizeDp(24));
        MenuIt

[2016-08-03 18:53] #202 closed

[2016-08-03 19:19] mikepenz commented on #208
will be in the next update of fontawesome and googlematerial for all others I will add them if they have an update or wait for a PR

[2016-08-03 19:19] #208 closed

[2016-08-04 11:44] raviteja06 opened #210 "Issue while previewing the layout xml in Android Studio"
Tho, I am able to see the icon in the actual application, the Android Studio preview shows below exception

**Using latest 2.7.2**

[code]

PS: This issue is similar to #107

[2016-08-04 11:58] mikepenz commented on #210
@raviteja06 is this exception new?

[2016-08-04 12:07] raviteja06 commented on #210
@mikepenz Yes, its new.

In issue #107 its throwing execption at com.mikepenz.iconics.IconicsDrawable.draw(IconicsDrawable.java:749) but in current one the execption throwing at  com.mikepenz.iconics.IconicsDrawable.onBoundsChange(IconicsDrawable.java:839).

I rollbacked to 2.5.11 and its not showing any execption.

Thanks in advance.

[2016-08-10 18:00] mikepenz commented on #210
@raviteja06 how do you define the `IconicsDrawable` to be drawn in your layout?

[2016-08-12 05:26] raviteja06 commented on #210
@mikepenz
In java
`new IconicsDrawable(context).icon(icon)`

In XML
 <com.mikepenz.iconics.view.IconicsImageView
                android:id="@+id/verified"
                android:layout_width="30dp"
                android:layout_height="30dp"
                android:alpha="0.7"
                android:background="@color/green_button_text"
                app:iiv_color="@color/white"

[2016-08-12 06:36] mikepenz commented on #210
@raviteja06 so it also throws an exception when you use it programatically not only via xml?

[2016-08-12 06:55] joielechong opened #211 "No fontawesome fa-edit"
I'm trying to add fontawesome fa-edit with faw-edit. Not work. using fa-edit, not work either.

I'm using the latest Android-Iconics library.

Error:
 E/Iconics: Wrong icon name: faw_edit

[2016-08-12 06:57] mikepenz commented on #211
@joielechong there is no icon called faw_edit in the current `FontAwesome`

https://github.com/mikepenz/Android-Iconics/blob/develop/fontawesome-typeface-library/src/main/java/com/mikepenz/fontawesome_typeface_library/FontAwesome.java

[2016-08-12 06:57] #211 closed

[2016-08-12 06:58] raviteja06 commented on #210
Only in XML. It shows the exception in the preview window. No issue while running app.

[2016-08-12 07:24] joielechong commented on #211
I found fa-edit in [FontAwesome cheatsheet](http://fontawesome.io/cheatsheet/):
 fa-edit (alias) [&#xf044;]

[2016-08-12 08:45] mikepenz commented on #211
@joielechong which is an alias for: fa-pencil-square-o

[2016-08-12 08:47] mikepenz commented on #210
@raviteja06 can't reproduce this. everything works fine as intended when I open the preview window with the sample layouts in the latest Android Studio. (it won't show the icon, but also no exception. which is the correct behavior)

[2016-08-12 08:50] raviteja06 commented on #210
@mikepenz Thanks for the effort. I'll try again and will see if I can solve it from my side.

[2016-08-12 08:50] #210 closed

[2016-08-12 12:01] marbat87 opened #212 "No erase-variant in Community Material"
Hi,

I'm not able to find eraser-variant in Community Material typeface.
But I see it on the site https://materialdesignicons.com/

Thanks in advance.
Marcello

[2016-08-13 14:00] marbat87 commented on #212
I add also:
- reorder-vertical
- reorder-horizontal

[2016-08-15 08:38] mikepenz commented on #212
@marbat87 it's on their website but not included in the export. The easiest way to validate this is to search in their `css`  and try to find the name: http://cdn.materialdesignicons.com/1.6.50/css/materialdesignicons.min.css

[2016-08-15 08:38] #212 closed

[2016-08-15 10:54] marbat87 commented on #212
Sorry but I'm not sure to understand, because i find eraser-variant in the link you posted.

Regards

[2016-08-18 09:09] MisterY opened #214 "Online generation tool can't create font pack"
http://android-iconics.mikepenz.com/

"ERROR: ReferenceError: TEMPORARY is not defined"

'e is undefined' when clicking Create button

[code]

[2016-08-18 09:12] mikepenz commented on #214
@MisterY could you please tell me which files you provided? and which information you entered?

[2016-08-18 09:19] MisterY commented on #214
Attached is the result from Fontastic. It contains the styles.css and the mmex.ttf, which I've used in this case.

[mmex.zip](https://github.com/mikepenz/Android-Iconics/files/424503/mmex.zip)

[2016-08-18 09:21] MisterY commented on #214
And for the data, I've tried what appeared like legit data as well as some dummy text (i.e. aoeua).
I'm guessing it would have to do with the generated CSS rather than the manually entered font info.

[2016-08-18 09:21] mikepenz commented on #214
Just tried it with the data (and just inserted some dummy text) and it worked
[mmex.zip](https://github.com/mikepenz/Android-Iconics/files/424507/mmex.zip)
<img width="753" alt="bildschirmfoto 2016-08-18 um 11 21 22" src="https://cloud.githubusercontent.com/assets/1476232/17768778/f639e2ec-6535-11e6-87fb-ffe30f7abdb3.png">

[2016-08-18 09:26] MisterY commented on #214
Hm! Thanks for the confirmation!
It does not work in the latest Firefox Developer (50) but it does in Vivaldi (Chromium).
OK, I got the file. Thanks a lot. Will continue testing the lib.
You can try to check what is the issue with Firefox if you can reproduce it. Cheers.

[2016-08-18 09:27] mikepenz commented on #214
@MisterY ah ok :D I am not a real frontend dev so it may not work with anything other than `Chrome` xD

[2016-08-18 09:27] #214 closed

[2016-08-18 12:09] MisterY opened #215 "Resulting Unicode characters not usable"
Hi! Everything seems to work great so far.
The only issue I've encountered is the treatment of 2-char codes. The resulting CSS from Fontastic includes the codes like `'\u61'`.
When parsed into an Iconic library, Android Studio complains that these are invalid escape sequences.
I've fixed it manually by turning them into `'\u0061'` codes, by adding 00.

Now, the issue is that I keep adding individu

[2016-08-18 12:16] mikepenz commented on #215
@MisterY the `iconics-generator` is not open source. I will have a look.

[2016-08-18 12:17] MisterY commented on #215
Sure, no worries. This should be a quick and simple improvement. Thanks for looking into it.

[2016-08-18 17:29] mikepenz commented on #215
This change is now on the site

[2016-08-18 17:29] #215 closed

[2016-08-18 17:50] MisterY commented on #215
Awesome! Thank you!

[2016-08-19 18:49] nfranke opened #216 "IndexOutOfBoundsException in ListView"
If I use a TextView containing an iconics icon set via setText using the { } notation, I see consistent crashes when scrolling. If I replace the TextView with a com.mikepenz.iconics.view.IconicsTextView there is no crash.

[code]

If it helps, my layout entry is:

[2016-08-20 08:57] mikepenz commented on #216
@nfranke hmm weird. Especially as the above does not have any reference to the `Iconics` library. It may be resulted through the spans being handled a bit differently.

Would you be able to just use the `IconicsTextView` in your case? As it just extends from `TextView` anyway.

[2016-08-22 04:01] DeveAndyloper opened #217 "TextView Marquee is not working after enabled automatic xml icons detection."
Is it possible to be compatible with Marquee?
Marquee effect is working after I removed this code:

[code]

[2016-08-22 06:05] #216 closed

[2016-08-22 15:43] nfranke commented on #216
Sorry, I wasn't able to respond this weekend. I did switch to the IconicsTextView class and that works fine.

[2016-08-22 17:26] mikepenz commented on #217
@DeveAndyloper just changed the sample application to have marquee activated inside the `AutomaticActivity` and it works without any problems in there.

You can see the code here:
https://github.com/mikepenz/Android-Iconics/commit/b82dad7e8165c18e088ac68ae8b89e20f48be2d1

[2016-08-22 17:26] #217 closed

[2016-08-23 02:48] DeveAndyloper commented on #217
@mikepenz Thanks for the sample.
It's still not working if I set the text programmatically.

`((TextView) findViewById(R.id.test1)).setSelected(true);
		((TextView) findViewById(R.id.test1)).setEllipsize(TextUtils.TruncateAt.MARQUEE);
		((TextView) findViewById(R.id.test1)).setSingleLine();
		((TextView) findViewById(R.id.test1)).setText("a}asdfsadfa{bc{hif-test}defgh{faw-adjust}ijk{fon-test1}lm{g

[2016-08-23 03:56] EzraLopez opened #218 "Color within text"
Is there a way to get the icon in a different color from the other text in a TextView?

I'm trying to make the heart red, but the following is not working for me:
[code]

[2016-08-23 05:14] mikepenz commented on #218
@EzraLopez sorry this is not possible with the `Android-Iconics` You may just spilt this text up into 2 TextViews and an `IconicsImageView` in the center.

[2016-08-23 05:14] #218 closed

[2016-08-23 05:19] mikepenz commented on #217
@DeveAndyloper as it is working when the text was set via the xml, I also assume that it will start working when setting all the properties after the text was set. Also as it is working via xml + the code above it is no Android-Iconics issue, and rather some combination of `TextView`, `Marquee` and `Spannables` and selection not set or so which causes this.

[2016-08-23 11:24] EzraLopez commented on #218
I end up using three TextViews but wanted to double check with you. Thanks for this great library!

[2016-08-23 11:31] mikepenz commented on #218
@EzraLopez it is quite a rare requirement so I haven't added this, as you can easily achieve it with different implementations too ;)

Thank you. Great it works for you

[2016-08-23 18:44] claudiobastos opened #219 "How to use on setSmallIcon from Notification ?"
I couldn't find (if any) a snippet to use Android Iconics with Notifications .

It's is possible?
How ?

[2016-08-23 18:46] mikepenz commented on #219
@claudiobastos that's not possible as android's `Notification`s only allow you to provide a real resource. Sorry.

[2016-08-23 18:46] #219 closed

[2016-08-23 18:52] claudiobastos commented on #219
Thank for you flash response XD

[2016-08-23 19:05] mikepenz commented on #219
No problem :) Sorry that it is not possible

[2016-08-24 08:31] jiangyongandy opened #220 "How to support the selector?"

[2016-08-24 08:47] mikepenz commented on #220
@jiangyongandy please add more details.

[2016-08-24 08:56] jiangyongandy commented on #220
@mikepenz I want the icon change color when it is pressed or checked  , just like the StateListDrawable.

[2016-08-24 08:57] mikepenz commented on #220
@jiangyongandy you can provide a `TintList` which is a `ColorStateList`, which will then update the color:
https://github.com/mikepenz/Android-Iconics/blob/b8521b6ae449914b064d4b54282b1c9eebdae79e/library-core/src/main/java/com/mikepenz/iconics/IconicsDrawable.java#L823

[2016-08-24 09:09] jiangyongandy commented on #220
@mikepenz Thanks,  How  can  I use it as  a  attributes via XML?

[2016-08-24 09:23] mikepenz commented on #220
You can set it via xml on API >= 21 (http://stackoverflow.com/a/28353871/325479)
otherwise you have to do it programtaically

[2016-08-24 09:23] #220 closed

[2016-08-24 16:21] EzraLopez opened #221 "Using ProGuard without excluding R"
This might be useful to someone:

I didn't want to exclude R from ProGuard so I just initialized the font in my Main Activity like this:

[code]

and defined IconicsLayoutInflater in all my other activities that needed it like indicated
[here](https://github.com/mikepenz/Android-Iconics#3-define-iconicslayoutinflater-to-enable-automatic-xml-icons-detection-optional
):

[code]
(I'm assuming the [al

[2016-08-24 18:01] mikepenz commented on #221
@EzraLopez thanks. That's the correct implementation if you don't want to exclude the `R` fields.

I have marked this as "good to know" hopefully people will use the search function or the tag function prior to asking ;)

[2016-08-24 18:01] #221 closed

[2016-08-24 19:41] guenodz opened #222 "Using icons inside textviews in xml alongside with the Android data binding library"
Hi,

How we can add icons to textviews using XML alongside with the Android data binding library ? which use the same characters: "{" & "}" to bind data. Can we change these characters to new ones ?

Thanks.

[2016-08-24 19:55] EzraLopez commented on #221
Ok, cool. No problem @mikepenz! :) You could also add something related to this to the readme file if you consider it necessary.

[2016-08-24 20:28] mikepenz commented on #221
@EzraLopez if you got time you may can setup a FAQ section similar to the one of the `MaterialDrawer`.

https://github.com/mikepenz/MaterialDrawer/blob/develop/FAQ.md

[2016-08-24 20:31] mikepenz commented on #222
@guenodz hi.

no changing those is not possible. (if changed it will require every single app to be changed to support this again)

Would you be able to just use `ImageView`s or `IconicsImageView`s in your application?

[2016-08-24 21:35] guenodz commented on #222
Hi @mikepenz

Yes, I can use them. But, I wanna add more than one icon to a TextView.The best approach is to add them inside the text in XML.

[2016-08-25 17:30] mikepenz commented on #222
https://github.com/mikepenz/Android-Iconics/commit/66b338ccb48c317089a28492f0db660abb093e35

[2016-08-25 17:30] #222 closed

[2016-08-25 20:35] guenodz commented on #222
Thank you @mikepenz

[2016-08-28 19:47] drinfernoo opened #223 "Should I use -'s or _'s?"
Simple as that. What is the recommended (or required) syntax for icons?<br /><br />For example, should I use gmd_add, or gmd-add, and would is be the same in code vs. in XML?

[2016-08-29 01:40] drinfernoo commented on #223
I've figured it out :)

[2016-08-29 01:40] #223 closed

[2016-09-05 03:13] joielechong commented on #211
Thank you very much.

[2016-09-06 18:21] Eloar commented on #223
@drinfernoo could you provide 'right' answare as you figured it out?

[2016-09-06 19:32] mikepenz commented on #223
@Eloar depends on "where" :D in general it doesn't matter

[2016-09-13 13:41] ade opened #224 "Custom font prefix requires three characters in IconicsImageView"
When making a custom font, three characters in the prefix are required, or the font will not work in XML IconicsImageView

A log message saying "E/Iconics: Wrong icon name: xx_icon_name_here" is only shown, which does not adequately pinpoint the problem.

Suggestion: Add a descriptive error message for this, or support less characters in prefix.

[2016-09-13 13:42] mikepenz commented on #224
@ade the character count for the prefix is documented in javadoc:
https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/typeface/ITypeface.java#L40

[2016-09-13 13:43] mikepenz commented on #224
http://static.javadoc.io/com.mikepenz/iconics-core/2.8.1/com/mikepenz/iconics/typeface/ITypeface.html#getMappingPrefix--

[2016-09-13 13:43] #224 closed

[2016-09-13 13:47] ade commented on #224
Ok, I can see that now. However, I do not believe that prevents potential users from getting confused, as the project readme, the generator itself, or any of the generated code contains this note (I just spent an hour troubleshooting this).

[2016-09-13 13:56] ade opened #225 "Custom font generator does not support backslash character"
When using the custom font generator, the backslash (unicode 0x5C) character value in a font will generate invalid java source code in the icons enum, specifically:

`xxx_icon_name('\u005c'),`

which is equivalent to (in the java compiler):

`xxx_icon_name('\'),`

this escapes the end quote character.

the proper code generated should be:

`xxx_icon_name('\\'),`

Using two unicode codes ('\u005c\u

[2016-09-13 16:00] mikepenz commented on #225
@ade the icon should be in general a single unicode character. (I have not tested) and so I do not support multi character unicode mappings.

Which font generator do you use, which generates cases like the one mentioned above?

[2016-09-13 16:02] mikepenz commented on #224
I know that it does not prevent it, but I can't throw an exception inside the interface. (default methods are not supported)

So I have added the javadoc, and mentioned it here: https://github.com/mikepenz/Android-Iconics/wiki/CustomFontAddonCreating

[2016-09-14 07:50] ade commented on #224
The thing is, the front page contains enough information to make your own custom font with the provided generator page, there's no hint that reading the javadocs or the wiki is necessary. That is why I got this confusing error. So what I'm proposing is a santity check somewhere to avoid this for other users. For example;

- Add a simple length check in the javascript font library generator at http

[2016-09-14 07:53] ade commented on #225
Sorry, perhaps I did not explain the issue adequately. It's a single character. The problem arises due to the compiler interpreting the single backslash character as an escaping character (so instead, it sees an escaped single quote character, and then the parenthesis, so a java syntax error is created).

I'm using IcoMoon.

[2016-09-14 08:11] mikepenz commented on #225
@ade still not really sure. It is correct that it used the backslash as escape character:
https://github.com/mikepenz/Android-Iconics/blob/develop/google-material-typeface-library/src/main/java/com/mikepenz/google_material_typeface_library/GoogleMaterial.java#L117

[2016-09-14 08:12] mikepenz commented on #224
@ade you can open a PR for the later ;)

[2016-09-14 08:15] ade commented on #225
Trying using `\u005c` for any character and you'll see what I mean! :)

[2016-09-14 08:16] ade commented on #224
Fair enough.

[2016-09-14 08:22] mikepenz commented on #225
You miss the `e` after the `u`

[2016-09-14 08:30] ade commented on #225
No - Unicode characters start at \u0000. The "E" you are referring to is just a greater number in the valid range.

[2016-09-14 09:00] mikepenz commented on #225
Oh yeah sorry. was not on a ide right now.

The main issue is exactly the following `\u005c` all chars before and after will work. I think in general it is already not a good idea to use common text characters as icon. Do you have a special use case which requires to stay in such a low unicode range?

[2016-09-14 09:08] ade commented on #225
I agree that it should probably be avoided. This is just what our designer decided to use... It has worked in our other apps so there was not a problem until now. There are more characters that could cause trouble, such as `\u0027`, the single quote character.

[2016-09-14 09:24] mikepenz commented on #225
@ade yes. That's true there may be some more characters. But I think it should be enough to mark this issue as good to know, so hopefully future devs who also have to use such a low unicode range will find it.

[2016-09-14 09:24] #225 closed

[2016-09-15 08:20] rakesh1988 opened #227 "Is it possible to add "Badges" to the icons?"
I would like to know if its possible to add badges for the icons which are placed on the activity. I am aware that https://github.com/mikepenz/Android-ActionItemBadge will help me to add badge to menu item, But, I would like to add it in app.

[2016-09-15 08:24] mikepenz commented on #227
@rakesh1988 the `Android-ActionItemBadge` is only meant for the `Toolbar` that's right.

At the moment there is no plan to have a separate lib which will created badge views. You will have to do it on your own. (There may be already other libs doing something like this)

You can always also use the icons from the `Android-Iconics` as drawable and put them somewhere

[2016-09-15 08:24] #227 closed

[2016-09-17 19:31] drinfernoo opened #228 "Animate IconicsDrawable into another IconicsDrawable"
Is there support for this? Specifically something like a FAB with a 'plus' icon to a 'check' icon.

[2016-09-17 20:44] mikepenz commented on #228
@drinfernoo no this is not supported as we do not have direct access to the font vectors, but rather use the system built in font rendering processor to generate the drawable

[2016-09-17 20:44] #228 closed

[2016-09-17 20:49] drinfernoo commented on #228
That's what I was afraid of. Thanks anyway!

[2016-10-07 12:24] netmas opened #229 "Use android-iconics within a adapter"
Hello Mike, I believe your work is great I'm new to android so this probably very easy to clarify.

I have gridview that is filled with an adapter. This is the adapter's getView method:

`@Override
    public View getView(int p, View convertView, ViewGroup parent) {
        View grid;
        LayoutInflater inflater = (LayoutInflater) mContext
                .getSystemService(Context.LAYOUT_INFLA

[2016-10-07 13:48] netmas commented on #229
I found my mistake:

/*I added this.mContext*/
imageView.setImageDrawable(new IconicsDrawable(this.mContext).icon(FontAwesome.Icon.faw_android).color(Color.RED))

[2016-10-07 13:48] #229 closed

[2016-10-11 12:38] MickHardins opened #230 "only half icon displayed in Android 7.0"
Hi, with the new version of android, icons of drawer appear cutted.
the code i use is:
[code]
As you can see the icon is cutted, but after pressing on the element the icon goes back to it's expected positining.
this happens also if i use the icon as an iconic drawable:
[code]
this issue was not present on android 6.
Any ideas about this ? :smiley:

![screenshot_20161001-183103](https://cloud.githu

[2016-10-11 15:21] mikepenz commented on #230
@MickHardins please update to the latest version of the android iconics library. This was fixed 1 or 2 months ago

[2016-10-11 15:22] #230 closed

[2016-10-11 15:28] MickHardins commented on #230
Sorry to have bothered you, i was pretty sure i had the latest version. Thank you Mike!

[2016-10-11 15:29] mikepenz commented on #230
No problem ;) As long as it works now, everything is fine :D

[2016-10-26 11:00] joaomgcd opened #231 "Use SVG file directly to get a drawable"
Would it be possible to add a SVG to drawable converter? Or is that out of scope for this project?

Thanks in advance

[2016-10-26 15:00] mikepenz commented on #231
@joaomgcd for using `svg`s I recommend to use the Android's built in mechanism via the `VectorDrawable` or the `VectorDrawableCompat`.
There are also already other projects just for the use case with svg's so you might have a look at those too.

This project aims to use the advantage of having an icon font (just a single file) with many possible icons, and using the fast internal text rendering to

[2016-10-26 15:00] #231 closed

[2016-10-26 15:16] joaomgcd commented on #231
Thank you very much for the recommendations :) Really appreciate it!

[2016-10-26 15:27] joaomgcd commented on #231
@mikepenz since you have a lot of experience with this: do you know of way to load a VectorDrawable from the file system? VectorDrawable.createFromPath() always returns a null drawable.

Or do you know a library that does that? Thanks again!

[2016-10-27 11:42] hareesh145 opened #232 "Image flickering"
Hi

When i am entering any text in the edit text iconic image view is flickering.

Thanks in advance

[2016-10-27 14:55] mikepenz commented on #232
@hareesh145 `IconicImageView`? So you have a `EditText` and beside this a `IconicsImageView`?

Those 2 views are independent. So it is no issue of the lib. You can also see something like this in the sample applications playground / automatic mapping activity where you can enter without any flickering or other ui glitches

[2016-10-28 05:15] hareesh145 commented on #232
@mikepenz  With default ImageView i am not getting issue

[2016-10-28 05:42] mikepenz commented on #232
@hareesh145 please provide a sample application showcasing this issue then.

[2016-11-01 15:10] athasamid opened #234 "error Wrong icon name in product flavour"
Hi I  create app with product flavour, this icon work in base app, but not in build variant

[2016-11-01 17:17] mikepenz commented on #234
@athasamid could you please provide some additional details? What do you mean it does not work?

[2016-11-02 06:20] athasamid commented on #234
sorry for my bad english.
the icon show in defaultConfig app, but not in product flavour

here my grade
`buildscript {
    repositories {
        maven { url 'https://maven.fabric.io/public' }
    }

    dependencies {
        classpath 'io.fabric.tools:gradle:1.+'
    }
}
apply plugin: 'com.android.application'
apply plugin: 'io.fabric'

repositories {
    maven { url 'https://maven.fabric.io/pub

[2016-11-02 08:17] mikepenz commented on #234
do you use the icons via xml or java? Do you have some log output regarding the iconics library?

[2016-11-05 04:06] athasamid commented on #234
i use via xml

[2016-11-05 10:12] mikepenz commented on #234
@athasamid oh ok then it'S very easy. Either you follow the steps shown here to support proguard:
https://github.com/mikepenz/Android-Iconics#proguard (which will enable font auto detection)

Or you just register the fonts you use at some place before using. Like done here:
https://github.com/mikepenz/Android-Iconics/blob/develop/app/src/main/java/com/mikepenz/iconics/sample/CustomApplication.java

[2016-11-06 10:39] athasamid commented on #234
i've tried that solution but nothing change, keep show error wrong icon name

[2016-11-08 14:06] msneujink commented on #234
I've encountered the same problem when I define a flavor with a different `applicationId`. None of the icons are shown. The console logs:
[code]
But i've found a fix, add the following code in your Application class. In this case, I am using CommunityMaterial, Fontawesome and GoogleMaterial.

[code]

[2016-11-08 14:08] athasamid commented on #234
thanks, yeah, ive tried that solution too, but nothing happen

[2016-11-08 14:11] mikepenz commented on #234
@athasamid where do you do the `registerFont` in your `CustomApplication`?

@msneujink yes that's the proper way of registering the fonts when proguard or different applicationId prevents the auto detection of the fonts

[2016-11-08 14:16] athasamid commented on #234
in Application class

[2016-11-08 14:26] mikepenz commented on #234
That's weird. do you see any special logcat? Can you probably debug? Are you sure this icon does not exist? Have you tried it programatically instead XML?

[2016-11-13 11:54] mikepenz commented on #232
I close this as I can't reproduce this without a samle

[2016-11-13 11:54] #232 closed

[2016-11-13 11:56] mikepenz commented on #234
@athasamid please report back

[2016-11-17 16:36] #234 closed

[2016-11-22 07:40] amithgc opened #236 "Issue with Multiple Icons in text"
Using versions
 compile "com.mikepenz:iconics-core:2.8.1@aar"
 compile 'com.mikepenz:community-material-typeface:1.7.22.1@aar'

I am using Android-Iconics to display star rating, I have a TextView and when i put the following code in XML, everything works fine

[code]

But when i do the save in Java code,
`stars.setText("{cmd_star}{cmd_star}{cmd_star}{cmd_star_half}{cmd_star_outline}");`
the secon

[2016-11-22 07:43] mikepenz commented on #236
@amithgc in general I recommend not to use it like this, there is also a android component doing a rating bar with stars?

other than this. it might be a bug, which I have to debug first

[2016-11-22 07:45] amithgc commented on #236
Thanks, Please let me know if this is a bug. If yes we will find a workaround for now

[2016-11-22 08:48] arvi opened #237 "Icon not appearing on extends Activity"
Hello, thanks for this plugin. I was able to make it work if class extends to AppCompatActivity, but for my activities with no action bar which extends to Activity I can't make it work since there is no `getDelegate()`.

`LayoutInflaterCompat.setFactory(getLayoutInflater(), new IconicsLayoutInflater(getDelegate()));`

Do you have any suggestions to make this work on cases it extends Activity? Than

[2016-11-22 09:03] mikepenz commented on #237
@arvi in general you don't have to use the iconics inside text. Youc an use them as normal drawables everywhere.

In addition if the automatic solution would not work in your case, to just do it manually.
https://github.com/mikepenz/Android-Iconics/blob/develop/app/src/main/java/com/mikepenz/iconics/sample/PlaygroundActivity.java#L57

[2016-11-22 13:36] RobertBroersma opened #238 "Can't get the icons to appear"
I'm new to Android development, and your libraries have helped me to learn rapidly, thanks!

However I can't get the icons to show up. I followed the readme line by line, and tried both options in step 3, but couldn't get it to work. I tried to resort to `com.mikepenz.iconics.view.IconicsImageView` but no icon shows up.

This is my entire xml layout file
[code]

I also added this to my Proguard fi

[2016-11-22 14:29] mikepenz commented on #238
@RobertBroersma your "app" namespace refers to the `tools` instead to `res-auto`

[2016-11-22 14:29] #238 closed

[2016-11-22 14:54] RobertBroersma commented on #238
Rookie mistake it is, thanks!

[2016-11-23 04:31] arvi commented on #237
Thank you I will use this as guide. :smile:

[2016-11-23 04:31] #237 closed

[2016-11-27 12:05] B-Esmaili opened #239 "Couldnt align icon to the right"
I have downloaded and tested your lib , it's simply awesome! but i am not able to align icon to right with non-latin letters.

this is the case i am talking about

<img width="289" alt="2016-11-27_153630" src="https://cloud.githubusercontent.com/assets/9152515/20648275/84c9dffa-b4b7-11e6-93d0-b49b2b8de734.png">

any idea how can i make it float to right?

[2016-11-28 08:15] mikepenz commented on #239
@B-Esmaili this is not library dependent. seems like some android framework thing.

In your case I suggest to set it as compound drawable or just in an ImageView programatically.

[2016-11-29 07:00] B-Esmaili commented on #239
@mikepenz  thanks for your response, i resolved the issue by creating custom `Drawable` from `faw` and setting `DrawableRight` manually.

[2016-11-29 08:29] mikepenz commented on #239
great.

[2016-11-29 08:29] #239 closed

[2016-12-05 19:35] sagits opened #240 "Icon padding"
Hey @mikepenz , im having that design issue where the icons have different paddings.

I know that the builder has a setPaddingDp() function, which sets all four paddings. Im thinking about creating separeted functions for the 4 sides and defining the original paddings somehow (in a way other users can select the icon and use an automatic padding function). Do you think that will work? Thanks in ad

[2016-12-05 20:28] mikepenz commented on #240
@sagits do these icons have the paddings already in the raw data?
If yes you could try `respectFontBounds(true)`

If not there are the methods to define an offset inside its bounds

[2016-12-05 22:22] sagits commented on #240
@mikepenz thanks for answering, i wanna try this approach for the Material Design fonts. I know that they have a default padding, but its the same padding for all 4 sides. I wanna give custom paddings to the 4 sides (following the original icon guides).

My intention is to make this in a way i could make a pull request later and help other users with this issue.
What do you suggest?

[2016-12-05 22:26] mikepenz commented on #240
@sagits with `respectFontBounds` it should have the correct paddings as defined inside the font. so this should be fine for those icons. Are you sure it does not change?

I am not sure how such a PR would look like as you would basically have to go though all icons and add a util or a helper to define the correct paddings for those.

[2016-12-05 23:45] sagits commented on #240
Thanks for answering. I have followed the discussion on this issues:
https://github.com/mikepenz/Android-Iconics/issues/85
https://github.com/mikepenz/Android-Iconics/issues/48

As you said:
"The thing is that google does not use the same paddings for all of their icons, and i see no programmatically solution to automatically define the different paddings."

I guess that respectFontBounds will not

[2016-12-06 07:53] mikepenz commented on #240
@sagits yes that was in those old issues. `respectFontBounds` was added at a later point, adding the feature that it will now set the paddings as defined in the font. (I didn't know in the past that this was possible) As far as I've seen, this worked. But maybe I am wrong.

Not sure. Perhaps adding this informatoin to the "enum" of the font

[2016-12-06 17:17] sagits commented on #240
Thanks @mikepenz  Ill give it a try and answer if it solves the problem. By the way, how could i use respectfontBounds along with IconicsImageView in xml? Thanks in advance.

[2016-12-06 17:51] mikepenz commented on #240
@sagits currently not possible via xml only.

[2016-12-09 20:35] sagits commented on #240
Hi @mikepenz , i have tryied to set default paddings using respectFontBounds() for the GoogleMaterial font but it didnt work. Im in a hurry with a project, but if i came up with something usefull ill let your know. Thanks again.

[2016-12-16 04:08] ashwanikumar04 opened #241 "Which context to use for IconDrawable"
Hello:

This is more of a question than an issue.

We can use ```IconicsDrawable``` with ImageView. My question is what context to use with it.
Suppose I have an icon which is shown in a recyclerview. Icon's image changes with some logic so I will use IconicsDrawable.
Here is it better to use ApplicationContext and cache the drawables in the adapter and then use them accordingly?
Thanks

[2016-12-16 08:13] mikepenz commented on #241
@ashwanikumar04 the `IconicsDrawable` will allways make sure to use the `ApplicationContext`
https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/IconicsDrawable.java#L127

The context is mainly used to resolve resources you may pass into the drawable

[2016-12-22 13:05] ashwanikumar04 commented on #241
Thanks :)

[2016-12-22 13:05] #241 closed

[2016-12-27 08:18] #240 closed

[2016-12-27 08:39] #236 closed

[2016-12-31 17:15] Tolriq opened #242 "IconicsDrawable error handling"
First thanks for the lib it's pretty cool :)

There's just a small limitation about error handling that I'd like to enhance (Can do PR once you decide how).

Currently when creating IconicsDrawable with an invalid icon name it will log something but there's no status or anything that app can check to see if the Drawable is correctly initialized.

It's problematic to correctly handle problems like

[2017-01-01 11:38] mikepenz commented on #242
@Tolriq to say it in a different way, you would like to have a fallback icon if the main icon fails to load?

My only question is, you as developer implement it, so during implementation you check if the icon is there, so you can take care this is shown during implementation, and nothing will change in the icon set itself after you implemented it?

I understand such a usecase for image loader libr

[2017-01-01 12:42] Tolriq commented on #242
Well for my use case yes a fallback could be ok but maybe not enough for other cases if a user want to show a non iconic Drawable.

Maybe I was not clear about the use case.

A user can assign icon to something displayed in a recyclerview. Since this data can be persistent the name of the icon will be stored somewhere and can be used with another version of the application.

Then displayed with fo

[2017-01-02 13:59] kalyandechiraju opened #243 "Need help in displaying all icons and storing the icon value in DB"
Hi, I want to display list of all available icons under one Font type (say GoogleMaterial) and store the picked icon in DB. Can anyone help me out in implementing this?

[2017-01-02 14:32] mikepenz commented on #243
@kalyandechiraju just check out the sample app. that does exactly this.

[2017-01-02 14:32] #243 closed

[2017-01-02 17:45] kalyandechiraju commented on #243
Hi @mikepenz Can I know if it's possible to set icon in textview at runtime? All I am trying is to get weather condition ID from openweather map api and trying to resolve icon and set it to textview. Can you please help me out? Thank you

[2017-01-02 18:30] mikepenz commented on #243
@kalyandechiraju yes that's possible. check out the sample app's code. it showcases how you can do this ;)

[2017-01-06 23:47] komlan55 opened #244 "IconicsButton background color"
Is it possible to change the background color of a IconicsButton
?

[2017-01-08 13:11] mikepenz commented on #244
@komlan55 it is a normal `Button` so it supports everything a normal button does

[2017-01-08 13:11] #244 closed

[2017-01-09 11:20] Tolriq commented on #242
@mikepenz any thoughts about the need? Finally your lib fulfill my needs so I'll use it in production and need to know what will be my todo list if / when I'll update your lib with more icons.

[2017-01-09 11:29] Rainer-Lang commented on #242
I agree with @mikepenz - icons are static. For all other I would use Glide or Piccasso, there you have "error" and "placeholder" and even "thumbnail".

[2017-01-09 11:45] Tolriq commented on #242
I guess my English is really bad ;)

Icons are not static by nature, they are static only for the embedded font at one single time.

Let met explains with how I use the library and why error handling is needed.

In my application users can create custom commands to replace buttons in a remote screen. They can associate icons with the command and everything is saved on the cloud.

So when they use

[2017-01-09 11:57] Rainer-Lang commented on #242
Why store the name of an icon? I think this is the point. 😉

[2017-01-09 12:00] Rainer-Lang commented on #242
Read your text once more. Maybe a method like "iconExists" would be good...

[2017-01-09 12:00] Tolriq commented on #242
Then please tell me, how do you allow a user to assign an icon to something, store it in the cloud and allow restoration?

And even if not using name, but codepoint or anything else, that does not change the issue, at one point the user can have data that point to an icon that his version of the application does not have.

Anyway no problem if you do not understand this basic need, I'll keep a for

[2017-01-09 12:24] Rainer-Lang commented on #242
@Tolriq could yiu provide a link to your methid in your fork?

[2017-01-09 12:29] Tolriq commented on #242
For the moment I'm in beta so I've just added a temp solution copied from IconicsDrawable source.

There's not yet a fork as I don't know what Mike would prefer.

[code]

[2017-01-09 12:49] mikepenz commented on #242
@Tolriq I am fine with a PR and I think the above method would definitely be helpful :).

The only issue is that `Application.getInstance()` shouldn't be used, and the context should be passed in via the method

[2017-01-09 13:15] Tolriq commented on #242
#245

This was just a quick internal function ;)

[2017-01-13 15:34] xawill opened #246 "google-material-typeface is now v3.0.1"
google-material-typeface is now v3.0.1

Thank you for the update :)

[2017-01-18 11:10] VAdaihiep commented on #67
I have same issue: Wrong icon name gmd_xxx after i try to integrate google admob.
And thanks to @gpulido because
[code]
works fine (but i dont know why 😂 )

[2017-01-23 18:07] gittieatlas opened #247 "Error in log: Wrong fontId: offset=0, length=1"
Hi. I have implemented your library successfully. It is working correctly as far as I can see, however I am getting error in my logcat when typing in an EditText that is connected to a PlaceAutocompleteAdapter. Each time I type another letter the log changes to length = +1. I have no idea where I went wrong. Do you have any clue what might be causing the error to appear?

App ui:
https://gyazo.com

[2017-01-23 18:24] mikepenz commented on #247
It will probably go away after you removed `LayoutInflaterCompat.setFactory(getLayoutInflater(), new IconicsLayoutInflater(getDelegate()));` and set iconics drawables manually.

The question remains why it thinks that your text should contain an icon

[2017-01-23 19:29] kalyandechiraju opened #248 "How to set the icon color and size for icons rendered using {icon-identifier} syntax?"
If I want to render the iconics using the { icon-definer } syntax into a textview from code, then can I set the color and icon size for that icon?

[2017-01-23 19:57] gittieatlas commented on #247
if I remove `LayoutInflaterCompat.setFactory(getLayoutInflater(), new IconicsLayoutInflater(getDelegate()));` should using
[code]
in xml still work?

[2017-01-23 20:17] mikepenz commented on #247
`IconicsImageView` will still work. yes

[2017-01-23 20:18] mikepenz commented on #247
The `LayoutInflaterCompat` would just allow you to use icons in any `TextView` or any `EditText` in your whole app. I anyway suggest having it defined just wherever you need it, as it give you greater control

[2017-01-23 20:19] mikepenz commented on #248
@kalyandechiraju this is supported to a specific amount. You can find out more in the sample app.

This will allow you to color an icon:
https://github.com/mikepenz/Android-Iconics/blob/develop/app/src/main/java/com/mikepenz/iconics/sample/PlaygroundActivity.java#L59

[2017-01-23 20:25] gittieatlas commented on #247
Okay. Thank you for the prompt response :)

[2017-01-23 20:25] #247 closed

[2017-01-23 20:26] kalyandechiraju commented on #248
That's a good one in the sample. But my TextView already has some text before and after the icon. Then I think that way won't help me.

[2017-01-23 20:32] mikepenz commented on #248
the code will just style the icon. not the text before and after

[2017-01-23 20:57] kalyandechiraju commented on #248
Will that sample code append the icon to the passed in TextView ?

[2017-01-23 20:58] mikepenz commented on #248
[code]

will just apply the colorspan and forgroundspan and RelativeSizeSpan on the "faw-adjust" icon in the given textview for example.

[2017-01-23 21:06] kalyandechiraju commented on #248
perfect

[2017-01-23 21:06] #248 closed

[2017-01-23 21:10] mikepenz commented on #242
Sorry for missing this one for so long. merged your PR

[2017-01-23 21:10] #242 closed

[2017-01-25 15:12] EnotBoris opened #249 "Help please! Error: Unfortunately, App has stopped."
I have implemented a NavigationDrawer using the MaterialDrawer by Mike Penz.
It works fine, but when I try to replace the icons "FontAwesome" on "GoogleMaterial" or other get an error "Unfortunately, App has stopped."
All working only with icons "FontAwesome"
How can this problem be solved?
Thank you in advance!

MainActivity.java:
[code]

activity_main.xml:
[code]

build.gradle:
[code]
AndroidMan

[2017-01-25 21:42] mikepenz commented on #249
@EnotBoris first. Why are you including all the icons dependencies?

Second. You are just replacing the `.withIcon(FontAwesome.Icon.faw_map_marker),` with the `GoogleMaterial` icon?

[2017-01-25 21:51] mikepenz commented on #246
I will try to update this very soon

[2017-01-26 03:52] EnotBoris commented on #249
@mikepenz I am new to java and many do not know yet. Explain, please, is it possible to use several icon sets and how to do it.
1. I include all the icons dependencies, that I can use all of the fonts. It's wrong?
2. I replaced
`new PrimaryDrawerItem().withName(R.string.drawer_item_map).withIcon(FontAwesome.Icon.faw_map)`
on
`new PrimaryDrawerItem().withName(R.string.drawer_item_map).withIcon(Font

[2017-01-26 06:03] EnotBoris commented on #249
The problem is solved, you can close

Solve:
[code]

[2017-01-26 13:25] #249 closed

[2017-02-01 18:19] jayrave opened #250 "google-material-typeface-library like `font_addon.xml` for all font modules"
Hey Mike, `google-material-typeface-library`'s `font_addon.xml` has string resource for all the icons in that module & they are really useful while setting up the icons using `IconicsImageView` & siblings via XML. Between versions, if the code for an icon has changed, a compilation error would be thrown instead of later seeing empty space on UI in runtime (unless some other icon has taken on that

[2017-02-01 18:57] mikepenz commented on #250
@jayrave you can do a PR and provide something like this :D

[2017-02-01 19:13] jayrave commented on #250
Sure. Sounds good. I will start working on it

[2017-02-06 23:02] rpgdev opened #251 "Is there a way to "group" the selection of drawer items?"
I'm wondering if there is a way to take into account the grouping of drawer items in order to only keep one item selected in each group. As it is, multiselect lets you choose multiple items regardless of where they are located. I'd like to be able to select one item from one collapsable drawer item and then select another from other collapsable drawer item while leaving the previous one selected (

[2017-02-06 23:09] mikepenz commented on #251
@rpgdev first this question is in the wrong repository.
Second no this feature does not exist, and would need to be implemented manually on your side

[2017-02-06 23:09] #251 closed

[2017-02-06 23:15] rpgdev commented on #251
Sorry, my bad. I had both tabs opened alongside each other and that's why it happened. Can you please give me some pointers as to where I could begin to implement this behaviour?

[2017-02-07 08:26] mikepenz commented on #251
@rpgdev basically you will have to listen to the click events and then decide based on select/deselect if this current item is in group 1 and then check if you have to selecect somethinng in group 1

[2017-02-07 13:18] NovaViper opened #252 "Question: Is it possible to use Iconics to load custom icons?"
Hey, is it any way possible to use this library to load custom icons, like you can with fonts?

[2017-02-07 14:27] mikepenz commented on #252
@NovaViper you can use it to load custom fonts, so you just create a extension with the icons.

For vectors, or normal drawables just use the system default components

[2017-02-07 17:02] NovaViper commented on #252
Ah ok, I'm trying to load the icons from Iconics for my fragments in my app intro.. I can't see to find the methods in the xml to load the images in the default ImageViewer nor in the Iconics ImageViewer (for this, I can't get the images to display)

[2017-02-07 18:42] mikepenz commented on #252
what's the log output?

[2017-02-07 18:43] NovaViper commented on #252
There isn't any log output.. it just doesn't show me anything when I enter it in the xml (in preview mode)

[2017-02-07 18:52] mikepenz commented on #252
In preview mode you will never see it :D

[2017-02-07 19:19] NovaViper commented on #252
Oh *facepalm* Then is there a way to have the icons switch on certain conditions, say if the lockscreen is unlocked?

[2017-02-07 19:29] mikepenz commented on #252
@NovaViper do it programatically as you would do it in general :D

[2017-02-07 19:51] NovaViper commented on #252
I know but I'm trying to add in the icon in the, but it says unexpected namespace

[code]

[2017-02-07 20:01] NovaViper commented on #252
And I do another notice another strange thing.. When I do force the icon to change programmically, nothing displays (Sorry I'm asking alot of questions, I'm just having a hard time figuring out what's wrong <_>)
Fragment Code: https://paste.ofcode.org/9DYLDqfXEJYBV6hp58yQAS
XML: https://paste.ofcode.org/SUYWNkihaQrT3KakB25yqd
Main Activity: https://paste.ofcode.org/PAGPMyH5UiTUkZEmueYmCH

[2017-02-07 20:06] mikepenz commented on #252
You should give the icons a size

[2017-02-07 20:06] mikepenz commented on #252
And color :D

[2017-02-07 20:12] NovaViper commented on #252
Ah ha! I changed from "setImageDrawable" to 'setIcon' and I can get the program to display the icons on switch.. but now I got one important question; how do I get the icon to fit inside the parent LinearLayout?

[2017-02-07 20:22] mikepenz commented on #252
@NovaViper that's nothing for the Drawable. That's just layout's and definition of your ImageView :D

[2017-02-07 20:22] #252 closed

[2017-02-07 20:24] NovaViper commented on #252
Oh, lol. Thanks for helping!

[2017-02-07 23:08] rpgdev commented on #251
@mikepenz I tried this but it seems you can't select more than one item in code even with multiselect set to true. Is there a way to accomplish this? I wanted to set as selected some fields from the get go and allow the user to change them as they went along using the app. I know that isn't exactly the use that should be given to the drawer but in my app it makes sense.

[2017-02-10 22:39] rpgdev commented on #251
@mikepenz for the record, I ended up modifying your lib and removing the deselect() inside setSelected(), it made it easier to get the behavior I wanted. Granted now I don't take advantage of the one in the repo but it works and since the modification is so simple I can easily update the drawer if need be. Thanks!

[2017-02-11 14:12] csbenz opened #253 "Add a emoji character inside an IconicsImageView"
When i use `setIconText()` with the unicode character for my icon, it only display the unicode value.

[2017-02-12 17:18] mikepenz commented on #253
@csbenz that's how this method works. It uses a text and displays this text. there is the method `icon` which will use the icon name:

[2017-02-12 17:19] mikepenz commented on #253
https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/IconicsDrawable.java#L175

[2017-02-12 17:19] #253 closed

[2017-02-13 01:00] csbenz commented on #253
Are you suggesting I can use that method to display a system emoji such as 🎩? Because nothing is shown when I do that.

[2017-02-13 08:31] mikepenz commented on #253
@csbenz this library is not meant nor can't it show system emojis

[2017-02-16 22:41] danielfaust commented on #227
Hi Mike,

I'm trying to overlay a text over an IconicsButton. Basically it is an IconicsButton in a frame, and it has a TextView as the next sibling. On a standard ImageButton it works, but as soon as I replace it with a IconicsButton, the text is drawn behind the icon.

Could you please briefly explain why this happens? Should I then add the icon as a drawable for the background of the TextView?

[2017-02-18 12:55] chrisonline opened #254 "WearAction - addAction - How to use it?"
I want to use it via the Android Wear or Notification method addAction.
But this method does only accept an int to the drawable, but not a drawable.

How can I use it with your library?
Or is this not possible?

[2017-02-19 15:05] mikepenz commented on #254
@chrisonline notifications do only allow real resources, no programatically generated drawables. So you can not use it there. Sorry. That's no limitation of the lib, that's a general limitation of the system.

[2017-02-19 15:05] #254 closed

[2017-02-20 02:11] powerhcm8 commented on #83
I found a "workaround" is just a way to display the drawable but must work in most cases.

1. Download [Material Design icons](https://github.com/google/material-design-icons).
2. Copy the content of all subsfolder `drawable-anydpi-v21` in paste in `debug/res/drawable-v21`.
3. By using tools namespace to show only in editor and any propriety that uses drawable you can show at least the svg icons f

[2017-02-20 05:28] spoonart1 opened #255 "Icon not renderred properly on specific devices"
Hello, i have been using this powerful libs for my app.
i was using my custom font for my icon, but suddenly the icon not renderred properly on some devices..
here..

this how it looks on MOTO G (1ST GEN) | MOTO X (2 GEN) - ANDROID 4.4 | HINDI | ARABIC | GERMAN
![screen shot 2017-02-20 at 12 18 15 pm](https://cloud.githubusercontent.com/assets/17171325/23112968/43d052de-f767-11e6-9eea-1c7631cce0fb

[2017-02-20 08:31] mikepenz commented on #83
@powerhcm8 that works sure. But you will have some additional effort just to see it in that editor.

[2017-02-20 08:33] mikepenz commented on #255
@spoonart1 which typeface do you use? And which version of the library?
It seems some phones have altered the way of font rendering which results in this issue for some unicode range.

You may want to use the `material-design-iconic-typeface` and try if it solves the problem

[2017-02-23 19:45] rpgdev opened #256 "Community Material update"
Any chance of having an update to the Iconics community material? They are on 1.8.36 now with quite a few new icons added. Please consider it.

Thanks!

[2017-02-23 20:24] mikepenz commented on #256
@rpgdev it possible will take me a bit longer to update. You could open a PR updating it though :D

[2017-02-24 14:06] rpgdev commented on #256
I may just do that haha.

[2017-02-24 17:04] mikepenz commented on #255
This maybe the same as discussed here:
https://github.com/mikepenz/Android-Iconics/issues/90
And this:
https://github.com/mikepenz/Android-Iconics/issues/179#issuecomment-231070781

[2017-02-24 17:04] #255 closed

[2017-02-24 17:05] mikepenz commented on #250
@jayrave I'll close this issue as it is no more issue :) I would still love to see a PR at some point, if you find time.

[2017-02-24 17:05] #250 closed

[2017-02-24 17:52] mikepenz commented on #246
Updated to 3.0.1. But there were no new icons

[2017-02-24 17:52] #246 closed

[2017-02-24 18:04] mikepenz commented on #256
I currently do the update. Thanks anyways ;)
For the next time you can also use: http://android-iconics.mikepenz.com/

[2017-02-24 18:04] #256 closed

[2017-02-25 04:07] toyongbanatero opened #257 "[SUGGESTION] Show Icon Parts in Editor as a symbol"
Hello! I've been using Android Iconics since I saw this repo about 2 years ago and it is great! Easy adding of icons and combining text with icons everywhere is very easy. So now with my question (or suggestion).

We know that adding icons in XML using `IconicsButton` or `IconicsTextView` requires you to have a format of `{cmd-delete}` as an example. Now when you look at the Layout Editor of Andro

[2017-02-26 14:47] chrisonline opened #258 "Community Material Design Icons - Icon "Widgets" not shown"
I use the cmd icons and the cmd-widgets is not shown in the app.

https://materialdesignicons.com/icon/widgets

Here the code:
`<ImageView
                        android:layout_width="48dp"
                        android:layout_height="48dp"
                        android:layout_margin="20dp"
                        app:ico_color="@color/category_phone"
                        app:ico_icon="cmd

[2017-02-26 19:14] mikepenz commented on #258
@chrisonline you have the "cmd" icon set which are the material community icons, and not the google material icons. Just use the sample app to check which icons are in which icon set.

[2017-02-26 19:14] #258 closed

[2017-02-26 20:18] chrisonline commented on #258
No I rever  to this website; http://materialdesignicons.com/ and this are the community Material Design Icons!

[2017-02-27 08:25] mikepenz commented on #258
@chrisonline do you have an too old addon included? If you check the sample app you will see it is there, and works

[2017-02-27 09:42] chrisonline commented on #258
@mikepenz Yeah you are right. Have missed that the cmd font library was also updated. Sorry to bother you!

[2017-02-28 16:18] rpgdev commented on #256
Thanks @mikepenz!

[2017-03-11 16:01] pn opened #259 "Wrong case on AlertDialog buttons when using IconicsLayoutInflater"
It seems adding
`LayoutInflaterCompat.setFactory(getLayoutInflater(), new IconicsLayoutInflater(getDelegate()));`
breaks style of AlertDialog buttons which should be upper case but aren't.

To reproduce create simple dialog with lower case text action button in AutomaticActivity.

[2017-03-11 16:46] mikepenz commented on #259
@pn in Android spannables do not work if the text of a button is `UPPERCASE` which is the default on the system, so the inflator changes this to make icons possible (setting the text in uppercase in the first place is more performant by the way anyways)  Please use the normal `IconicsDrawable` approach if the above does not work as you expect

[2017-03-11 16:46] #259 closed

[2017-03-11 17:08] pn commented on #259
@mikepenz Thanks, that is what I did. If that is intended behavior than maybe it should be documented or at least users should be warned that this method may have some side effects except adding icons.

[2017-03-12 11:45] dreamcatcha commented on #201
Is it possible for Iconics to target only specific view in a layout? So the TextAllCaps can work for everything else that isn't targeted?

[2017-03-12 14:11] mikepenz commented on #201
Yes there is. Showcased in the sample application: https://github.com/mikepenz/Android-Iconics/blob/develop/app/src/main/java/com/mikepenz/iconics/sample/PlaygroundActivity.java#L57

[2017-03-13 01:12] dreamcatcha commented on #201
Brilliant Thank you!

[2017-03-14 03:26] msegmx opened #260 "IconicsLayoutInflater and Home Screen Widget"
Is it possible to use Iconics in a layout xml file of a home screen widget ?

Since AppCompatDelegate only supports an Activity I can't use this line

`LayoutInflaterCompat.setFactory(getLayoutInflater(), new IconicsLayoutInflater(getDelegate()));`

inside AppWidgetProvider.

Using <com.mikepenz.iconics.view.IconicsCompatButton> just gives an error inside the home screen widget, nothing in logcat.

[2017-03-14 08:30] mikepenz commented on #260
@msegmx no you can't use the inflater there. But you can use the manual approach and just replace the iconics icons on the `TextView`s (buttons) where you need.

Have a look here:
https://github.com/mikepenz/Android-Iconics/blob/develop/app/src/main/java/com/mikepenz/iconics/sample/PlaygroundActivity.java#L56

[2017-03-14 08:30] #260 closed

[2017-03-16 06:55] natnayr opened #261 "[Suggestion] Update Community Material Icons pls"
Hi,

Please update cause i dun see a "decagram" Icon in your nice little library that has made my life easier. I think quite afew others are missing too :)

Thanks

[2017-03-16 08:42] mikepenz commented on #261
@natnayr this icon is not mapped in their *.css web font. Nothing I can do about it. (check yourself by downloading their zip and opening the materialdesignicons.css)

The icon font of Android-Iconics is already on the latest though

[2017-03-16 08:42] #261 closed

[2017-03-16 08:54] natnayr commented on #261
Thanks :)

just checked and its quite a new icon in their library, will wait for it to roll out.

[2017-03-18 09:39] thaindq opened #262 "Images in textview are displayed incorrectly when using IconicsLayoutInflater"
I'm using textview to display some images from html using Html.fromHtml with an ImageGetter implemented using Glide.

![](http://i.imgur.com/u2e1l1O.png)

Everything is ok until I use IconicsLayoutInflater to enable automatic xml icons detection and images start to display incorrectly

![](http://i.imgur.com/JS0jbRX.png)

I've tried both ways `set factory` and `inject to context` but results are t

[2017-03-19 19:58] mikepenz commented on #262
@thaindq seems like the spannables do not like each other. In this case I suggest to simply not use the `IconicsLayoutInflator` and just use the `Iconics` icons on views where you need them

[2017-03-20 23:50] thaindq commented on #262
@mikepenz: thank you. I switched to custom views and it's running fine now.

[2017-03-21 01:05] #262 closed

[2017-03-22 00:27] drewlarsen opened #263 "Does the IconicsLayoutInflater work with android.support.v7.widget.AppCompatButton buttons?"
I've been incorporating your library into my project for the past couple weeks successfully, thank you for your efforts!

I have an xml layout which I've a/b tested with android.support.v7.widget.AppCompatButton and just a plain Button:

[code]

I am using the IconicsLayoutInflater:

[code]

When using just a plain `Button`, the font awesome icon appears, when I use the `AppCompatButton`, I get on

[2017-03-22 08:48] mikepenz commented on #263
it should as the `AcppCompatButton` extends the `TextView`
It might be related to the `TextAllCaps` flag which is set to the view by it I think

[2017-03-22 08:49] mikepenz commented on #263
In general I would anyways suggest to directly use the `Iconics` class to apply the icon, or set it as compount drawable. It is not necessary to check all TextViews for a possible icon which needs to be replaced

[2017-03-22 15:26] drewlarsen commented on #263
ok, thx for the feedback. Would it make sense to extend AppCompatButton in a similar way to the extension of Button?

[code]

This seems to work. I like the cleanliness of having the {faw-*} icons in the strings.xml file rather than in code across my app. Or am I missing something? Would you want a pull request with this?

[2017-03-26 17:27] DasserBasyouni opened #264 "[Question] Icons doesn't appears in XML"
Is there is a way to make icons appear in XML?

[2017-03-27 07:55] mikepenz commented on #264
@DasserBasyouni sadly not. Android can not draw the icon in the xml preview. you could theoretically use a placeholder icon via the tools namespace and set it there. But the drawn Android-Iconics can't be displayed in there

[2017-03-27 07:55] #264 closed

[2017-03-27 23:13] rpgdev opened #265 "Icons are being cutoff on ImageViews"
I'm having issues showing the community material icons on ImageViews. If you take a look at the screenshot attached you'll see that the icons are being cutoff on the left and top side. I thought this was because of the margins but I've set the ImageViews with no margin and the issue still happens. Adjusting the size of the imageview seems to fix the issue sometimes but aren't these icons supposed

[2017-03-28 07:47] mikepenz commented on #265
@rpgdev the icons are size independent. The question is how you apply the icons to that `ImageView` which `scaleType` is set to the `ImageView` and which `size()` the `IconicsDrawable` were crated with.

They still have to follow the normal rules of scaling within an `ImageView` :D

[2017-03-28 07:48] mikepenz commented on #263
@drewlarsen you can also do the `SetAllCaps` false via xml. So if you know it, you won't necessarily need a different view ;)

[2017-03-28 07:48] #263 closed

[2017-03-28 13:41] rpgdev commented on #265
@mikepenz What do you mean by "and which size() the IconicsDrawable were crated with"? I'm passing the drawable to the imageview without changing the drawable in any way, trusting that they will scale right and they do, but then this issue happens.

The emoji in the middle is shown in this imageview:
            <ImageView
                android:id="@+id/ivEmoji"
                android:layout_wi

[2017-03-28 13:44] mikepenz commented on #265
@rpgdev you should give them a size. the android system can otherwise not correctly define its bounds resulting in issues like the one you see.

https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/IconicsDrawable.java#L452

[2017-03-28 14:34] rpgdev commented on #265
Interesting, I applied the icon size using `app:ico_size` but the issue still occurs. Weirdly, I see now that it only occurs on my 4.2.2 device, I can't reproduce it on other versions of android or 4.2 emulators. Could something in that version of android be causing this issue?

[2017-03-28 21:46] DasserBasyouni opened #266 "[Issue] with changing IconicButton to have an icon in class"
I was trying to get a button to have an icon at certain condition so, I test this line at onCreate first
`button.setText("{faw-repeat} " + button.getText());`
It have made the button works with icon very well but after nearly 5 seconds it FC cuz of this Logcat
also I have changed the button color to red while it was having the app color (pinky) with the style
`style="?android:attr/buttonBarButtonS

[2017-03-28 23:15] mikepenz commented on #266
@DasserBasyouni the crash isn't directly happening from the library. it happens because of firebase.

As this is not working (as of firebase's fault) simply use the `IconicsDrawable` as compound drawable

[2017-03-29 08:48] DasserBasyouni commented on #266
thank you `setCompoundDrawables` solves the FC

[2017-03-29 08:48] #266 closed

[2017-03-31 09:27] mikepenz commented on #265
@rpgdev yeah it could be. Are you seeing the same issue in the sample app?

[2017-03-31 16:16] rpgdev commented on #265
@mikepenz they look fine in the sample appv :/

[2017-04-05 07:49] mikepenz commented on #265
Perhaps you can try a few more things. like shown in the sample app. It should work for you too

[2017-04-07 01:42] DasserBasyouni opened #267 "[Question] Isn't the ico_size working on xml's IconicsButton?"
I am trying to set button size and round shape by this layout
[code]
the ico_size is not working, and if there is an option i don't know in `Android-Iconics Library` make round shape I appreatiat if you have mentioned it

Thank you, for a great library and a great responding to its users till now

[2017-04-07 07:54] mikepenz commented on #267
@DasserBasyouni the `ico_size` is not working in this case as the `IconicsButton` does not use the raw `IconicsDrawable` but instead displays the drawable as part of the text. This means the icon will always be in the same size as the text.

If you want to change the icon size in that case, either set it as `CompoundDrawable` programatically (which is the better solution) or you do this:
https://g

[2017-04-07 14:46] RiccardoM opened #268 "Typeface making impossibile to include custom library if used inside them"
Hi, first of all thanks for the awesome job you've made with this library.

I'd like to report to you a strange behaviour that I've encoutered while working with it inside a custom library that I'm currently working on.

## The error
The situation is the following:

**1**. I have a custom library, let's call it `library`, which has the following code inside its `build.gradle` file:
[code]

This li

[2017-04-07 14:50] mikepenz commented on #268
@RiccardoM have you tried to exclude this "wrong" sub dependency? Like shown here: http://stackoverflow.com/a/21765656/325479

[2017-04-07 14:56] RiccardoM commented on #268
@mikepenz I've just tried and now everything is working properly 👍 . Even if it works I think that it might be more usable for the final users to not having to do that 😜

[2017-04-14 15:33] lorisgir opened #269 "Community Material update"
It would be possible to update the library with the latest icon? Right now they are on v1.9.32 and they added a few icon I need!

Thanks!

[2017-04-16 10:01] goutomroy opened #270 "icon for actionbar or bottomnavigationview"
<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto">
    <item
        android:id="@+id/action_movies"
        android:enabled="true"
        android:icon="@drawable/ic_local_movies_black_24dp"
        android:title="Movie"
        app:showAsAction="always" />
</menu>

How I will add icons i

[2017-04-16 12:48] mikepenz commented on #270
@goutomroy you can use the `IconicsDrawable` wherever you can set a `Drawable` this is only possible programatically.

You can't use those via xml. (Just in the provided `IconicsButton` and `IconicsImageView`)

[2017-04-16 12:48] #270 closed

[2017-04-16 12:55] mikepenz commented on #268
@RiccardoM I understand that it is a bit more complicated. But it will just get too hard to do releases afterwards. I'll mark it as "good to know" and will remember for future questions

[2017-04-16 12:55] #268 closed

[2017-04-16 12:55] #267 closed

[2017-04-16 12:56] mikepenz commented on #265
Do you have an update? Please report back. Close til that

[2017-04-16 12:56] #265 closed

[2017-04-17 12:08] #257 closed

[2017-04-17 12:13] mikepenz commented on #257
@toyongbanatero thanks for the really really detailed report.
I totally understand your problem, but I think that might not be possible as easy it it may sounds.

In your case I see an additional "Problem" You are using the `IconicsButton` even though you just need a single drawable. Using a `ImageButton` and setting the `IconicsDrawable` programatically would be a better solution I think.

[2017-04-18 21:22] mikepenz commented on #269
@lorisgir thanks a lot for doing the update. merged your PR. and published it to maven central :)

[2017-04-18 21:22] #269 closed

[2017-04-18 21:24] lorisgir commented on #269
Your welcome! Thank You for your awensome libs!

Il mar 18 apr 2017, 23:22 Mike Penz <notifications@github.com> ha scritto:

[2017-04-18 21:25] mikepenz commented on #269
Thanks

[2017-04-23 16:26] bschwind commented on #270
@mikepenz Quick question: When using `IconicsDrawable` as a drawable for the BottomNavigationView, it seems the icons don't resize when changing between tabs. Have you ever used this library with `BottomNavigationView`? It *seems* like it's not working with other `Drawable`s so it's probably nothing wrong in this library, but I'm just curious if anyone has a working example. I'm working with `Bott

[2017-04-23 17:36] mikepenz commented on #270
@bschwind if it also happens with other drawable's I assume it is a general issue then.

Have you tried to invalidate, or to set a specific size to it?

[2017-04-23 17:38] bschwind commented on #270
@mikepenz I'm experimenting with it now. At first I thought maybe it was a React Native thing but now I have a vanilla android project. I've at least determined it's not an issue with this library, so no worries :)

It seems to not like the menu items I've added dynamically, but the items that were inflated from a resource file animate and resize correctly.

[2017-04-23 17:52] mikepenz commented on #270
@bschwind ok that's weird. Seems to be an issue with the bottom navigation view then. Perhaps the icon needs to be set as `Bitmap`? It might do this for icons set via xml

[2017-04-23 18:01] bschwind commented on #270
Haha, definitely weird. So if I do something like this:

[code]

Then none of the animations work, though the tabs still display ripples when you touch them.

But if I don't clear the menu, and instead call `addIcon` on the existing menu items, everything works (both programmatically created Drawables and Drawables from this library work):

[code]

I could very well be doing something stupid, and

[2017-04-23 18:42] bschwind commented on #270
Okay I found the issue. If you return `false` in the `onNavigationItemSelected` handler, it just won't animate the tab. That took way too long to figure out...

[2017-04-24 07:33] mikepenz commented on #270
@bschwind thanks for adding the solution. It is really strange. Great that you found out what was causing it

[2017-04-24 07:50] bschwind commented on #270
@mikepenz Heh, so I realized that only solved it for a sample native app I made to reproduce the issue.

I'm actually using BottomNavigationView and this library from React Native and despite having essentially the same code, they're still not animating so there's something fishy with React Native now.

In any case, thanks for the fantastic library!

[2017-04-24 07:58] mikepenz commented on #270
Thank you very much :)

[2017-04-26 04:52] PeterPhyo opened #273 "IconicsImageView doesn't appear on phone screen"
Before, I got; it appear on phone screen. Now, IconicsImageView doesn't appear on phone screen. I don't change nothing.  What happened?

[code]

[2017-04-26 08:04] mikepenz commented on #273
@PeterPhyo what do you mean with it does not appear in xml? The Android Studio preview will not show the icon, and never did. When you launch the application it will as long as the icon exists.

[2017-04-26 18:10] Philipp91 opened #274 "textAllCaps doesn't work"
Android-Iconics sets `.setAllCaps(false);` https://github.com/mikepenz/Android-Iconics/issues/97 https://github.com/mikepenz/Android-Iconics/commit/a90c4f4dd114701ad9f4002a6e9abcc9bd77be40

This is done for all buttons, whether they use a spannable text or any icon at all, or not. Thus, if Android-Iconics is installed, `textAllCaps="true"` does not work on any button. That's a drawback in itself (

[2017-04-26 18:50] mikepenz commented on #274
@Philipp91 nothing I can do about. that's Android's limitation.

Android `textAllCaps` breaks `Spannables` being used. you would not be able to for example make the text bold, color parts of it either....

Just set the text in `UPPERCASE` programmatically. It's anyway the prefered way as it is much faster with less overhead.

There is a `IconicsImageButton` for example which disables textAllCaps a

[2017-04-26 18:59] #274 closed

[2017-04-27 03:01] PeterPhyo commented on #273
Yeah! I know, AS preview doesn't show icon, when lunch it shows on phone screen. But when I run, it doesn't show on phone screen, Error message show (E/Iconics: Wrong icon name: gmd_check_circle), not wrong name. What happened?

[2017-04-27 04:22] PeterPhyo commented on #273
I got it. I changed PackageName, I forgot to change applicationId.  wrong applicationId "xxx.xxx.xxx".

[2017-04-27 07:34] #273 closed

[2017-05-03 23:58] DJphy opened #275 "java.lang.NoClassDefFoundError"
**Earlier I was using these**
[code]
**now updated to this**
[code]
Which is resulting in run time exception is what I believe.
`stacktrace: java.lang.NoClassDefFoundError: com.mikepenz.entypo_typeface_library.Entypo$Icon`
code that's causing the issue: when trying to access Icon class
`Entypo.Icon.ent_chevron_thin_down`

**Current build.gradle file**
[code]

[2017-05-04 07:47] mikepenz commented on #275
@DJphy are other icons working?

[2017-05-04 18:59] DJphy commented on #275
hi Mike,
Thanks for the reply
are other icons working?
Its resulting in `run time exception (NoClassDefFoundError)`, I have no try catch, so app crashes.

[2017-05-04 19:00] mikepenz commented on #275
@DJphy if you remove that icon set which is crashing. Will the others work?

[2017-05-04 19:02] DJphy commented on #275
if you remove that icon set which is crashing. Will the others work?
Others in the sense, the app drawables or the others like gmd, faw etc (other from lib)

[2017-05-04 19:05] mikepenz commented on #275
Remove entypo and use the GoogleMaterial one. Is it working or will it also crash?

[2017-05-04 19:09] DJphy commented on #275
Okay I will check tat and reply, thnx

[2017-05-04 19:58] DJphy commented on #275
I have figured out 1 more thing;
For the same build.gradle file mentioned above, if I use these: (observe aar versions)
Case 1
[code]
I observe a `java.lang.ClassNotFoundException: android.support.v4.util.ArrayMap`

Case 2
[code]
I observed the one I mentioned earlier, same happened for `GoogleMaterial` too

Also i suspect on this line too
`compile 'com.android.support:support-v4:24.1.1'`
I am usi

[2017-05-04 21:00] mikepenz commented on #275
case 1 is incompatiblity of the support libs. you need to use 25.3.1 for everything. You are not supposed to have different versions. if you have different versions it will always fail.

And using the icon sets with an older version of the iconics lib could fail. I can not support this.

You could exclude the support libs of the iconics.
http://stackoverflow.com/questions/21764128/how-do-i-exclude

[2017-05-04 21:00] mikepenz commented on #275
in addition why do you want the support-v4 as jar file?! it is included in the appcompat lib anyways

[2017-05-04 21:08] DJphy commented on #275
hmm, thanks for update Mike, I will check further and will close this.

[2017-05-04 22:08] #275 closed

[2017-05-05 03:00] PeterPhyo opened #276 "How to change iconics button programmatically"
I want to change **gmd_book** if bookmark isn't null. If null **gmd_bookmark**

xml;
[code]

Activity;
[code]

[2017-05-05 08:53] mikepenz commented on #276
@PeterPhyo why'd you use an `IconicsButton` for just an icon?
There is the `IconicsImageButton` which is meant for icon only. And this has more methods to do so.

Otherwise you can always set the icon as drawable:
https://github.com/mikepenz/Android-Iconics#use-as-drawable

[2017-05-05 13:10] carmas123 opened #277 "Problem with Spannable"
I try to use IconicsTextView with this:

[code]
but the Magenta Color does not appear.
If I change the TextView color for all text without spannable it work.

[2017-05-05 13:25] mikepenz commented on #277
@carmas123 please use hte built in functionality to color icons:
https://github.com/mikepenz/Android-Iconics/blob/develop/app/src/main/java/com/mikepenz/iconics/sample/PlaygroundActivity.java#L57

[2017-05-05 13:38] carmas123 commented on #277
I try it but also does not work

[2017-05-05 13:46] mikepenz commented on #277
@carmas123 can you please show what you tried? Because in the sample it is working fine

[2017-05-05 13:48] carmas123 commented on #277
Ok but I use Kotlin and not Java...

Iconics.IconicsBuilder().ctx(activity)
  .style(ForegroundColorSpan(Color.RED), BackgroundColorSpan(Color.RED), RelativeSizeSpan(2f))
  .styleFor("gmi-pin", BackgroundColorSpan(Color.RED), ForegroundColorSpan(Color.parseColor("#33000000")), RelativeSizeSpan(2f))
  .on(b.textView)
  .build()

The textview is always empty

[2017-05-05 13:52] mikepenz commented on #277
@carmas123 shouldn't change much.

The textview is always empty? the code you posted will only adjust the color of the icon if it was set. So if no text is set, it makes sense that it stays empty :D

[2017-05-05 14:00] carmas123 commented on #277
[code]
This is the result

![image](https://cloud.githubusercontent.com/assets/6574219/25748617/f81de282-31ab-11e7-976f-29cb2eeab0e8.png)

[2017-05-05 14:02] mikepenz commented on #277
Do you have any other spannables or fonts or so set manually? Anything which might break the icon?

any log output saying that the icon does not exist or so?

is it working without any color change or so?

[2017-05-05 14:04] carmas123 commented on #277
Yes it work.without spannable

[2017-05-05 14:13] mikepenz commented on #277
you mean without this:
[code]
?

[2017-05-05 14:42] carmas123 commented on #277
It work:

![image](https://cloud.githubusercontent.com/assets/6574219/25750382/d3b08b38-31b1-11e7-8614-47ca69ab7d1d.png)

[2017-05-05 15:16] mikepenz commented on #277
@carmas123 so why do you want this `SpannableString` then?

[2017-05-05 15:17] carmas123 commented on #277
I need to highlight the Icon into TextView with another color

[2017-05-05 15:19] mikepenz commented on #277
@carmas123 for this there is:
[code]

and the best would anyways to set the `Drawable` as compound drawable

[2017-05-05 15:19] carmas123 commented on #277
Yes but the text into TextView need to have {gmi-pin} or not?

[2017-05-05 15:20] mikepenz commented on #277
@carmas123 if you set it as compound drawable not.

[2017-05-05 15:22] carmas123 commented on #277
The result is same with this text:
`b.textIndirizzo.text = "{gmi-pin} my text bla bla bla"`
![image](https://cloud.githubusercontent.com/assets/6574219/25752013/499835c6-31b7-11e7-81cd-47cd4c2b538c.png)

without {gmi-pin} is this:
![image](https://cloud.githubusercontent.com/assets/6574219/25752073/72439b6e-31b7-11e7-9c32-e1fa095c170e.png)

[2017-05-05 15:23] mikepenz commented on #277
@carmas123 and then you set the icon via the `IconicsDrawable` as compoundDrawable

[2017-05-05 16:06] carmas123 commented on #277
It's work but with this I cannot use the com.mikepenz.iconics.view.IconicsTextView with all functionality :(

[2017-05-05 16:08] mikepenz commented on #277
@carmas123 well using the android iconics as Drawable via the `IconicsDrawable` is anyways the better and prefered solution. The other is just a gimmick, and gives by design (and by the limitations of Spannables) a less flexible and a more complicated solution...

[2017-05-05 16:14] #277 closed

[2017-05-08 07:55] alessandrotorres opened #278 "IconicsImageView background color issue in MaterialDrawer v5.9.1"
Hi Mike,

For IconicsImageView, in MaterialDrawer 5.9.1 package, you can set background color with .setBackgroundColor(int color) in onCreate() but, if called runtime, e.g. onClickListener(), it seems to ignore it.

Rolling back to 5.9.0 all is ok.

Referring issue for MaterialDrawer:
[https://github.com/mikepenz/MaterialDrawer/issues/1851](https://github.com/mikepenz/MaterialDrawer/issues/1851)

[2017-05-15 17:07] jwburnside opened #279 "Edittext compound drawables are offset until focus"
I seem to be having a strange problem when using an Iconics drawable in an EditText. Attached is an image of what I am experiencing. The firstName field is using an Iconics drawable, and the lastName field is using a regular drawable. As you can see, the firstName drawable doesn't respect the padding that I assigned to it. The lastName drawable, however, does. The really weird part is that when I

[2017-05-16 02:19] mikepenz commented on #279
@jwburnside you can try something like the following

[code]

[2017-05-16 17:00] jwburnside commented on #279
I attempted your fix, but the issue continued to happen. I have narrowed it down even more since yesterday, though, and now it's even more baffling.

I realized I have another fragment where I am applying Iconics drawables to an EditText exactly as I am in the above example, but they are aligned correctly.

So as a test, I removed all unnecessary code and duplicated the working fragment (so I have

[2017-05-17 11:23] gromiloff opened #280 "[IconicsTextView] with offset icon"
Hi,
How I can use the IconicsTextView class (or some override) for next task:
I want show icon with text (icon as drawableLeft for example). So I using next code:

        <com.mikepenz.iconics.view.IconicsTextView
            style="@style/TextIndicator"
            android:background="@android:color/holo_blue_light"
            android:id="@+id/watches"
            android:layout_weight="1"

[2017-05-18 09:54] dandingol03 opened #281 "IconicsImageView doesn't work in fragment.need some help!"
<b>Hi</b>
here is my case :
1.has registered the font in Application
[code]
2.IconicsImageView works in activity xml layout
3.xmlns:app has been declared in xml
[code]
4.Maybe,there is some different.i use that component in a RecyclerView which is placed at the fragment layout xml.
  Help me to fix this problem. thanks

[2017-05-18 15:30] mikepenz commented on #280
@gromiloff in that case i'd suggest do use the `IconicsDrawable` as compound drawable of the TextView as it results in better results than using it witihn the text

[2017-05-18 15:30] mikepenz commented on #281
Do you have any additional logs or outputs?

[2017-05-19 02:30] dandingol03 commented on #281
@mikepenz  no,there is no additional logs or outputs
  By the way,i also setFactory in the activity which the fragment belongs to ,here is the code:
[code]

[2017-05-23 13:34] MFlisar commented on #141
I want to follow up on this. What would you think of a custom wrapper, that inflates the menu with the provided menu inflator and than just reparses the xml file, checks for iconics tags and than updates the icons in the menu with the corresponding settings?

Speed is not that good (xml is parsed 2 times) but it's compatible with any android version and it's independent from any `MenuInflator` imp

[2017-05-24 03:27] mikepenz commented on #281
Have you tried the alternative solution: https://github.com/mikepenz/Android-Iconics#3-alternative-inject-into-context-optional ?

If that does not work I highly suggest that you use the `Iconics` provided views. And / or set the icons programatically

[2017-05-24 03:27] #281 closed

[2017-05-24 03:28] mikepenz commented on #280
(there is not enough control I have about icon's displayed within text, you can possibly somehow adjust it by using some spannable, but for the best possible solution use a `ComoundDrawable`)

[2017-05-24 03:28] #280 closed

[2017-05-24 03:29] mikepenz commented on #279
That's completely weird. Something breaks it. But I have no idea what it could be :/.

Please try if it also happens with normal drawables. (from resources), if yes it is a framework issue or so and you should open a bug on Android, if not some text rendering might cause troubles

[2017-05-24 03:30] mikepenz commented on #278
@alessandrotorres this might be related to this PR: https://github.com/mikepenz/Android-Iconics/pull/272

[2017-05-24 03:31] mikepenz commented on #278
Sadly I am / was very busy in the last time so I haven't yet had a chance to take a closer look. If you have a bit more time it would be great if you could debug into it and check if you possibly see a cause which could lead to that.

@hanneskuettner referring you here as you might have an idea.

[2017-05-24 03:31] #276 closed

[2017-05-24 11:43] MFlisar opened #283 "BottomNavigationView - selector not working"
Using `BottomNavigationView` does currently not work with `IconicsDrawables`. The weird thing is that the default state color tinting works fine, but the selected state color is not working.

Any ideas why? I checked the code and saw, tinting should be supported. And I check older issues and see that this should work, but it does not...

[2017-05-24 15:16] mikepenz commented on #283
@MFlisar so the default color tinting of that view does not work?

How do you define the drawable? I remember there are some problems in the framework (for normal drawables at least) if you tint using the xml, you can no longer tint using code. There are also problems if you tint with a single color, and afterwards with a colorStateList.

Have you tried to directly supply a `ColorStateList` for ti

[2017-05-24 15:25] MFlisar commented on #283
The default color tinting is working. The selected color tinting not. I use following simple selector (for text + icon):

    <?xml version="1.0" encoding="utf-8"?>
	<selector xmlns:android="http://schemas.android.com/apk/res/android">
		<item android:state_checked="true" android:color="@color/md_orange_500" />
		<item android:color="@color/md_white_1000"  />
	</selector>

I do following:

	* I us

[2017-05-24 15:27] mikepenz commented on #283
It might be really related to the other problem of not switching the color later.

have you also tryed the `android:state_selected` also?

[2017-05-24 15:30] MFlisar commented on #283
No, I haven't because the selector is working with a default drawable... But I'll add it and try it

[2017-05-24 15:34] MFlisar commented on #283
Does not help. I've checked the code and found something:

https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/IconicsDrawable.java#L890

Isn't an `invalidateSelf` missing here?

[2017-05-24 15:38] MFlisar commented on #283
I have following idea:

The icon is ONLY checking the color for the current state, this means changing colors where the default state is the same color will NOT invalidate the view. Code I'm refering to is here: https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/IconicsDrawable.java#L1045

[2017-05-24 15:39] MFlisar commented on #278
I have following idea:

The icon is ONLY checking the color for the current state, this means changing colors where the default state is the same color will NOT invalidate the view. Code I'm refering to is here: https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/IconicsDrawable.java#L1045

[2017-05-24 15:42] mikepenz commented on #283
Can you please try the previous version of Android-Iconics? I am curious if it really was that PR wem erged

[2017-05-24 15:44] mikepenz commented on #278
@alessandrotorres can you please try to invalidate the icon after changing the color?

[2017-05-24 15:46] MFlisar commented on #283
I'll try that. Sadly, the missing invalidation I found in code is not the case when the tinting is changed...

I'll try it later though, need to adjust a few things in code because I'm using the menu inflator wrapper from my pull request

[2017-05-24 15:53] mikepenz commented on #283
Oh ok sadly. :/ would have been an easy fix :D

ok :)

[2017-05-24 16:04] MFlisar commented on #283
I tried invalidating the drawable manually in `OnNavigationItemSelectedListener` as well and it has no effect...

Here's the code from the `NavigationView`. Maybe it's related to it?

     public void setIcon(Drawable icon) {
        if (icon != null) {
            Drawable.ConstantState state = icon.getConstantState();
            icon = DrawableCompat.wrap(state == null ? icon : state.newDrawabl

[2017-05-24 16:23] mikepenz commented on #283
@MFlisar hmmm you tried the previous Iconics version right?

[2017-05-24 16:49] MFlisar commented on #283
Not yet. Which version should I try? I don't know where I see into which version this PR was merged

[2017-05-24 16:54] MFlisar commented on #283
I now tried v2.8.1, it does not support `ColorStateList` as color yet. It's working back than, at least something to start with :-)

[2017-05-24 16:55] mikepenz commented on #283
yes

[2017-05-24 17:22] MFlisar commented on #283
Tried v2.8.3 as well, everything working there as well...

And then I tried adding the changes one by one, following is breaking the behaviour already:

https://github.com/mikepenz/Android-Iconics/commit/cc2d47858f1a25389057615942ef1ae02aece5ac

Changing only `setState` from v2.8.3 to the implementation above, breaks the behaviour for me...

[2017-05-24 17:23] mikepenz commented on #283
oh wait
can you please try to call super.setState(stateSet); in addition?

[2017-05-24 17:24] MFlisar commented on #283
Just wanted to try this

[2017-05-24 17:27] MFlisar commented on #283
Tried the head branch and add the super call and it's working again :-)

    @Override
    public boolean setState(@NonNull int[] stateSet) {
        boolean b = super.setState(stateSet);
        return b || (mIconColor != null && mIconColor.isStateful() || mColorFilter != null || mTintFilter != null);
    }

I'm not sure what I should do with the super return value though...

[2017-05-24 17:32] mikepenz commented on #283
well looks good that way. Awasome. With that working again that means I will have to do a update. Possibly it also directly fixes: #278

[2017-05-24 17:34] MFlisar commented on #283
Probably. I pushed the change to my branch, so it's part of my pull request now

[2017-05-25 15:29] mikepenz commented on #283
Merged your PR

[2017-05-25 15:29] #283 closed

[2017-05-25 15:29] mikepenz commented on #278
Thanks to @MFlisar this will be fixed in the next version

[2017-05-25 15:29] #278 closed

[2017-05-26 13:00] henningvs opened #285 "Android App crashes"
After todays update the Android App (Iconics Library) directly crashes with this error:
[code]

[2017-05-26 14:41] jacobceles opened #286 "on"

[2017-05-26 14:41] #286 closed

[2017-05-26 15:09] mikepenz commented on #285
@henningvs you are using the `MaterialDrawer`?

[2017-05-29 09:11] mychaelgo commented on #285
hi @mikepenz , i downloaded android iconics on google play store, but when i open it, it crashed.

[2017-05-29 15:32] mikepenz commented on #285
@mychaelgo oh really? Do you have a crash log for me or something?

[2017-05-29 15:32] mikepenz commented on #285
or is it the same crash as above?

[2017-05-29 16:42] henningvs commented on #285
@mikepenz sorry for the confusion. This was exactly what I wanted to report.
Not a bug with my own app but rather a bug with your app. The stacktrace origins from this app, which should be yours (hopefully): https://play.google.com/store/apps/details?id=com.mikepenz.iconics.sample

I did not find a better channel to report it.

[2017-05-29 20:29] mikepenz commented on #285
@henningvs oh ok sorry I didn't get that point. The problem is this crash does not happen on any of my devices :/

Well I have the debug variant installed. I have to see. Thanks for reporting it

[2017-05-29 20:35] henningvs commented on #285
If I coule help you in any way to reproduce the bu let me know. I guess it's not open source so I can't build a debug version for my device?
I use a Oneplus 3T with Android 7.1.1 by the way. And the problem did not occur with the previous app version.

[2017-05-29 20:36] mikepenz commented on #285
I installed the release edition and got the crash. Fixing it right now :).

And it is open source by the way (just see the "app" folder in this repo)

[2017-05-29 20:56] #285 closed

[2017-05-29 22:44] mikepenz commented on #285
Fixed it and pushed a new release to the playstore

[2017-05-30 03:22] mychaelgo commented on #285
@mikepenz nice, thank you for fast response 👍

[2017-05-30 10:12] ligol opened #287 "Font Generator"
Hi,

I can't find the code for the font generator, is it open source?
I'd like to see if I can make it as gradle plugin to automatically download the file from a service and then generate the associated code.

[2017-05-30 14:39] mikepenz commented on #287
@ligol no that one is not open source sorry. But it basically generates a font module and defines all the icons. There were some other "icon" generator already added as source. See here:
https://github.com/mikepenz/Android-Iconics/tree/develop/DEV
(the extractor)

[2017-05-30 15:49] ligol commented on #287
Do you think you will open-source it some day?

I will see what I can do with the extractor script. I was looking a bit more for the source generator to be sure to don't forget something.

I think the gradle script could at term provide several ways to get the font (Local, Pre-Generated, External service)

By this ways it could be use automatically during build or release and be even more easy to

[2017-05-30 16:34] mikepenz commented on #287
@ligol not about the web tool sorry. All the scripts and javascript things which are almost doing everything (the web tool basically just copies the resources to the right places and does what the javascript script does)

Sounds very interesting,. Let me know if I can help with something

[2017-06-08 21:44] mikepenz opened #288 "Fix Alpha"
https://github.com/mikepenz/MaterialDrawer/issues/1892

[2017-06-08 21:44] mikepenz commented on #279
Closing as there was no answer > 2 weeks

[2017-06-08 21:44] #279 closed

[2017-06-09 21:02] #288 closed

[2017-06-09 21:36] mikepenz commented on #287
I guess the issue itself can be closed :D if you ever decide to do a PR that would be awesome. if not thanks for the idea

[2017-06-09 21:36] #287 closed

[2017-06-14 21:52] jazzgil opened #289 "shrinkResources removes abc_hint_foreground_material_light.xml"
Hi,

My app runs fine in debug mode, but in release (specifically when shrinkResources is true), I get an exception immediately when the app loads, with:

[code]

I'm using:
    compile "com.mikepenz:iconics-core:2.8.5@aar"
    compile 'com.mikepenz:google-material-typeface:3.0.1.0.original@aar'

I've found that this file is part of google_material_typeface_library.
Any idea why it looks for this

[2017-06-17 12:56] AmirHosseinKarimi opened #290 "Set Default SizeDP and Color"
Hi, Is there anyway to set default size and color for icons?
Also for some icons it can be override?

[2017-06-17 14:03] ssuukk commented on #141
Wouldn't Android Studio still complain with "Error:(5, 23) String types not allowed (at 'icon' with value '{gmd_accessibility}')."?

I was very happy I found this project until I realised all my app icons appear in either preferences or ActionBars :D

[2017-06-17 15:04] mikepenz commented on #289
@jazzgil well why do you use this color? `abc_hint_foreground_material_light` it's provided by the support libraries I guess, and there is a high chance of it getting removed.
In addition this does not really seem to be a `Android-Iconics` issue. Just define your own color, and you are fine.

[2017-06-17 15:05] mikepenz commented on #290
@AmirHosseinKarimi just write a helper method which defines your default size and default color for the `IconicsDrawable`. Not sure where this is any problem?

[2017-06-17 20:14] jazzgil commented on #289
I'm not, as far as I know. I thought google_material_typeface_library might be the culprit, as I found references to it there.
I'm using the theme Theme.AppCompat.Light.DarkActionBar. Do you think it might be related?

Thanks!

[2017-06-17 20:58] mikepenz commented on #289
@jazzgil well the resource you use comes from some support library. Please just define your own color and you should be fine

[2017-06-17 20:58] #289 closed

[2017-06-18 14:59] #290 closed

[2017-06-20 09:21] zTrap opened #291 "IconicsTextView and drawables"
Hi, someday `IconicsTextView` will have `xml-attributes` for `drawablesRight` - `...Left` etc, or not?

[2017-06-20 09:58] mikepenz commented on #291
@zTrap no plan to do this. You simply can set this programatically by using the `IconicsDrawable`

[2017-06-20 10:08] zTrap commented on #291
Not always code way is convenient. I can do this, but I want to be sure you will accept pull request (if all will be right) :)

[2017-06-20 10:47] mikepenz commented on #291
Well there are many things you have to take care of, left, right, top, bottom, size, padding, ...

But sure if the PR is nice I am always more than happy to merge it in ;)

[2017-06-20 21:51] jazzgil commented on #289
Solved with AS3 canary 4.

[2017-06-22 07:27] fvermeulen opened #293 "with v2.8.7 android studio designer problem"
I tried to use the latest version of your library and figured out that the android designer has a rendering problem.
Then I downgraded the version to 2.8.6 and it worked again. Do you had the same problem?

[2017-06-22 07:38] mikepenz commented on #293
@fvermeulen I never used this android designer in my life so I don't know :D.

[2017-06-22 10:01] novalu commented on #293
I have same problem with 2.8.7. Preview pane shows Exception like this:

[code]

[2017-06-22 10:02] mikepenz commented on #293
@novalu @fvermeulen I think the issue is not related to the Android-Iconics directly, but rather to the `Support Libraries 25.4.0` (the trace does not show a reference to the iconics)

[2017-06-22 10:05] mikepenz commented on #293
You can try to use support libraries `25.3.1` and see if it fixes.

try to force a specific version
[code]

[2017-06-22 10:09] novalu commented on #293
Downgrade and force 25.3.1 with Iconics 2.8.7 didn't fix issue.

[2017-06-22 10:11] mikepenz commented on #293
Interesting. You can check v2.8.7 there are no changes to the views. Can
you see if the downgrade did work? With a dependency tree?

On Thu, Jun 22, 2017, 12:09 PM Lukas Novak <notifications@github.com> wrote:

--
Mike Penz
__________________________________________
*Mike Penz*
Android | Backend | Open Source | Web Developer
mikepenz.com
lanora.io

[2017-06-22 16:17] fvermeulen commented on #293
As I tested it yesterday I was on the old Support lib. Upgraded to the newest, because I thought it would maybe fix the problem, but nope

[2017-06-22 16:32] mikepenz commented on #293
Well the only code change between v2.8.6 and v2.8.7 is this one:

https://github.com/mikepenz/Android-Iconics/commit/1ba99beb91fb97e786d7fe5521a9664c5105112b#diff-6dd39d3e1d57d5981614d1655a09362aR891

[2017-06-22 17:01] MFlisar commented on #141
I'm not sure. Never saw an error just a warning if you use strings directly in xml.

Btw, some if the iconic libraries have defined the strings and you can use them like following:

    icon="@string/gmd_accessibility"

[2017-06-22 19:06] fvermeulen commented on #293
@mikepenz could it be the gradle plugin version? https://github.com/mikepenz/Android-Iconics/commit/1ba99beb91fb97e786d7fe5521a9664c5105112b#diff-c197962302397baf3a4cc36463dce5eaR9

I'm on the 2.3.2

[2017-06-23 09:12] davidgerrad55 opened #294 "Question: Why didn't you exclude the R file from ProGuard in the library-core module?"
Hi @mikepenz ,
Thank you for the great library :)
I have a question, Why didn't you exclude the R file from ProGuard in the library-core module?
[code]

[2017-06-23 09:19] mikepenz commented on #294
@davidgerrad55 adding proguard rules like this is not very clever, because I force basically everyone using my library to accept this. being es precise as possible with proguard is very important, so it can do it's magic and obfuscate and optimize as much as possible

[2017-06-24 13:51] h6ah4i commented on #288
@mikepenz Hi. I am facing a problem due to this `IconicsDrawable.setColor()` behavior change. It also affect to `IconicsImageView` in the following scenario. Do you think is it an intentional change?

[code]

[2017-06-25 11:36] jazzgil opened #295 "How to set IconicsDrawable to bold?"
Hi Mike,

I'm using `IconicsDrawable` to set an icon for an `ImageView`. Currently I set the icon font to bold by...:

[code]
Is there a more optimal way?

[2017-06-25 15:20] mikepenz commented on #295
@jazzgil what are you trying? Are you creating a `IconicsDrawable` with `text`? You can't set it bold like that, you might be able to do it with a spannable around afterwards, but not sure if it would work

[2017-06-25 15:22] mikepenz commented on #288
@h6ah4i please create a new issue with this, you are right that this might be a problem in some cases

[2017-06-25 15:29] jazzgil commented on #295
Actually it works. Just realized I forgot to show how `add` is initialized... I'm setting an ImageView to show a text icon from GoogleMaterial.

[2017-06-25 15:55] mikepenz commented on #295
Great that it works :)

[2017-06-25 15:55] #295 closed

[2017-06-27 09:54] pesseyjulien opened #297 "Use as menu item"
Hi,

How can I use fa icons in a menu item, I have tried a lot of combo, but whitout success. Here is an example :

[code]

Thanks in advance,
Julien

[2017-06-27 11:08] mikepenz commented on #297
@pesseyjulien you can only set it programatically. Android has no way to hook into this.

[2017-06-27 11:19] pesseyjulien commented on #297
Got it ! Thanks for the quick reply !

[2017-06-27 11:19] #297 closed

[2017-06-27 14:01] connyduck commented on #297
What? I use Iconics in menu xml all the time?
It is possible since this change https://github.com/mikepenz/Android-Iconics/pull/282

[2017-06-27 14:40] mikepenz commented on #297
@connyduck thanks for mentioning this. I completely forgot abou tit

[2017-07-02 12:27] mikepenz commented on #293
@fvermeulen I don't think this is related to anything in the project. the code regarding this did not change. if you really need the designer, (for whatever strange reason) you can always also apply the icons as drawable without any custom view

[2017-07-02 12:27] #293 closed

[2017-07-02 12:27] #294 closed

[2017-07-02 12:27] #291 closed

[2017-07-03 19:13] jelther opened #298 "Filtering on 2.6.2 is not working."
Mike,

I guess the filtering is broken in this new version (2.6.2). Setting my adapter to mAdapter.filter("") doesn't bring my list back. I've managed to revert the filtering if the library version was 2.5.1.

You can see my code here in this gist : https://gist.github.com/jelther/9c0bf03c34a47110c6484cfc2750ed5e

There are some comments because it looks you've changed the way to access the filter

[2017-07-03 20:40] mikepenz commented on #298
@jelther are you sure this is an Android-Iconics issue? Sounds like you opened this on the wrong project?

[2017-07-03 20:41] mikepenz commented on #298
Please open this on the FastAdapter

[2017-07-03 20:41] #298 closed

[2017-07-03 20:42] mikepenz commented on #298
setting to "" should still reset the filter. it works and is tested (I use it in some of my projects)

Seems like something else conflicts with this

[2017-07-03 21:24] jelther commented on #298
@mikepenz , indeed, wrong project. I'll post there.
I'll check my code again but I've rolledback to a previous version and my code worked.

[2017-07-17 18:45] bschnack opened #302 "Using Deprecated LayoutInfalterCompat.setFactory"
Hello,

The LayoutInflaterCompat.setFactory that we are told to use in the instructions has been deprecated in API 26 and instead we are supposed to use setFactory2 and IconicsLayoutInflater will need to extend LayoutInflater.Factory2 instead. With the deprecated function, it still works as expected.

Thanks,
Brian

[2017-07-17 19:01] mikepenz commented on #302
@bschnack thank you very much. Currently I did not upgrade to 26 as it is sadly not yet final (at least the support libs, I know that the API is final). Will revisit it as soon as it's out (support libs + Android Studio 3)

[2017-07-17 22:20] mikepenz commented on #302
@bschnack if you want to fix it anytime before. Feel free to do so by opening a PR :D

[2017-07-18 14:53] bschnack commented on #302
I will give it a try sometime this week.

[2017-07-18 15:05] mikepenz commented on #302
thank you

[2017-07-25 06:19] atulgoswami21 opened #306 "Some font awesome icon missing due to same values."
Some font awesome icon missing due to same values.
for example faw-close and faw-times has same value. I have to change to faw-times as faw-close is missing in the latest version.
Hope you will find the fix soon.

[2017-07-25 07:44] mikepenz commented on #306
@atulgoswami21 well I can only use the mapping of the font. if the mapping of their font links to these names I am not really able to fix this.

[2017-07-27 02:51] onloadcc opened #307 "The IconicsImageView setColor method can't change icon color"
This method can't change icon color:
[code]
must use the method
[code]

This is bug or other reason?

[2017-07-27 05:33] annawang1 opened #308 "IconicsTextView's setText() shows the invalid icons on Lenovel TAB2."
![from](https://user-images.githubusercontent.com/14036928/28655789-a0072fc0-72d0-11e7-9c05-a20c657cd86d.png)
![to](https://user-images.githubusercontent.com/14036928/28655790-a007d3ee-72d0-11e7-84f3-dc60c432c00f.png)

Precondition:
1: use google material design,
2: Lenovel tablet OS Android 5.0.1.
Reproduce steps:
1: set the data source which contains a list of strings using the template of "{gmd

[2017-07-27 08:05] mikepenz commented on #308
@annawang1 do you get the same with other fonts provided by `Android-Iconics`?

[2017-07-27 09:47] annawang1 commented on #308
@mikepenz Thanks for your reply.
I have also tried the 'community-material-typeface' and 'octicons-typeface', and both of them have the same invalid icons.
When to debug, the setText(CharSequence text, BufferType type) in IconicsTextView has the invalid 'text' of CharSequence, and I don't know why.

[2017-07-27 10:07] mikepenz commented on #308
Can you try and install the sample app on this phone please?

[2017-07-28 01:38] annawang1 commented on #308
@mikepenz Sorry for the delay.
I performed the clean install, and unfortunately, it turned out to be the same.
It's the demo sample, but not available in the market, and could you please access the APK file from
[here](https://github.com/annawang1/Lenovel/blob/master/lenovel.apk) if needed.

[2017-07-28 02:56] annawang1 commented on #308
@mikepenz Sorry for the delay.
I tried and install the sample app, and it works well. And I will check my code.

[2017-07-29 09:32] mikepenz commented on #306
You might also want to open a PR and add / adjust the ones you miss manually.
It would be un-maintainable if I would have to do somehting like this manually. It's just possible to use my automatic tooling to save time and be fast :)

[2017-07-29 09:32] #306 closed

[2017-07-29 09:33] mikepenz commented on #307
@onloadcc it looks like a bug. We are looking into it

[2017-07-29 15:52] mikepenz commented on #302
Merged, and will be in the next release. thank you

[2017-07-29 15:52] #302 closed

[2017-07-29 16:02] mikepenz commented on #307
@onloadcc for now you can use the second variant. I'll let you know as soon as it's fixed

[2017-07-29 19:30] mikepenz commented on #308
@annawang1 did you find something?

[2017-07-29 19:58] mikepenz commented on #307
@onloadcc this is fixed in v2.9.1

[2017-07-29 19:58] #307 closed

[2017-07-30 18:36] Rainer-Lang opened #309 "Wrong icon color in 2.9.1"
I set the color of my icon in xml via iiv_color - but it seems the icon color is always black.

[2017-07-31 07:19] annawang1 commented on #308
@mikepenz little, I will keep this updated if had any progress.
So, you could close it since I'm not sure how long it would take to be resolved. :)

[2017-07-31 08:21] mikepenz commented on #308
Ok. Just let me know if oyu find something

[2017-07-31 08:21] #308 closed

[2017-07-31 08:22] annawang1 commented on #308
@mikepenz yes, of course.

[2017-07-31 12:11] Gounlaf commented on #309
Hi,

I've got the same probleme; not only color, size too.

[2017-07-31 12:14] mikepenz commented on #309
@Rainer-Lang @Gounlaf thanks for the report. With v2.9.x the way how those values are processed changed quite a bit. Sorry for the issues.

Using the programatical way should work for now

[2017-07-31 12:30] Gounlaf commented on #309
Hi @mikepenz,

Sorry for the imprecision: setting it programmatically doesn't work for me.

[2017-08-01 13:01] Rainer-Lang commented on #309
For me neither.

[2017-08-02 09:08] hooman-pro opened #310 "it crop right side of fa-comment icon!!"
Hi thank you for your good lib.
but it seems have a bug!
see this screen shot:
![photo_2017-08-02_13-35-58](https://user-images.githubusercontent.com/11981070/28866281-b40222c6-7787-11e7-9cb2-328ffd3d36f9.jpg)

right side of comment is not correct.

my cod is:
<com.mikepenz.iconics.view.IconicsTextView
                android:layout_width="wrap_content"
                android:layout_height="wrap_

[2017-08-02 09:17] hooman-pro commented on #310
I found that for resoving this problem when put and spec or type some thing after {faw-comment} it will be correct!

<com.mikepenz.iconics.view.IconicsTextView
android:layout_width="wrap_content"
android:layout_height="wrap_content"
android:textColor="#555555"
android:textSize="150dp"
android:text="write something here or put an space!! {faw-comment} write something here or put an space!!"/>

[2017-08-02 09:20] mikepenz commented on #310
@hooman-pro if you just want to display an icon. Then use the `IconicsDrawable` directly or the `IconicsImageView

the icon within the `IconicsTextView`may be cut depending on how the text rendering on that device happens

[2017-08-02 09:32] MFlisar opened #311 "Text + Background Icon"
Is this possible? I don't think so.

Something like `new IconicsDrawable(context).icon(FontAwesome.Icon.faw_circle).iconText(counter);` would be nice I think. Only an own color for the text would be needed I think...

[2017-08-02 09:33] mikepenz commented on #311
@MFlisar it's not possible. And I don't think this makes sense. If you need text + icon. Use an `IconicsTextView`

[2017-08-02 09:35] MFlisar commented on #311
Actually in my case it's depending on the item's property that's why this would be nice. I can simply load another drawable, just thought this would be nice

[2017-08-02 09:38] #311 closed

[2017-08-02 11:59] hooman-pro commented on #310
ok , but if have text only before {faw-comment} what happent ? like : "string {faw-comment}"

[2017-08-02 12:16] mikepenz commented on #310
@hooman-pro I always recommend to use the `IconicsDrawable` directly as it gives much more flexibility rather than the `IconicsTextView`.

If you really really need it, it follows the rules of text rendering. you might want to add a space afterwards, or make sure enough space is available inside the `TextView`.
Or you have an `TextView` for the text and a `CompoundDrawable` or a `ImageView` or an

[2017-08-08 09:50] Rainer-Lang commented on #309
@mikepenz Any news on this?

[2017-08-09 00:00] naeknevac70 opened #312 "Upbeat Monsters - Icon Requests"
These apps are not themed. Thanks in advance.

Name: File Manager
Code: com.asus.filemanager/com.asus.filemanager.activity.FileManagerActivity
Link: https://play.google.com/store/apps/details?id=com.asus.filemanager

OS Version: 3.4.0-g4a77c31(WW_Phone-13.2.9.85-20160727)
OS API Level: 22
Device: err_value
Manufacturer: asus
Model (and Product): ASUS_X013D (WW_Phone)
App Version Name: 2.0.0
App Ve

[2017-08-09 00:02] naeknevac70 opened #313 "Upbeat Monsters - Icon Requests"
These apps are not themed. Thanks in advance.

Name: File Manager
Code: com.asus.filemanager/com.asus.filemanager.activity.FileManagerActivity
Link: https://play.google.com/store/apps/details?id=com.asus.filemanager

OS Version: 3.4.0-g4a77c31(WW_Phone-13.2.9.85-20160727)
OS API Level: 22
Device: err_value
Manufacturer: asus
Model (and Product): ASUS_X013D (WW_Phone)
App Version Name: 2.0.0
App Ve

[2017-08-09 00:02] naeknevac70 opened #314 "Upbeat Monsters - Icon Requests"
Name: File Manager
Code: com.asus.filemanager/com.asus.filemanager.activity.FileManagerActivity
Link: https://play.google.com/store/apps/details?id=com.asus.filemanager

OS Version: 3.4.0-g4a77c31(WW_Phone-13.2.9.85-20160727)
OS API Level: 22
Device: err_value
Manufacturer: asus
Model (and Product): ASUS_X013D (WW_Phone)
App Version Name: 2.0.0
App Version Code: 200

[2017-08-09 00:05] naeknevac70 opened #315 "Upbeat Monsters - Icon Requests"
These apps are not themed. Thanks in advance.

Name: Android Work Assistant
Code: com.google.android.androidforwork/com.google.android.androidforwork.UserConsentActivity
Link: https://play.google.com/store/apps/details?id=com.google.android.androidforwork

OS Version: 3.4.0-g4a77c31(WW_Phone-13.2.9.85-20160727)
OS API Level: 22
Device: err_value
Manufacturer: asus
Model (and Product): ASUS_X013D (

[2017-08-09 00:06] naeknevac70 opened #316 "Upbeat Monsters - Icon Requests"
These apps are not themed. Thanks in advance.

Name:Calculator
Code: com.google.android.calculator/com.google.android.calculator.UserConsentActivity
Link: https://play.google.com/store/apps/details?id=com.google.calculator

OS Version: 3.4.0-g4a77c31(WW_Phone-13.2.9.85-20160727)
OS API Level: 22
Device: err_value
Manufacturer: asus
Model (and Product): ASUS_X013D (WW_Phone)
App Version Name: 2.0.0

[2017-08-09 00:09] naeknevac70 opened #317 "Upbeat Monsters - Icon Requests"
These apps are not themed. Thanks in advance.

Name: Android Work Assistant
Code: com.google.android.calculator/com.google.android.calculator.UserConsentActivity
Link: https://play.google.com/store/apps/details?id=com.google.android.calculator

[2017-08-09 00:58] #312 closed

[2017-08-09 00:58] #313 closed

[2017-08-09 00:58] #314 closed

[2017-08-09 00:58] #315 closed

[2017-08-09 00:58] #316 closed

[2017-08-09 00:58] #317 closed

[2017-08-09 10:51] fssilva commented on #309
I was looking the code for the first time and I noticed that all xml attributes are set within `IconicsViewsAttrsReader`,  after this condition `if (!TextUtils.isEmpty(icon.getPlainIcon())) {`

However it seems that this condition is always false. I bypassed the if-else just for testing and it seems to be working again (colors, size, background, etc).

Can somebody tell me why this if-statement is

[2017-08-09 14:53] mikepenz commented on #309
@fssilva well the check was added to optimize and not set anything in case if there is no icon. but Yeah now as I think about it, I think we can remove it safely.

This still does not describe though why there are also reports of it not working via the programatic approach (which seems weird)

[2017-08-09 15:38] #309 closed

[2017-08-09 15:38] mikepenz commented on #309
The issue should be fixed in v2.9.2 of the views extension

Sorry for the issue

[2017-08-09 15:39] mikepenz commented on #310
Setting the color for the `IconicsImageView` in xml is fixed. read more here:
https://github.com/mikepenz/Android-Iconics/issues/309

[2017-08-09 15:39] #310 closed

[2017-08-09 21:15] Rainer-Lang commented on #309
@fssilva @mikepenz Thanks.

[2017-08-09 21:53] Gounlaf commented on #309
Thanks !

[2017-08-10 13:51] carmas123 opened #318 "Icon color does not work from 2.9.1"
I've updated you library to lastest version 2.9.1 and now the icon color specified into XML does not will be applied.

[code]
The icon is always black

this is my gradle

    implementation "com.mikepenz:iconics-core:2.9.1@aar"
    implementation "com.mikepenz:iconics-views:2.9.1@aar"
    implementation "com.mikepenz:material-design-iconic-typeface:2.2.0.3@aar"
    implementation "com.mikepenz:com

[2017-08-10 14:09] Gounlaf commented on #318
Hi,

It has been fixed in com.mikepenz:iconics-views:2.9.2 https://github.com/mikepenz/Android-Iconics/issues/309

[2017-08-10 14:13] carmas123 commented on #318
Thank you, I try it

[2017-08-10 14:14] carmas123 commented on #318
But this version is not released.

[2017-08-10 14:45] mikepenz commented on #318
@carmas123 it is :O

[2017-08-10 14:47] mikepenz commented on #318
https://bintray.com/mikepenz/maven/iconics-views/2.9.2

[2017-08-10 14:48] mikepenz commented on #318
It's available on `jCenter()`

[2017-08-10 14:50] carmas123 commented on #318
Sorry but I always got
Error:Failed to resolve: com.mikepenz:iconics-views:2.9.2

I've jcentral() into repo.

[2017-08-10 14:52] mikepenz commented on #318
released it now also to maven central (sorry I am currently traveling so not as responsive as normally)

it will take a while but in 15-45 mins it will be available

[2017-08-10 14:52] #318 closed

[2017-08-10 14:53] carmas123 commented on #318
Thank you

[2017-08-10 15:10] Gounlaf commented on #318
Thanks @mikepenz. I was stuck too, trying to install it on "local maven"... but didn't succeed :x

[2017-08-10 15:20] mikepenz commented on #318
Hmmm I wonder why it is not downloaded via jCenter because it is available up there :D

[2017-08-10 15:23] Gounlaf commented on #318
It was not available on jcenter when @carmas123 posted (I looked at both jcenter and maven central)

[2017-08-10 15:29] mikepenz commented on #318
@Gounlaf isn't this the correct place to check for jcenter availibility: https://bintray.com/mikepenz/maven/iconics-views/2.9.2 ?

[2017-08-10 15:30] mikepenz commented on #318
Oh ok I see now: https://bintray.com/bintray/jcenter/com.mikepenz%3Aiconics-views

weird :O

[2017-08-11 02:34] chanderwoo opened #319 "cannot set iconfont attr"
why there is a condition of  if (!TextUtils.isEmpty(icon.getPlainIcon())) before set iconfon attr in IconicsViewsAttrsReader. Is it a bug?  it should be if (!TextUtils.isEmpty(icon.getIcon())) right?

[2017-08-11 03:04] chanderwoo commented on #319
Sorry, I didn't find the 2.9.2 has fixed the issue. well done. but  doesn't release yet

[2017-08-11 03:04] #319 closed

[2017-08-11 13:49] r748 opened #320 "setIcon() not working on IconicsImageView"
Hello Mike,

Thanks for this nice library!

Just updated to
[code]

I'm using your FastAdapter library. The AbstractItem has three IconicsImageViews in it's layout resource. Two of these icons are defined in xml and show up correctly in the RecyclerView. However on one IconicsImageView I set the icon dynamically the onBind method. But with the newest version of Iconics library, setIcon(IIcon) is n

[2017-08-11 16:44] mikepenz commented on #319
@chanderwoo v2.9.2 is released https://repo.maven.apache.org/maven2/com/mikepenz/iconics-views/

[2017-08-11 16:46] mikepenz commented on #320
The icon you set does it have a size or anyhting?

Seems weird why it wouldn't work. I directly set the drawable:
https://github.com/mikepenz/Android-Iconics/blob/develop/iconics-view-library/src/main/java/com/mikepenz/iconics/view/IconicsImageView.java#L88

[2017-08-12 07:08] r748 commented on #320
Hi Mike,

Thanks for your quick reply.

In the meanwhile, I figured out that the icons show up, if I set the icon with all it's attributes in the `onBind()` method like this:
[code]

But in the previous version of Iconics library I was using, with `setIcon()` only the icon drawable was changed, but the attributes defined in xml (e.g. iiv_size, iiv_color) were preserved.

[2017-08-12 18:30] mikepenz commented on #320
@r748 ah ok I see. I'll have a look

[2017-08-14 08:57] r748 commented on #320
Thanks, Mike!

Just for info:
The last Iconics version I was using, where `setIcon()` only changed the icon and xml attributes were preserved, was 2.8.5. Also, I upgraded compileSdkVersion from 25 to 26 at the same time, as I upgraded Iconics library. So possibly this may be a bug in the `setImageDrawable()` method of SDK 26?!

[2017-08-14 16:52] mikepenz commented on #320
@r748 no I am sure the support libs 26 makes no difference. I'll look into it as soon as I have time

[2017-08-15 17:02] r748 commented on #320
Thank you very much!

[2017-08-15 17:38] r748 commented on #320
Just discovered, `setColor()` on `IconicsImageView` in `onBind()` method also seems to be broken...

[2017-08-20 00:40] mikepenz commented on #320
@r748 the `setColor()` should work. at least it does in the sample

[2017-08-20 00:48] mikepenz commented on #320
@r748 could you please try if this: https://github.com/mikepenz/Android-Iconics/commit/7d8bdd98fe1b1aa4e0bf8914e89444730dfaf815 resolves your issues?

[2017-08-21 14:45] r748 commented on #320
Hey Mike,

Your changes resolve my all issues concerning `setIcon()`. Thank you very much!

However one strange issue remains with `setColor()`: If I set an icon's color in xml (`app:iiv_color`) and then try to change it with `setColor()`, the icon color is not always set to the new color. It seems that if the old color has a certain percentage of transparency (e.g. #12000000), the new color inher

[2017-08-21 19:49] sajadabasi opened #321 "build error"
[code]

[2017-08-21 21:31] mikepenz commented on #321
@sajadabasi clean your project. if it still happens you may run out of the 64k dex limit by adding to many libs

[2017-08-22 07:52] mtrakal opened #322 "IconicsImageView doesn't reflect iiv_color"
`androidIconics = '2.9.1' // https://github.com/mikepenz/Android-Iconics`
core + views

[code]

Icon color is black, not white.
Before we used `2.8.9` and it works as expected. Must be regression.

[2017-08-22 08:03] Rainer-Lang commented on #322
Try the newest for views:
compile "com.mikepenz:iconics-views:2.9.2@aar"

[2017-08-22 08:30] mtrakal commented on #322
Some icons are back white, but when icon is set by code not. Previously was working ok.

FIY: info that version of view/core is not much visible :/.
On https://github.com/mikepenz/Android-Iconics I look just on Maven central icon for latest version and when changed, open: https://github.com/mikepenz/Android-Iconics/releases
There is no info about different version of view/core. So maybe some info

[2017-08-22 09:30] Rainer-Lang commented on #322
Look at the readme - and try the view-2.9.2 version

[2017-08-22 10:44] mtrakal commented on #322
As i wrote in previous comment:

it was related to view-2.9.2 :)

[code]

[code]

[code]

![device-2017-08-22-122319](https://user-images.githubusercontent.com/1458891/29561161-bdfdecd0-8734-11e7-9d01-af8e6ea73952.png)

Maybe I'm wrong, but I think, that in our code and previous version of lib first icon have `colorAccent` and icon `gmd_access_time` after call `vIIVBroken.setIcon`.
Only set icon,

[2017-08-22 10:46] mtrakal commented on #322
When i change lines to:
[code]
Icon is back BLACK and not `colorAccent`...

[2017-08-22 12:54] zTrap commented on #322
@mtrakal That bug was fixed in this [commit ](https://github.com/mikepenz/Android-Iconics/commit/7d8bdd98fe1b1aa4e0bf8914e89444730dfaf815). Please wait new version

[2017-08-22 15:17] sajadabasi commented on #321
Yeah, that was the problem...
I removed your libs and use data-binding to set the font in XML and that's fine;
thank you;

[2017-08-22 17:15] #321 closed

[2017-08-25 08:35] MFlisar opened #324 "IconicsImageView color inconsistancy"
I tried following to set my icons color:

*Layout*

	<com.mikepenz.iconics.view.IconicsImageView
		android:id="@+id/ivIcon"
		style="@style/SettImage" />

1) style the color in my theme:

		<style name="SettImage">

			<item name="ico_color">?android:attr/textColorPrimary</item>
			<item name="ico_size">24dp</item>
			<item name="iiv_color">?android:attr/textColorPrimary</item>
			<item name="iiv_

[2017-08-25 19:28] mikepenz commented on #324
@MFlisar I don'T think you can style these values like this, as we do not have them as styled attributes. It's not like in the MaterialDrawer where I made them resolve via the theme and styles.

We just use a default color, or the one you define in xml, but nothing from a style or anywhere else. so it is correct behaviour

[2017-08-25 19:28] #324 closed

[2017-08-25 21:07] mikepenz commented on #320
@r748 yeah it is somewhat intentionally

see the following in the `IconcisDrawable`

[code]

basically I want to allow setting the alpha independent of the color, it's hard to detect if the new color should change the pre-set alpha.

[2017-08-25 21:34] mikepenz commented on #322
Released v2.9.3 which should fix this as mentioend by @zTrap

[2017-08-25 21:34] #322 closed

[2017-08-25 21:34] mikepenz commented on #320
released with v2.9.3

[2017-08-25 21:34] #320 closed

[2017-08-25 23:07] MFlisar commented on #324
What's this call then?

https://github.com/mikepenz/Android-Iconics/blob/develop/iconics-view-library/src/main/java/com/mikepenz/iconics/view/IconicsImageView.java#L69

And this:

https://github.com/mikepenz/Android-Iconics/blob/develop/iconics-view-library/src/main/res/values/attrs.xml#L22

I think you are using the attributes and am resolving them... I'm talking about the `IconicsImageView ` not

[2017-08-26 15:04] mikepenz commented on #324
the fields you can define inside the view in xml.

[2017-08-27 12:28] r748 commented on #320
Thanks, Mike!

[2017-08-28 07:40] MFlisar commented on #324
That's what I do here:

    <com.mikepenz.iconics.view.IconicsImageView
		android:id="@+id/ivIcon"
		style="@style/SettImage" />

This will expand to

    <com.mikepenz.iconics.view.IconicsImageView
		android:id="@+id/ivIcon"
        app:ico_color="?android:attr/textColorPrimary"
        app:ico_size="24dp"
        app:iiv_color="?android:attr/textColorPrimary"
        app:iiv_size="24dp" />

I th

[2017-08-31 19:02] jd-alexander opened #325 "Icons getting cut off, or displaced."
So I am having this issue with all the icons I am using. I am basically using both ImageViews and IconicsImageViews as well and this is what's happening.
![cut_off](https://user-images.githubusercontent.com/1509205/29940447-df5bfa26-8e54-11e7-8748-3d479cefa2db.png)

Only time the issue is partially resolved is if the user pull downs the notification bar.

![cut_off_2](https://user-images.githubuse

[2017-08-31 20:19] mikepenz commented on #325
@jd-alexander do you define a size for them? do you see the same behaviour in the sample app?

[2017-09-01 13:56] jd-alexander commented on #325
I was using an older version of the library; version 1.5. Once I updated the issue disappeared.

[2017-09-01 13:56] #325 closed

[2017-09-02 22:09] utsavmadaan1995 opened #326 "Update Textview normal text ( Textview with text set to icon code+normal text)"
Sir, I have a Textview in xml of which text attribute is set to say "{faw-search} All sites". Now programatically i want to update normal text("All sites") of a textview..so that textview would show same icon+updated text. I havent found or able to figure out how to do this if you can help.

[2017-09-03 06:18] mikepenz commented on #326
@utsavmadaan1995 either you use a `IconicsTextView` or you manually apply the icon replacement

[code]

[2017-09-03 06:18] #326 closed

[2017-09-03 07:55] utsavmadaan1995 commented on #326
Not working for me i have tried that. My code:
textView.setText(String.valueOf(textView.getText()).replaceFirst("\\n[^~]*","\n"+String.valueOf(text)));
                                new Iconics.IconicsBuilder().ctx(view.getContext()).styleFor(FontAwesome.Icon.faw_search).on(textView).build();

Maybe the problem is that i am replacing the text of textview before giving it to IconicsBuilder to bui

[2017-09-03 12:43] mikepenz commented on #326
@utsavmadaan1995 the second thing you wrote is fine.

One recommendation. If you have the icon in a position in the beginning etc of a TextView. Consider the compound drawable functionality.

[2017-09-07 05:31] balasaheb143 opened #327 "After click on IconicTextView"
FATAL EXCEPTION: main
                                                                       java.lang.NullPointerException
                                                                           at com.mikepenz.iconics.a$a.a(Unknown Source)
                                                                           at com.mikepenz.iconics.view.IconicsTextView.setText(Unknown Source)

[2017-09-07 05:37] #327 closed

[2017-09-09 17:54] ryandailey100 opened #328 "How to set icon from R.drawable"
I am trying to set an icon from my drawable resource folder but it doesnt seem to work. How can this be done?

        val icon1 = IconicsDrawable(this)
        icon1.icon(R.drawable.white_icon_1x)
        icon1.sizeDp(24)
        actionItemSearch.setImageDrawable(icon1)

.icon() doesnt seem to want to take R.drawable.white_icon_1x

[2017-09-11 01:40] mikepenz commented on #328
@ryandailey100 you can't this library is not meant to do something with normal drawables. Please read it's description

[2017-09-11 01:40] #328 closed

[2017-09-11 08:45] chanderwoo opened #329 "why does 'com.mikepenz:community-material-typeface:1.9.32.2@aar' there are no string ref resources"
the other typefaces can use in xml by "string/gmd-xxx-xx" but only this lib.

[2017-09-12 00:51] mikepenz commented on #329
Can you please be a bit more specific. what's the issue?

[2017-09-13 15:59] androideveloper opened #330 "Icons not showing after upgrade to latest"
It seems that something is broken with updates to libs.

My current setup doesn't show icons properly
[code]

![screenshot_20170913-195739](https://user-images.githubusercontent.com/1249919/30387592-03569b5c-98be-11e7-8636-231b8de8b124.png)

But when i downgrade google-material to compile 'com.mikepenz:google-material-typeface:2.1.0.1.original@aar' it works well.

[2017-09-13 16:22] mikepenz commented on #330
any log outputs?

[2017-09-14 06:34] androideveloper commented on #330
Can't find any related to this problem :/ The problem is after upgrade to 3.x.x.x versions. Even 2.2.0.3 works pretty well.

[2017-09-14 06:34] androideveloper commented on #330
`09-14 10:32:55.224 32010-32010/? I/art: Late-enabling -Xcheck:jni
09-14 10:32:55.285 32010-32010/com.armsoft.mtrade.dev W/System: ClassLoader referenced unknown path: /data/app/com.armsoft.mtrade.dev-1/lib/arm
09-14 10:32:55.341 32010-32010/com.armsoft.mtrade.dev D/DebugDB: Open http://192.168.0.20:8080 in your browser
09-14 10:32:55.542 32010-32057/com.armsoft.mtrade.dev I/stetho: Listening on @

[2017-09-17 12:39] mr746866 opened #331 "Dynamically change icon in a TextView"
I want to change the icon of a `TextView` dynamically using code. I tried the following code in my `Fragment` but it causes an `IndexOutOfBoundsException`.

[code]
Sorry if this is already answered somewhere.

[2017-09-17 23:21] mikepenz commented on #331
@mr746866 can you please post the whole exception?

for such a case I recommend using Compound drawables by the way

[2017-09-18 16:10] zTrap commented on #329
@mikepenz I'll add `string` fields for all icon in all libs. Don't worry about that. This issue can be closed

[2017-09-18 16:32] #329 closed

[2017-09-19 05:36] hfkh77 opened #333 "see all icons that are available"
how I can see all icons that you provided to use?
I need to select some of them for specific topic.

[2017-09-19 06:18] mikepenz commented on #333
@hfkh77 check out the sample app

[2017-09-19 06:18] #333 closed

[2017-09-23 09:50] fmeneuhe opened #334 "Attribute iiv_color not found since last update"
Hi Mike,
Since last update I get a compilation error in all my IconicsImageView: "No resource identifier found for attribute 'iiv_icon' in package":

<com.mikepenz.iconics.view.IconicsImageView
        android:id="@+id/myId"
        android:layout_width="50dp"
        android:layout_height="50dp"
        app:iiv_color="#FFFFFF"
        app:iiv_icon="faw-sticky-note" />

I am missing something in t

[2017-09-23 10:25] fmeneuhe commented on #334
I had to add this one in gradle:
compile "com.mikepenz:iconics-views:2.9.3@aar"

[2017-09-23 10:25] #334 closed

[2017-09-23 16:46] fmeneuhe opened #335 "A-Z letters"
Hi Mike,
Do you have A-Z letters included in any of your icons?
Thanks

[2017-09-23 17:05] zTrap commented on #335
@fmeneuhe, hello! You can use [this](https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/IconicsDrawable.java#L224) method for drawing some text

[2017-09-23 17:15] Rainer-Lang commented on #335
@fmeneuhe Look at the possible icons-font-libs: in readme `Already available fonts`

[2017-09-23 21:24] fmeneuhe commented on #335
Is possible to create my own custom font with all the A-Z letters? I cannot find an example about how to do that.

[2017-09-24 19:00] #335 closed

[2017-09-25 11:55] utsavmadaan1995 opened #336 "Building icon on a Textview within ItemView of a List"
Sir,

I am having a recyclerview in which every item has some text and a image(build on textview through Iconics). In adapters onBindViewHolder i am doing this:
...
textview.setText(someIconCode);
new Iconics.IconicsBuilder().ctx(context).on(textview).build()
...

Everything is working as usual but my question is it the appropriate way of adding icon to textview within some listitem view through i

[2017-09-25 14:56] zTrap commented on #336
@utsavmadaan1995, hello.

You can try to use `IconicsTextView` instead standard `TextView`, and delete using `Iconics.IconicsBuilder`. For using it add `com.mikepenz:iconics-views:2.9.3@aar"` in dependencies.

[2017-09-26 09:56] mtrakal opened #337 "attr/iiv_color and attr/iiv_size not found in styles"
I try to upgrade from `2.8.9` to `2.9.3` and got error below:
[code]

We use in our style file:
[code]

Until upgrade to latest version everything was ok. Not with latest release. Was this variables renamed?

My previous issue was: https://github.com/mikepenz/Android-Iconics/issues/322 it's a reason why we stay until today on `2.8.9`.

Thanks for help

[2017-09-26 16:31] mikepenz commented on #337
@mtrakal yeah with the latest version we split the core and the views apart.

The possible attrs are found here: https://github.com/mikepenz/Android-Iconics/blob/develop/iconics-view-library/src/main/res/values/attrs.xml

[2017-09-26 19:13] mtrakal commented on #337
Ouch, my fault. I forgot on views module. Thanks a lot

[2017-09-26 19:13] #337 closed

[2017-09-28 17:22] mikepenz commented on #336
In addition please remember that using a compound drawable is better in case the icon needs to be top,bottom,right,left ...

[2017-09-28 17:22] #336 closed

[2017-09-28 17:22] mikepenz commented on #331
Please report back with additional details

[2017-09-28 17:22] #331 closed

[2017-10-03 17:30] arashzz opened #338 "Usage on Fab and Calligraphy"
First of all thanks for your great library. I'm using this to add icons to my fabs but also need to include Calligraphy in my app.

When i attach your lib to my based context fab icons are shown but the font is not changed and it's vice versa when I attach Calligraphy's context.

Since you said context-injection is the only way to go for fab icons, is there any way to use it along side with Callig

[2017-10-03 19:29] mikepenz commented on #338
@arashzz just set the icon programatically

[2017-10-03 19:29] #338 closed

[2017-10-08 13:53] maxid opened #340 "can include map-icons?"
https://github.com/scottdejonge/map-icons

[2017-10-08 17:31] mikepenz commented on #340
They don't look like being a font

[2017-10-08 18:51] Rainer-Lang commented on #340
https://github.com/scottdejonge/map-icons/issues/60

[2017-10-11 20:45] powerhcm8 commented on #340
https://github.com/scottdejonge/map-icons/tree/master/dist/fonts

[2017-10-12 15:17] emouawad opened #341 "Is it possible to get the Resource Id?"
How to get the Resource Id of an Icon like GoogleMaterial.Icon.gmd_android ?

[2017-10-12 17:31] mikepenz commented on #341
there is no resource. they are icons which are drawn by the font. please use the provided `IconicsDrawable` class

[2017-10-12 17:31] #341 closed

[2017-10-13 11:42] Robyer commented on #107
@mikepenz Any news on this? Using isInEditingMode() "everywhere" in client code is not good. Why not put it once directly in IconicsDrawable?

[2017-10-13 17:35] mikepenz commented on #107
The icon already has `isInEditingMode()` @Robyer https://github.com/mikepenz/Android-Iconics/blob/develop/iconics-view-library/src/main/java/com/mikepenz/iconics/view/IconicsTextView.java#L48

[2017-10-13 21:31] Robyer commented on #107
@mikepenz Your widgets are using `isInEditingMode()`, but I have custom Widget inside which I programmatically create new instance of `IconicsDrawable` and in that case preview shows error.

As possible solution I can see adding new method `IconicsDrawable.setInEditingMode(boolean)`, because drawable obviously doesn't have that method itself. So I could set it once during initialization of the dra

[2017-10-13 22:29] mikepenz commented on #107
@Robyer please just add `isInEditingMode()` to your custom view as usual. Drawables don't have the `inEditingMode` your view is having the bug in the end.

[2017-10-13 23:16] Robyer commented on #107
@mikepenz I don't think bug is in my view if exception is thrown when calling `sizeDp(...)` on `IconicsDrawable`.

This code:

Causes this exception in preview:

You advises adding `isInEditingMode()` in my custom view, but that means not using `IconicsDrawable` **at all** when `isEditingMode()` returns true. Which is uncomfortable.

Having something like this `IconicsDrawable.useCompatibilityDraw

[2017-10-13 23:51] mikepenz commented on #107
but that's the point of `isInEditingMode` disabling all components of your custom view, not working in the editor

[2017-10-13 23:56] mikepenz commented on #107
@Robyer if you want to add  something like `IconicsDrawable.setInEditingMode(isInEditingMode());` to the library via a PR I am more than glad to merge it.

[2017-10-25 08:22] dev2961io opened #343 "Use Icon as hint"
What I am trying to do is use one of the icons as a hint within a EditText, but ImageSpan even tho' is meant to work with drawables does not recognise the icon as a drawable. Any idea how can I solve this?
My code:
[code]

Thank you for your time!

[2017-10-27 09:08] nowfalsalahudeen opened #344 "layout editor not working"
layour editor not rendering after compile this lib
 'com.mikepenz:fontawesome-typeface:4.7.0.1@aar'

android studio 3.1 canary
ubuntu 17.10

[2017-10-27 20:47] jayrave opened #345 "Icons with shadow"
I am overlaying some icons over other UI elements which could be of any color. To make the icons look good no matter what the color behind them is, I am planning to make the icons white and add some shadow to (like the Nexus camera). The good news is, `Paint#setShadowLayer` can do this for us! Unfortunately, there isn't an API in `IconicsDrawable` that would allow me to pass this info to the paint

[2017-10-28 05:20] mikepenz commented on #345
@jayrave that sounds amazing. sure please go ahead and open a PR for that.

[2017-10-28 05:21] mikepenz commented on #343
@dev2961io did you figure something out?
did you try to set the instrinct bounds? perhaps the `ImageSpan` needs this?

[2017-10-28 05:22] mikepenz commented on #340
@powerhcm8 @maxid  you might want to open a PR and add this font?

https://github.com/mikepenz/Android-Iconics/wiki/CustomFontAddonCreating

[2017-10-28 05:23] mikepenz commented on #330
the log does not show anything :/ could you possibly debug into it and see where it stops?

[2017-10-28 17:06] mikepenz commented on #340
If you want to use it please open a PR. I am more than happy to include it ;)

[2017-10-28 17:06] #340 closed

[2017-10-28 17:06] mikepenz commented on #330
do you see the same behaviour in the sample app?

[2017-10-28 17:07] mikepenz commented on #345
I think this issue can be closed. Please open a PR as soon as you have something ;).

Thanks a lot!

[2017-10-28 17:07] #345 closed

[2017-10-28 17:28] androideveloper commented on #330
Hey, I have debuged it and when calling this method
`    public IconicsDrawable icon(IIcon icon) {
        mIcon = icon;
        mPlainIcon = null;
        ITypeface typeface = icon.getTypeface();
        mIconPaint.setTypeface(typeface.getTypeface(mContext));
        invalidateSelf();
        return this;
    }`

typeface is com.mikepenz.google_material_typeface_library.GoogleMaterial
but nex lin

[2017-10-28 17:28] androideveloper commented on #330
Are you considering to rewrite the lib using native fonts support?

[2017-10-28 17:31] androideveloper commented on #330
I get exception here typeface = Typeface.createFromAsset(context.getAssets(), "fonts/" + TTF_FILE); cannot find font. I will try to clean/build now and let you know

[2017-10-28 17:41] mikepenz commented on #330
@androideveloper the icon fonts are not really used as real font. I'll look into it, but I guess it does not bring any real advantage.

do you have proguard or anything which might remove it?

[2017-10-28 17:53] androideveloper commented on #330
After clean build everything is ok! Current setup AS 3.0, Gradle plugin 3.0. Can't recall if I updated any other libs during this month. No, proguard is disabled.

[2017-10-28 17:54] androideveloper commented on #330
You are loading fonts from assets and have custom TypeFaceProvider, which I guess can be removed if you switch to /fonts resources

[2017-10-28 17:55] mikepenz commented on #330
very interesting. seems AS was just acting weird.

Yes I'll look into it ;) thanks

[2017-10-28 17:55] #330 closed

[2017-10-29 20:02] zTrap commented on #345
@jayrave I can do this, or you want to do it yourself?

[2017-10-29 22:48] jayrave commented on #345
@zTrap I was gonna do it some time this week, but if you wanna work on it please go ahead

[2017-10-29 22:57] zTrap commented on #345
@jayrave sorry, after I writed this ↑ I tryed and I had some problems with bounds and shadow. Also while I tryed I found mistakes in my current PR and I'm gonna to resolve the problems. So if you still can - do it yourself ^^

[2017-10-30 08:54] mikepenz commented on #345
@jayrave thank you very much. it would be awesome if you could work on this and open a PR. it would give a great feature ;).

I am currently really filled with some other libraries. just took the time yesterday to update everything ;)

[2017-10-30 16:47] jayrave commented on #345
Yup. I'll get this done this week

[2017-10-30 17:00] mikepenz commented on #345
@jayrave amazing! :)
thank you very much

[2017-11-01 09:56] DrFornax opened #350 "Index out of bounds exception when using setText() in fragment"
I'm new to the project and try to display some text in my app, which contains icons.

A server sends messages and can then add something like {gmd_play_arrow} to the text.

However, when I try to change the text of a button, I always get an index out of bound exception.

[code]

I added the following to my activity:

[code]

I have had the hope that there is some link to a place wehre I can ask qu

[2017-11-01 14:29] mtrakal opened #351 "incompatible types: IIcon cannot be converted to IconicsDrawable"
iconics-views-2.9.5-sources.jar!/com/mikepenz/iconics/view/IconicsImageView.java:63

`iconicsImageView.setIcon(object.getIIcon());`

In previous versions there was possible to insert IIcon not just IconicsDrawable.
In all places of our code we use IIcon, after uprade from 2.9.3 to 2.9.5 project is not possible to compile due to error in title.

Is there some migration guide?
No info in release not

[2017-11-01 14:36] zTrap commented on #351
This way was deprecated in 2.9.3 and removed in 2.9.4. You still can set IIcon uses `iconicsView.getIcon().icon(IIcon)`. If `IconicsDrawable` wasn’t setted via xml or code `getIcon()` will return `null`.

[2017-11-01 14:37] mtrakal commented on #351
Sorry, I revert back to 2.9.3 and search, that method is deprecated with note how to replace it.

[2017-11-01 14:37] #351 closed

[2017-11-01 14:54] zTrap commented on #350
@DrFornax I’ll check your issue tomorrow (now I have no time). You can use `IconicsCheckBox` or `IconicsCompoundButton` from our views-module as another option.

[2017-11-01 15:36] mikepenz commented on #350
@DrFornax if you have an icon only. consider using an `IconicsImageView` or `IconicsButton`

[2017-11-02 16:32] marbat87 opened #352 "IconicsMenuInflaterUtil not working with Submenus"
Hi,

I found that the IconicsMenuInflaterUtil doens't work when the menu has subitems like this:
[code]

It render just icons from begining until the first subitem.
Others are ignored.

[2017-11-02 16:35] zTrap commented on #352
@marbat87 How do you inflate that menu

[2017-11-03 08:48] marbat87 commented on #352
Like this:
`@Override
    public boolean onCreateOptionsMenu(Menu menu) {
IconicsMenuInflaterUtil.inflate(getMenuInflater(), CreaListaActivity.this, R.menu.mymenu, menu);
super.onCreateOptionsMenu(menu);
return true;
}`

[2017-11-03 09:18] zwieback opened #353 "Icon is not displayed in preference"
Hi,
I use [PreferenceFragmentCompatDividers](https://github.com/Gericop/Android-Support-Preference-V7-Fix) and after `setPreferencesFromResource` (load preferences from xml resource) I call `setPreferenceScreenIcon`:

[code]

But in this case the icon is not displayed. Although if the icon is loaded from resources, it is displayed correctly:

[code]

Maybe there is another way to load the icon int

[2017-11-03 11:44] mikepenz commented on #350
@DrFornax could you please post the exact out of bounds exception?

Just tried it in the sample application and I am not able to reproduce

[2017-11-03 12:04] zwieback commented on #353
Indeed, I forgot to add the size.

Is it possible to add a warning if the size is not specified?
Thanks for the help.

[2017-11-03 12:06] zTrap commented on #352
@marbat87 for enable checking submenus you must use
[code]
In the next time you can simply look in an class (ctrl+left click) and see overload(s) of an method(s).

[2017-11-03 13:35] mikepenz commented on #353
@zwieback there are rare cases where it's fine to have no size. that's why it is not an requirement.

Glad that it works now :)

[2017-11-03 13:35] #353 closed

[2017-11-03 13:36] #352 closed

[2017-11-03 22:50] jayrave commented on #345
I have gotten the shadow to come up, but the problem is it gets cut off. I still haven't taken a deeper dive to figure out the reason.

Will do it this weekend. I just wanted to post an update & let know that I haven't abandoned :)

[2017-11-04 00:29] mikepenz commented on #345
Please just open a WIP PR we can look into it to. I might have some ideas.

Awesome work!

[2017-11-04 11:46] shashank1094 opened #354 "Beginner in Android"
Please provide the source code of a sample app as it is difficult for me as a beginner to use your library.

[2017-11-04 11:50] #354 closed

[2017-11-07 00:52] jayrave commented on #345
#355

[2017-11-08 06:14] sirs-rsml opened #356 "Proguard settings"
I use custom icon created using this tool http://android-iconics.mikepenz.com/,

This is my proguard setting on my main app

[code]
using this config only, I got an error

`java.lang.NullPointerException: Attempt to invoke interface method 'com.mikepenz.iconics.a.b com.mikepenz.iconics.a.a.b()' on a null object reference`

if I add `-keep class com.mikepenz.iconics.** { *; }` to proguard rules, I

[2017-11-08 09:18] mikepenz commented on #356
Keep that specific font you created. like:

[code]

[2017-11-09 01:37] sirs-rsml commented on #356
Unfortunately its not working, here is my icon class
[code]

[2017-11-09 21:23] DrFornax commented on #350
I'm very sorry that it took a week to answer but I was one week out of the project.

I tried to dive a little deeper into the problem, but the stack trace does not give me an idea where to look for the problem. It occurs whenever I want to update a text of a UI Element such as a label with setText and when I add an icon tag inside the text such as ""{cmd_database} Loading from database"

Unfortuna

[2017-11-11 21:16] mikepenz commented on #350
@DrFornax hmmm it does not have a reference to the library. I really have no clue what might cause it.

For your case. You want to have an icon always on the beginning of the text?

I suggest to use a `Compound` drawable. it is the proper way for doing something like this.

The `PlaygroundActivity` showcases this

[2017-11-18 10:42] mikepenz commented on #356
[code]
should solve it.
Just as a side note. Java does not have lowercase classes

[2017-11-18 10:42] #356 closed

[2017-11-18 10:43] mikepenz commented on #350
@DrFornax can you provide a sample implementation which showcases this crash?

did you try the proper implementation using a compound drawable?

[2017-11-18 10:44] mikepenz commented on #343
Close for now. Please report back

[2017-11-18 10:44] #343 closed

[2017-11-20 10:18] dev2961io commented on #343
I have tried but with no luck, I was away from that project for a while now and I just got back on it. I was still not able to come up with a solution.

[2017-11-23 10:28] DrFornax commented on #350
The icon is not always at the beginning of the text. A server sends messages and puts the icons in the flowing text.

I really try to find out where the problem is. Unfortunately I am not allowed to paste some code, yet but will try to find out if I could isolate the problem or send you some code to reproduce the problem.

Since this is a part time project and I'm not working on it all the time, i

[2017-11-23 10:48] mikepenz commented on #350
@DrFornax thank you for the answer.

I can only assume that you do not set it in the main thread?

You might also want to try and not use the `IconicsContextWrapper` but instead a normal `IconicsTextView` and just apply the text via this approach.

I hope something of these things solve sit for you

[2017-11-27 16:09] juanm4 opened #357 "Problem with xml icons"
Hi, I have added this in gradle:

`implementation 'com.mikepenz:iconics-core:3.0.0@aar'`
`implementation 'com.mikepenz:iconics-views:3.0.0@aar'`
`implementation 'com.mikepenz:fontawesome-typeface:4.7.0.0@aar'`

In the file .xml I have next code:

`<com.mikepenz.iconics.view.IconicsButton
                        android:layout_width="@dimen/size_button_mini"
                        android:layout_h

[2017-11-27 18:11] mikepenz commented on #357
@juanm4 any log output?
any crash?

which support lib version?
which build tools?

[2017-11-27 19:32] juanm4 commented on #357
@mikepenz this is my full gradle file:

`apply plugin: 'com.android.application'

buildscript {
    repositories {
        mavenCentral()
        jcenter()
        google()
        maven { url "https://jitpack.io" }
    }
    dependencies {
        classpath 'com.android.tools.build:gradle:3.0.1'
    }
}

repositories {
    mavenCentral()
    jcenter()
    google()
    maven { url "https://jitpack

[2017-11-27 19:36] mikepenz commented on #357
What's the error you see?

[2017-11-27 19:50] juanm4 commented on #357
I have no errors in log. But just now I have detect the problem.

I was using:
`implementation 'com.mikepenz:fontawesome-typeface:4.7.0.0@aar'`

And the correct is:
`implementation 'com.mikepenz:fontawesome-typeface:4.7.0.1@aar'`

Also, after change that and clear all cache icons come back to appear.

Again, sorry for the inconveniences and thanks.

PD: I think this library is awesome!!!!!!

[2017-11-30 13:49] vivekav-96 opened #358 "Crash on updating to 3.0.0"
IconicsImagView was working fine until 2.9.3
Then I Updated to 2.9.5, was causing to crash the application.  (Nothing changed in Java or XML code)
Then I rolled back to 2.9.3 and everything worked fine.
Now on 3.0.0 release, tried upgrading was causing crashes. (Nothing changed in Java or XML code)
Tried cleaning and building project. No use.

Posting the entire crash log on updating to 3.0.0

[cr

[2017-11-30 15:47] mikepenz commented on #358
@vivekav-96 did you read the upgrade notes?
https://github.com/mikepenz/Android-Iconics/blob/develop/MIGRATION.md#295

[2017-12-01 04:50] vivekav-96 commented on #358
I've added Iconics **View** library until 2.9.3
On higher versions, I needed to add both the **View** and **Core** library.
Fixed the issue.
Thank you for the support and the awesome library @mikepenz

[2017-12-01 04:50] #358 closed

[2017-12-03 15:39] mikepenz commented on #357
Thank you very much

[2017-12-03 15:39] #357 closed

[2017-12-06 21:11] starapple2 opened #359 "Application crashes with message exception caused by a factory already set on inflator"
I'm using Android Studio 3.1 and in attempting to implement Android Iconics my app crashed on launch. The Logcat reports "java.lang.IllegalStateException: A factory has already been set on this LayoutInflater".

The IDE says "'setFactory(android.view.LayoutInflater, android.support.v4.view.LayoutInflaterFactory)' is deprecated" and struck out setFactory().

What may the fix be?

[2017-12-06 23:36] starapple2 opened #360 "Usage in navigation drawer"
This is not an issue but a question: How can this be used for icons in a navigation drawer?

[2017-12-07 09:17] mikepenz commented on #360
@starapple2 it can only be used programatically. If you can set a `Drawable` programatically for the `NavigationDrawer` this is possible.

There is sadly no way in Android, to hook into the xml parsing for the menu and interpret these icons

[2017-12-07 09:18] mikepenz commented on #359
seems you already have a `LayoutFactory` added.

Do you need the iconics support in all default view's or can you use the `IconicsView`'s?

In my opinion the best is anyways still to use the `IconicsDrawable` programatically

[2017-12-07 13:10] starapple2 commented on #359
Hi Mike, I switched to alternative three and things worked fine. I combed my code for other instances of
LayoutFactory. I assumed that some other class or function was quietly using it since there's no such literal reference.

Somehow Gradle just seemed to be quirky with the package because after I restarted Android Studio, the mikepenz external classes were listed. Then last night quite of of the

[2017-12-07 13:10] #359 closed

[2017-12-07 13:21] starapple2 commented on #360
Really sad Mike. I was drawn to your contributions while searching for info on navigation drawer and vector graphics. Since I wasn't going to try to reinvent the wheel, I added the default activity from Android Studio but became concerned about replacing the grouped vectors with PNG images.

The great part though is that Iconics has sooo simplified styling some media buttons into which I had inser

[2017-12-07 13:21] #360 closed

[2017-12-07 13:48] RupeshYadav commented on #143
Make this entry in dimens

<dimen name="design_fab_image_size" tools:override="true">36dp</dimen>

Like_
<resources xmlns:tools="http://schemas.android.com/tools">
    <dimen name="fab_margin">16dp</dimen>

    <dimen name="design_fab_image_size" tools:override="true">59dp</dimen>
</resources>

You can adjust its size according to your need e.g., 36/42/54 dp

[2017-12-07 13:54] RupeshYadav commented on #143
Make this entry in dimens

`<dimen name="design_fab_image_size" tools:override="true">36dp</dimen>`

Ex
`<resources xmlns:tools="http://schemas.android.com/tools">
    <dimen name="fab_margin">16dp</dimen>

    <dimen name="design_fab_image_size" tools:override="true">42dp</dimen>

</resources>`

You can adjust its size according to your need.

[2017-12-14 01:09] arose13 commented on #330
Sorry what is `AS` ?

[2017-12-14 02:05] zTrap commented on #330
@arose13 AS means Android Studio

[2017-12-18 02:30] hurshi commented on #350
Hi,I have a same exception
and I can provide source code:(I create a demo at Android-Iconics project
### source code
there are only two file
[code]
the layout:
[code]

and change AndroidManifest.xml like
[code]
there will be a IndexOutOfBoundsException after you click

### temporary Solution
do not set layout_width="0dp" can temporary solve this exception,but this is not Completely,I have this exc

[2017-12-23 05:47] hurshi commented on #350
@mikepenz ???

[2017-12-23 10:39] mikepenz commented on #350
@hurshi I'll have a look. It takes a bit. I am super flooded with work and life, ..

[2017-12-23 11:12] mikepenz commented on #350
Ok so after looking into it.

The issue is caused by the following:
WIth the `IconicsLayoutInflater2` I'll automatically replace text with the icon + attach a text listener to the textview.

When we then adjust the text the normal `draw` logic instantly kicks in of the textview, during this time we get the event of the `TextWatcher` with the editable, which we modify to be the icon.
The problem he

[2017-12-23 11:18] #350 closed

[2017-12-26 15:11] 4Face opened #361 "Can't load IconicsDrawable with Glide."
## About this issue

- Briefly describe the issue:
I can't load an IconicsDrawable with Glide.
E/GlideExecutor: Request threw uncaught throwable                                                                      com.bumptech.glide.Registry$NoModelLoaderAvailableException: Failed to find any ModelLoaders for model: com.mikepenz.iconics.IconicsDrawable@541b05d

Is there any way to fix it? I wanna

[2017-12-26 19:26] mikepenz commented on #361
@4Face glide is meant to load resources or images from the web. not for `Drawables`

you can set the `IconicsDrawable` as normal drawable to that view.
the issue is not related to this library.

Just use glide correctly. Please find more details in the glide library

[2017-12-26 19:26] #361 closed

[2018-01-04 01:15] rubengees opened #362 "colorRes not working properly on Oreo with alternative resources"
Library version: `3.0.0`
Android Version: `8.0.0 (Oreo)`
Device: All i tried on.

I have a color named `icon` defined in both a `values/colors` and `values-night/colors` file.
If the night mode is enabled, I want the color to be loaded from `values-night/colors`.

Consider this minimal example:

[code]

On `Oreo` this leads to an icon always colored with that one defined in `values/colors`.

If I

[2018-01-06 13:25] mikepenz commented on #362
@rubengees this works intentionally to prevent issues due to the context no longer being active.

In case you need to have it activity bound please provide the color as colorInt already:
https://github.com/mikepenz/Android-Iconics/blob/8297bc99b78e2b6ce60a0fae6a25ad488a0c5163/library-core/src/main/java/com/mikepenz/iconics/IconicsDrawable.java#L411