[2014-11-01 19:58] mikepenz opened #1 "Fix IconicButton"
IconicButton won't show the icon

[2014-11-01 20:01] mikepenz opened #2 "Set Style per Icon-Identifier within a Text"
It should be possible to set the style of the icons not only for a whole text, but also for a single icon identified by it's key so in the following example it should be possible to set the style for {icon-faw-adjust} or {icon-fon-test1}

abcdef{icon-fon-test1}ghijk{icon-faw-adjust}lmnopqr{icon-fon-test1}

If an icon is set twice you won't be able to style one one of them. This is a limitation. Co

[2014-11-02 13:40] #1 closed, assigned to mikepenz

[2014-11-02 13:40] #2 closed, assigned to mikepenz

[2014-11-03 11:35] mikepenz opened #3 "Improve Description"
The description (README.md) needs some improvements to make it easier for new users to use this project.

Any ideas?

[2014-11-03 19:45] alexandrepossebom opened #4 "TextView drawable padding"
Hi Mike, I am not sure if this a question or improve request. But have any method to add a padding between image and text ?

thx

[2014-11-10 08:29] AndreiD opened #5 "Min SDK lower than 15 ?"
Any chance that this will work on minSdkVersion 10 for example ?

[2014-11-10 20:59] #5 closed, assigned to mikepenz

[2014-11-10 21:28] mikepenz opened #6 "Center Text"
Center Text if the set icon has a different size

[2014-11-10 21:29] mikepenz opened #7 "Set SPAN correct"
I had used the wrong spannable definition -> Spannable.SPAN_EXCLUSIVE_INCLUSIVE
It should be -> Spannable.SPAN_EXCLUSIVE_EXCLUSIVE

This will be fixed in 0.5.2

[2014-11-11 09:36] AndreiD opened #8 "set it as drawable top"
I want to set drawable top/right/left/bottom.
I tried something like this

[code]

but it doesn't work. am I doing something wrong ?

[2014-11-11 14:11] #8 closed, assigned to mikepenz

[2014-11-22 19:56] alexandrepossebom opened #9 "How to use in Widget"
Mike, I need to convert IconicsDrawable to Bitmap to use icon inside home widget.

When I do it only outline is visible in bitmap, do you now better way to use IconicsDrawable in widget with remoteview ?

Thank you

[2014-11-22 21:40] #7 closed, assigned to mikepenz

[2014-11-22 21:50] #9 closed, assigned to mikepenz

[2014-11-23 19:45] #3 closed, assigned to mikepenz

[2014-11-23 19:49] #4 closed, assigned to mikepenz

[2014-11-25 11:34] AndreiD opened #10 "Not an issue but can you make minSdkVersion"
not an issue, but can you please make minSdkVersion 10 for the google-material-typeface ?

[code]

[2014-11-25 17:02] #10 closed, assigned to nobody

[2015-01-09 16:33] somghosh opened #11 "Does not work with the Preview mode in Android Studio layout editor"
Is there a way to fix it?
 My code looks like below - if I remove the IconicsTextView it renders properly, but not with it

    <RelativeLayout
        android:layout_width="match_parent"
        android:layout_height="45dp"
        android:layout_marginLeft="@dimen/card_gap"
        android:layout_marginRight="@dimen/card_gap"
        android:gravity="center_vertical">

        <TextView

[2015-01-09 18:11] mikepenz commented on #11
@somghosh as far as i know the editor can only show static data. So let's say it would be possible to set a preview text. The icons are generated during runtime so there is nothing to show.

I can't try it right now, but if you mean that the editor can't show the layout at whole or displays an exception it is possible to fix, have to check.

[2015-01-09 21:31] somghosh commented on #11
Thanks @mikepenz - I mean that the editor can't show layout as a whole. I am fine with visualizing the fonts (created at runtime), but I would like to see the rest of the layout - and as of now I can only do so by changing IconicsTextView to Textview manually each time, and then changing it back again to run

[2015-01-10 14:49] #11 closed

[2015-01-10 14:56] mikepenz commented on #11
@somghosh fixed in v0.7.1

[2015-01-10 18:08] somghosh commented on #11
Thanks @mikepenz . Would you be pushing it to the maven repo anytime soon - since I use most libraries that way
        //for Iconics library
    compile 'com.mikepenz.iconics:library:0.7.0@aar'

This and the ActionItemBadge are the best two time-savers I've come across recently :)

[2015-01-10 18:12] mikepenz commented on #11
@somghosh v0.7.1 is already on maven central. Just change it to this:

[code]

Thank you so much. I try my best to help others :).

If you create an application, and need an about this app section + proper credits (an open source section in your app to show which libs you use and which licenses they have) you probably will like this:
https://github.com/mikepenz/AboutLibraries

[2015-01-29 15:08] DominikAngerer opened #12 "Font Awesome Update"
Hi. Just for you to notice: There was an update von fontawesome (4.3.0) - maybe you want to get it.

http://fortawesome.github.io/Font-Awesome/

[2015-01-29 17:48] mikepenz commented on #12
is fixed in version 0.7.2 -> just pushed it to maven central

[2015-01-29 17:48] #12 closed

[2015-02-20 15:58] mikepenz opened #14 "Cache Drawable"
Implement a function to cache created bitmaps, to prevent creating them over and over again.

[2015-03-01 09:23] mikepenz commented on #14
Ok this is not required if you look at the way how drawables work. You can just create a new drawable over and over again. The old reference will be automatically removed.

In fact it's even better to recreate a new drawable each time if you want to avoid memory leaks.

http://www.curious-creature.com/2008/12/18/avoid-memory-leaks-on-android/comment-page-1/

[2015-03-01 09:23] #14 closed

[2015-03-10 03:13] paolomcgrath opened #16 "Pushing latest update to maven central"
Any chance you could push the latest build to maven central? The placeholder icon in the library is overriding our default app icon with iconics 0.7.6, so i'm guessing there hasn't been a more recent push.

Thanks!

[2015-03-10 06:54] mikepenz commented on #16
@paolomcgrath oh sorry. yeah will publish it later today.

[2015-03-10 15:08] paolomcgrath commented on #16
Great, thank you :)

[2015-03-10 17:12] #16 closed

[2015-03-23 12:49] gpulido opened #17 "Google Materials icons not working on IconicsTextView"
I have registered on a customApplication the google material icons:
[code]
And try to use it on a textview:

[code]

But the inflater tries to create it throws a null exception.
I have tried with a fontawesome icon and it works (even without it registered on the application)

If I try to use the GoogleMaterial icons through
[code]
it does work.

I don't know what is happening here:

(Using 0.7.9)

[2015-03-23 19:21] mikepenz commented on #17
@gpulido with the newest version you don't have to register the GoogleMaterial font anymore because it is included as default. See the README ;)

And why it won't show the icon :D you have to write `{gmd-android}`

[2015-03-23 19:21] #17 closed

[2015-03-24 16:19] gpulido commented on #17
@mikepenz Sorry if this is very dumb. I've been able to use the gmd-android or the gmd-edit icon. (thank for pointing me the error). But I'm trying to use the gmd-skip-next, and it is not working. I'm able to use it programatically through "gmd_skip_next" but not on the Iconicstextview.

[2015-03-25 11:33] csaq7151 opened #18 "Icons not showing"
Only the Custom Font of the sample is showing the Icons. Working now on this problem since 2 days but no result.

Can you help me ?

![screenshot_2015-03-25-12-28-45](https://cloud.githubusercontent.com/assets/10165699/6823679/b4dee286-d2ea-11e4-8f74-4880915b560b.png)

[2015-03-25 12:57] mikepenz commented on #18
@csaq7151 is this the sample application without any modifications?

[2015-03-25 13:16] csaq7151 commented on #18
@mikepenz yes

[2015-03-25 13:41] mikepenz commented on #18
what phone do you use? you also use Android Studio?

[2015-03-25 13:46] csaq7151 commented on #18
I use Nexus 4 and Nexus 5. I use eclipse.

[2015-03-25 14:07] mikepenz commented on #18
I assume it's a problem with eclipse.
I give you the advice to switch to the Android Studio.

For eclipse i can't really help you

On Wed, Mar 25, 2015 at 2:46 PM, Emme <notifications@github.com> wrote:

[2015-03-25 14:41] csaq7151 commented on #18
But why is it working with the Custom Font then ?

[2015-03-25 20:59] mikepenz commented on #18
You mean as class to your project? I am sure there must be an issue with the eclipse setup. Here it's working on all devices and emulators.

[2015-03-25 20:59] #18 closed

[2015-03-25 22:00] csaq7151 commented on #18
yes exactly. If I add them as class everything its working fine.

thanks anyway :)

[2015-03-26 21:32] mikepenz commented on #17
@gpulido just tried this within an textview with the newest version. i can use {gmd-skip-next} within a textview without problems

[2015-04-09 23:32] cgudea opened #20 "R.color.<value> incorrectly sets color"
I want a 54% opacity on an all black icon (its what android asset studio generates their icon colors as).
If I set it as follows:

    mNavBtn.setImageDrawable(
            new IconicsDrawable(this, FontAwesome.Icon.faw_location_arrow)
                    .color(0x8a000000)
                    .sizeDp(24));

I get the correct color. If I try to use values in my colors.xml, the color is all wrong.

[2015-04-10 07:36] mikepenz commented on #20
@cgudea just use the method `.colorRes`

there is a separat method for this because the color itself is an int and the ressource identifier is an int. i won't be able to get the difference of both :P

But in fact your "workaround" basically does the same

[2015-04-10 07:36] #20 closed

[2015-04-11 06:49] cgudea commented on #20
haha woops, yeah I'll just use that method instead =D

[2015-04-11 19:45] arcao opened #21 "IconicsImageView layout attributes doesn't work"
I have problem to set icon and color from a layout for `IconicsImageView`. The attributes are not applied.

Example of layout
[code]

Also Android Studio 1.2 Beta 3 say:

By the way there is no way to change icon color from the code (maybe possible via `IconicsDrawable.colorRes(...)`).

[2015-04-17 23:44] alorma opened #23 "Update play store sample"

[2015-04-18 15:13] alorma opened #24 "Add ability to update an existing library"
Hi.

As you can see in https://octicons.github.com/, currently the Octicons library is version 2.2.2, and the app uses 2.2.0.

How can i update the Octicons lib (or anyone else), without recreate full Octicons class? Is there any way to ```.withFontFil("file.ttf);```?

[2015-04-20 06:27] mikepenz commented on #24
@alorma the only way to update a font is use the js included and update the mapping entries, and updating the file. as far as i know there's no way to get the (string - utf8 char) mapping from the ttf.

[2015-04-20 06:37] alorma commented on #24
Uhmm.

I wasn't talking about add new icons.

Ex: imagine UI designer sent you font_01.ttf, and then, after a week font_02.ttf, with the same icon, but well designed (with material design ex).

I need to compile a new version of my icon library?

[2015-04-20 06:38] mikepenz commented on #24
ah i see. if the icons itself don't change. you can just add a new custom "font" to your project. as shown in the sample activity. just use the font class inside your app then.

[2015-04-20 06:42] alorma commented on #24
Ok :)

I just suggest something like

```new Octicon().withFile("octicons_2.2.3.ttf")```

[2015-04-20 07:20] mikepenz commented on #24
@alorma yeah not sure if it makes sense because the provided addons should be updated with new release. and custom fonts which are created by your designers are a module or a simple class in your project

[2015-04-20 15:02] alorma opened #25 "ITypeface shouldn't force me to add data"
Adding the following methods to ```Typeface```

[code]

Is weird, it should be in a ILicense class?

[2015-04-20 16:00] kosiara commented on #21
Is there a workaround for this in Android Studio? I can't get Designer to work with IconicsImageView. :)

[2015-04-20 16:21] mikepenz commented on #25
@alorma yeah it would be possible to split it up. but if you don't require these information just keep them empty.

[2015-04-20 16:41] mikepenz commented on #21
@kosiara you can add to ignore the unknown prefixes

[2015-04-20 19:07] kosiara commented on #21
@mikepenz Thanks a lot ! I'll try it

[2015-04-20 19:12] mikepenz commented on #21
@kosiara what is the error message you get from the layout editor? i never use it :D i create my layouts in my head :P

[2015-04-20 21:22] #24 closed

[2015-04-20 21:22] #23 closed

[2015-04-21 14:09] SanderTuit opened #26 "IconicsTextView and Html.fromHtml colors"
`IconicsTextView` doesn't follow HTML colors when using `setText(Html.fromHtml('Test: <font color='#FF0000'>Colored text goes here</font>'))`. Is this intentional, a bug or a feature? ;-)

[2015-04-21 15:20] mikepenz commented on #26
@SanderTuit i assume the spanables which are create by the Html.fromHtml method are overwritten by Android-Iconics. Not sure if it's that easy to keep both.

Is it an required function for you?

[2015-04-21 16:10] SanderTuit commented on #26
Well, I was actually trying to use it to color the icon, but I guess that would be more difficult altogether. My use case is the following. I'm displaying an icon after a username and want to use different colors for different user types. I guess I can use a different kind of `View` (perhaps `IconicsImageView`) if supporting Html.fromHtml is not on your todo list. :-)

[2015-04-21 18:01] mikepenz commented on #26
There is something different which allows you to color icons inside a textView :D
Look at the playground activity.

Html.fromHtml is not planned :D

[2015-04-21 18:03] mikepenz commented on #26
Here's a snippet how you can style elements of an TextView with spanables :D

[code]

[2015-04-21 18:03] #26 closed

[2015-04-22 18:42] Anatidae-Project opened #27 "CSS to compatible lib"
It would be cool to get an NPM module going that converts  TTF / CSS data into a custom font library ready for Android-Iconics.

Something like this:
https://github.com/FokkeZB/IconFont

[2015-04-22 20:38] mikepenz commented on #27
@Anatidae-Project there is no npm module but a js file which can be used with node to convert ttf & css to the entries for an Android-Iconics addon

[2015-04-24 15:31] somghosh opened #28 "Using alpha/transparency in colors"
My code sets the colour of an icon as follows:

        menu.findItem(R.id.action_notification).setIcon(new IconicsDrawable(this, FontAwesome.Icon.faw_android).
                color(R.color.iconactive).sizeDp(24));

Color is defined with a transparency component. However it still appears black on my app when I run it. Is this not supported then?

     <color name="iconactive">#36000000</color>

[2015-04-24 20:34] mikepenz commented on #28
@somghosh it works but only on api level 21+. i have not found a solution for pre lollipop devices yet

[2015-04-27 02:19] Anatidae-Project commented on #27
Are you talking about the extractor.js script?

[2015-04-27 11:47] mikepenz commented on #27
yes :D this can be executed with node and will output a list with the mapping. it's not yet perfect, but already a good start

[2015-05-03 18:38] somghosh commented on #28
Thanks

[2015-05-03 18:38] #28 closed

[2015-05-03 18:39] somghosh commented on #11
Thanks Mike. I am using the following, but still the preview seems not to work upon using the latest release in my build.gradle

            <IconicsButton
                android:id="@+id/helpticket_from_tracking_app_btn"
                android:layout_width="wrap_content"
                android:layout_height="wrap_content"

                android:layout_marginLeft="10dp"

                andro

[2015-05-03 20:53] mikepenz commented on #11
@somghosh thanks for the info.

[2015-05-05 13:44] sherpya commented on #21
https://code.google.com/p/android/issues/detail?id=65176

[2015-05-05 19:12] mikepenz commented on #21
@sherpya not sure. He's talking about the preview.

[2015-05-06 13:54] sherpya commented on #21
Please look at the last comment, the guy says it's still a bug, anyway the support library does not suffer of this problem. Also the designer goes crazy and it's unable to draw nothing, not only the custom widget

[2015-05-06 19:49] mikepenz commented on #21
@sherpya inside fragment tags. but as far as i can say @arcao has no <fragment>

[2015-05-11 13:55] sherpya commented on #21
looks like using the full class `android.view.IconicsButton` does not trip the designer, at this point it would be better to have a different namespace (yes this will break compatibility)

[2015-05-18 06:16] magicgoose opened #29 "Is it really a good idea to put View classes into android package?"
I mean, these classes https://github.com/mikepenz/Android-Iconics/tree/master/library/src/main/java/android/view. There's a benefit of not having to type the package name in XML layout definitions, but if everyone will do like this, there will be name clashes (because packages are no longer preventing them).

[2015-05-18 07:57] magicgoose opened #30 "Formatted text support"
IconicsBuilder's `on` method accepting TextView doesn't care about any formatting (spans) in the text, probably because it puts existing text in `StringBuilder` and it keeps only the text, dropping the spans.

It would be great to add support for formatted text and maybe even I will make a pull request someday, but are there any current workarounds for achieving this result? (I want to insert some

[2015-05-18 07:59] magicgoose commented on #30
Oops, I found the issue about the same thing https://github.com/mikepenz/Android-Iconics/issues/26

[2015-05-18 08:37] magicgoose commented on #30
Here it is: https://gist.github.com/magicgoose/8b4bb1eb7ee428c0fc3b

[2015-05-18 11:31] mikepenz commented on #30
isn't this working for you:

[code]

?

[2015-05-18 11:32] mikepenz commented on #29
@magicgoose you are right. I will change this in the next release

[2015-05-18 12:11] magicgoose commented on #30
If I do it like in your snipped, any existing formatting in tv1's text is lost.

[2015-05-18 13:26] mikepenz commented on #30
@magicgoose ah ok i see. So perhaps this method should be modified to support pre formatted stuff.

[2015-05-18 14:50] magicgoose commented on #30
Or you can include these methods as well https://gist.github.com/magicgoose/8b4bb1eb7ee428c0fc3b, because sometimes it's handy to just get a Spanned text with some icons. (if the text is displayed in something other than a TextView, for example)

[2015-05-18 15:35] thomasdsouza commented on #11
Thank you for yourawesome work.
IconicsTextView also causes preview to go blank. Using 0.9.1 in Android Studio 1.2.1.1 on Windows 8.1

[2015-05-19 13:31] mutindaz opened #31 "Stacked icons"
How do you create the below using Android-Iconics? Looked at the demo but I seem not to get an example for this.

[code]
Basically a cloud icon with a square around it.

The output is here http://jsfiddle.net/mutinda/w5zbxm20/

[2015-05-19 14:10] mikepenz commented on #31
@mutindaz if you need to overlap to icons i would recommend you to create a `RelativeLayout` with two `ImageViews` inside it where one ImageView overlaps the other.

[2015-05-19 14:14] carmelo-ruota opened #32 "Problem using Lollipop"
On Lollipop, using IconicsButton, only the normal text "Button" is displayed.

 <IconicsButton
        android:text="{faw-adjust} Button"
        android:layout_width="120dp"
        android:layout_height="60dp"/>

Same code, on Kitkat shows both icon and text.

[2015-05-19 14:31] mutindaz commented on #31
@mikepenz nice one!

[2015-05-19 15:53] #31 closed

[2015-05-19 19:54] mikepenz commented on #25
@alorma ok i think in fact you can keep those fields with an empty `String`.

[2015-05-19 19:54] #25 closed

[2015-05-19 20:28] mikepenz commented on #32
@carmelo-ruota just tried on my Nexus 5. The sample activity shows the icon for the IconicsButton. Not if you try to style it via code.

[2015-05-19 20:28] #32 closed

[2015-05-19 22:03] #30 closed

[2015-05-19 22:03] #29 closed

[2015-05-19 22:04] mikepenz commented on #21
Moved views to new package

[2015-05-19 22:04] #21 closed

[2015-05-20 02:45] sherpya commented on #11
try with 1.0.0 with changed widget namespace, looks like android studio gets tripped if the widget has android.view namespace, I think this bug can be closed

[2015-05-20 02:47] sherpya commented on #21
this fixed also namespace problem using iiv_xxxx

[2015-05-20 10:53] thomasdsouza commented on #11
Thank you very much @sherpya. I tried and confirm that it works!. This saves me a lot of time. Thanks again guys.

[2015-05-20 11:02] somghosh commented on #11
Thanks @thomasdsouza @sherpya  - did you mean 1) try with android studio 1.0.0? and 2) i didnt understand how you can chang the widget namespace - can you detail a bit please. Thanks

[2015-05-20 11:37] mikepenz commented on #11
@somghosh no version 1.0.0 of this library. the second part is nothing for you to do. just make sure you read the upgrade notes...

[2015-05-20 11:37] mikepenz commented on #11
@sherpya thanks
@thomasdsouza thanks

[2015-05-20 11:54] mikepenz commented on #31
@mutindaz a different solution could be this: http://stackoverflow.com/a/2740198/325479

[2015-05-24 08:35] alorma opened #33 "Alphabetic icon"
Hi.

It's possible to get a drawable from a "regular" character? Something like:

`new IconicsDrawable(Context, "A");`

Or

`new IconicsDrawable(Context, "?");`

[2015-05-24 08:39] carmelo-ruota commented on #32
The same code:
    <IconicsButton
                    android:id="@+id/buttonAdd"
                    android:layout_height="36dp"
                    android:layout_width="36dp"
                    android:text="{faw-plus}"/>
Works fine with a fragment and shows nothing in Activity.

[2015-05-24 08:43] mikepenz commented on #32
@carmelo-ruota first please update to the latest version. and then make sure you don't do different things with this button between fragment and activity

[2015-05-24 09:15] mikepenz commented on #33
@alorma good idea :P is in the next version.

[2015-05-24 09:18] alorma commented on #33
Thanks :)

On Sun, May 24, 2015, 11:15 Mike Penz <notifications@github.com> wrote:

[2015-05-24 09:34] #33 closed

[2015-05-24 17:08] carmelo-ruota commented on #32
Just update to latest version and still not works. The only difference between fragment and activity is that in fragment IconicsButton is contained in TableRow, while in Activity IconicsButton is inside a LinearLayout (Horizontal):

        <LinearLayout
            android:layout_width="match_parent"
            android:layout_height="wrap_content" android:gravity="center_vertical" android:orient

[2015-05-24 17:09] mikepenz commented on #32
Do you use any font modifying library?

[2015-05-24 17:10] carmelo-ruota commented on #32
Yes I do! This:
https://github.com/chrisjenx/Calligraphy

[2015-05-24 17:19] mikepenz commented on #32
@carmelo-ruota i assume this one overwrites the typeface for the view. try to disable it, to check my assumption.

[2015-05-25 09:27] carmelo-ruota commented on #32
Now, without Calligraphy, seem it works fine! :-)

[2015-05-25 14:35] fmorel90 opened #34 "Icon is created then disappears"
I included "compile 'com.mikepenz:iconics:1.0.1@aar'" in my gradle config and then tried to used both IconicsTextView and IconicsImageView in a layout. The icon (I tried different ones) appears briefly and then disappears. In case of a conflict, I tried both with and without your Material Drawer library.

Example layout:

[code]

[2015-05-25 14:43] fmorel90 commented on #34
I had no problem with the same icon on a AppCompatTextView using ```new Iconics.IconicsBuilder().ctx(activity).on(alert).build();```.

[2015-05-25 15:56] mikepenz commented on #34
@fmorel90 just as info. you don't have to add the Android-Iconics to your project. The MaterialDrawer already comes with it. It's also the same version.

It disappears?
Can it be that it get's overlapped by a different view?

[2015-05-28 17:13] fmorel90 commented on #34
Thanks. That's what I thought, but preferred to make the dependency explicit.

No, I tried it in several places & sizes because I thought maybe wrap_content or being in a RelativeLayout was the issue, but it always disappeared.

[2015-05-28 17:16] mikepenz commented on #34
@fmorel90 yeah :D

it'S really strange. can you share the code. perhaps i can reproduce it.

[2015-05-28 23:13] fmorel90 commented on #34
The layout file, or the whole project?

[2015-05-29 06:33] mikepenz commented on #34
@fmorel90 the project would be gerat. you can remove all your project specific stuff. just to be able to reproduce this issue.

[2015-06-02 12:37] str4d opened #36 "Expose size settings in IconicsImageDrawable"
It is quite common to have an `ImageView` with a size of e.g. 40dp but containing a centered 24dp icon, to increase the touch-responsive area. Currently, using an `IconicsImageView` causes the icon to expand to fill the whole space. Exposing `IconicsDrawable.setSizeDp()` etc. as parameters of `IconicsImaveView` would resolve this.

[2015-06-02 13:55] str4d commented on #36
Another reason for supporting this is that I have found that the relative sizes of the Material Design icons do not match the drawables, because they don't include any of the margins that the drawables do. So I find that even where I *do* want a 24dp `ImageView`, I often need to set the `IconicsImageDrawable` size to less than that to have a consistent sizing between icons.

[2015-06-02 21:32] mikepenz commented on #36
There are methods to set the size of the drawable:
https://github.com/mikepenz/Android-Iconics/blob/master/library/src/main/java/com/mikepenz/iconics/IconicsDrawable.java#L343

And also to define a padding for it:
https://github.com/mikepenz/Android-Iconics/blob/master/library/src/main/java/com/mikepenz/iconics/IconicsDrawable.java#L284

[2015-06-02 21:44] str4d commented on #36
Sorry, I just realized I had typos in my first comment. Fixed.

I already use `IconicsDrawable.setSizeDp()` to handle this (although good to know about the padding method), but as `IconicsImageView` is meant to reduce the verbosity of using `IIcon`s, it would be nice to be able to set size (and maybe padding) there.

[2015-06-03 22:15] mikepenz commented on #36
@str4d oh yes i totally missed the fact that you were talking about the view :D

[2015-06-09 06:04] amatkivskiy opened #37 "Missing icon "gmd-favorite-outline"."
After last update (**1.0.2**) PlaygroundActivity crashes with :
[code]
due to missing icon **gmd_favorite_outline**.

[2015-06-09 20:56] mikepenz commented on #37
@amatkivskiy thanks. Missed this with the update of the Google Material Design Icons. They changed some names.

[2015-06-19 19:09] amatkivskiy opened #38 "Clarify icon's font creation process."
Hi, guys.
Recently I used Android-Iconics with my custom font with icons. I faced with the problem that there is lack of information how to generate custom icon font. Maybe it worth mentioning a few lines about this process in ```README.MD```.

[2015-06-19 19:35] mikepenz commented on #38
@amatkivskiy you mean creating an addon for this library. The process is very easy. Just look at the source code. There are different add-on modules. In fact it is enough if you copy one of them, change the details and information to the new font, then you can use the js or the phyton script to generate the mapping :D.

Ok it could be easier xD

[2015-06-19 19:36] mikepenz commented on #37
@amatkivskiy the icon was renamed: https://www.google.com/design/icons/#ic_favorite_border

[2015-06-19 19:36] #37 closed

[2015-06-19 19:36] #34 closed

[2015-06-19 19:36] mikepenz commented on #34
if it is still the case please just write here again

[2015-06-25 09:10] Anatidae-Project opened #40 "Custom font causes app to crash"
I am able to create images just fine here through the IconicsDrawable. But if I try to use the IconicsTextView in the layout, it crashes with a custom font.

[code]

Now, if I use faw or gmd it works fine.

I register my new font in Application

[code]

[2015-06-25 15:43] mikepenz commented on #40
@Anatidae-Project can you also provide the CustomFont class you have created?

[2015-06-25 18:00] Anatidae-Project commented on #40
Here you go:

[code]

It isn't around having a different name length than 3 chars? I didn't follow that pattern exactly.

[2015-06-25 18:41] mikepenz commented on #40
@Anatidae-Project it is only possible to have an getMappingPrefix with the length of 3 :D sorry it is not stated.

[2015-06-27 19:56] alorma opened #41 "Change extractor to use min.css"
As referenced there: https://github.com/github/octicons/pull/60

If they merge the pull request, maybe should be add an example of extractor

[2015-06-29 18:35] seba123neo opened #42 "IconicsButton with AppcompatButton Style ?"
hey mike, I wonder why the buttons appear with the old theme rather than to the material style.

I have all my application buttons with material theme, and this buttons appear ugly with old theme.

[2015-06-29 18:36] mikepenz commented on #42
@seba123neo i assume this happenes because the appcompat lib will style all default buttons but not buttons with a different package name. i think you will have to extend the AppCompatButton to have the same behavior

[2015-06-29 18:45] #42 closed

[2015-06-29 18:45] #40 closed

[2015-06-29 18:54] mikepenz commented on #41
@alorma why is it necessary to support min css files? you can still format it ;). also normally there is always a non minified version available too :D

[2015-06-29 18:54] #41 closed

[2015-06-29 19:47] #36 closed

[2015-06-30 13:44] seba123neo opened #43 "IconicsButton not display the icon in Lollipop"
I'm using the Navigation Drawer with the icons of the font (google material), and works perfect in all devices (API 10, Lollipop and others).

I'm also using the IconicsImageView and also works well in all devices.

But the IconicsButton don't show the icon in Lollipop (in the others devices works perfect), a cross appears like a "Chinese icon"...

[2015-06-30 14:58] amatkivskiy commented on #43
@seba123neo Maybe there is problem with loading Typeface for font?

[2015-06-30 18:59] seba123neo commented on #43
the icon is the "{gmd-delete}" but none works on buttons...but the SAME icon work well in the
ImageView.

only in lollipop in the others versions works well...

![20150630_155437](https://cloud.githubusercontent.com/assets/9873666/8439200/cacf9bd8-1f40-11e5-8446-6bb566fdfae0.jpg)

[2015-06-30 19:50] mikepenz commented on #43
@seba123neo i try to reproduce it. but i think there are other problems which cause this. a simple fix would be that you just create an ImageButton here, and set the icon as Drawable

[2015-06-30 20:01] mikepenz commented on #43
@seba123neo do you use the IconicsButton here? this one should work :/. it's working on my device. at least. Perhaps it gets replaced by the AppCompatButton? can you try to extend this one and add it into your project?

[2015-06-30 20:01] #27 closed

[2015-06-30 20:15] seba123neo commented on #43
@mikepenz yes, i use the IconicsButton, here is a capture of the layout file (is a simple row in the listview), in my samsung galaxy s3 with android 4.3, works perfect.

![screenshot_2015-06-30-17-10-20](https://cloud.githubusercontent.com/assets/9873666/8440851/527c60e8-1f4b-11e5-879f-5d95b894c44a.png)

and the layout file:

![sin titulo](https://cloud.githubusercontent.com/assets/9873666/8440882

[2015-06-30 20:46] mikepenz commented on #43
You have to add
[code]

to your button

[2015-06-30 20:47] #43 closed

[2015-06-30 20:59] #6 closed

[2015-06-30 21:00] mikepenz commented on #38
There is already a section about this in the readme: https://github.com/mikepenz/Android-Iconics#contribute

[2015-07-06 11:18] aacanakin opened #44 "IconicsButton.setVisibility doesn't seem to work"
Hello, I'm trying to dynamically hide/show IconicsButtons using `Button.setVisibility()` but it does not seem to work. It always shows the buttons
Here's the xml;
[code]
and here's the adapter;
[code]
I've also added watcher to debugger;
[code]
Are there any solutions to that problem?

[2015-07-06 12:55] mikepenz commented on #44
@aacanakin can you try it for a normal button? i assume there has to be different issue as the IconicsButton does not change any of this functions. It just extends the default Button.
https://github.com/mikepenz/Android-Iconics/blob/develop/library/src/main/java/com/mikepenz/iconics/view/IconicsButton.java

[2015-07-06 13:31] aacanakin commented on #44
Ok. I resolved it. It wasn't about. There was an another piece of code that changes the behaviour. Thanks for the reply.

[2015-07-06 13:31] #44 closed

[2015-07-06 13:56] bmutinda opened #45 "com.mikepenz.iconics.view.IconicsImageView"
com.mikepenz.iconics.view.IconicsImageView has never worked in my project. What actually do I do wrong?

This is what I have in my xml
[code]

[2015-07-06 15:47] mikepenz commented on #45
seems correct if you look at the sample app:

[code]

[2015-07-06 17:36] bmutinda commented on #45
I also wonder why its not working. Every time I add that to any layout, the app crashes but setting the drawable with java works fine.

[2015-07-06 17:37] mikepenz commented on #45
@bmutinda the app crashes. what'S the output?

[2015-07-06 17:38] bmutinda commented on #45
I will paste the output once I get back to Android studio...

[2015-07-06 17:40] mikepenz commented on #45
@bmutinda ok good

[2015-07-07 20:09] seba123neo opened #46 "Why the icons on the buttons are so small ?"
Hi, Mike, I'm using this library and everything is perfect, except for a small observation on the buttons.

I explain here:

I have in my application buttons 50dpi (width) and 50dpi(height), this size is perfect for showing the icons of google material design (PNG), (I put in all the folders, the icon with all resolutions drawable-MDPI, drawable- hdpi..etc ...)

the icon is displayed perfect and a

[2015-07-07 20:10] mikepenz commented on #46
@seba123neo please add a screenshot

[2015-07-07 20:11] seba123neo commented on #46
@mikepenz ok, one minute

[2015-07-07 20:23] seba123neo commented on #46
here is the screenshot of the normal android button (AppCompatButton or Button is the same...)

all 50dpi x 50dpi (with PNG images)

![normal_button](https://cloud.githubusercontent.com/assets/9873666/8556288/80d0a7ca-24cc-11e5-8774-cf65188f49b4.png)

here is the same 50dpi x 50dpi, (cloud icon) with the iconicsButton, looks smaller...

![screenshot_2015-07-07-17-20-03](https://cloud.githubusercon

[2015-07-07 20:27] mikepenz commented on #46
how do you define the icon for the IconicsButton?

[2015-07-07 20:28] seba123neo commented on #46
<com.mikepenz.iconics.view.IconicsButton
            android:id="@+id/btnEliminar"
            android:layout_width="50dp"
            android:layout_height="50dp"
            android:text="{gmd-cloud}"
            android:textAllCaps="false" />

[2015-07-07 20:30] seba123neo commented on #46
another thing:

to add some color to the background of the buttons I'm using a simple drawable (first screenshoot), but if I want to use the drawable in the IconicsButton, the icon disappears.

[2015-07-07 20:33] seba123neo commented on #46
the size of the icons in the first screenshoot is 24dp (is like the icons of the toolbar i think).

but in the second screenshoot the icons looks like 16dp

[2015-07-07 21:01] mikepenz commented on #46
@seba123neo i will look at it. thanks for the details

[2015-07-08 06:53] bmutinda commented on #45
Here is the error log
[code]
Just wondering why this ClassNotFound exception and the library is loaded correctly in my graddle script.
compile 'com.mikepenz.iconics:library:0.7.9@aar'

[2015-07-08 07:36] mikepenz commented on #45
@bmutinda i think you should update to v1.2.0 the `com.mikepenz.iconics.view.IconicsImageView` was renamed in a newer version. v0.7.9 still has a different path for the view

[2015-07-08 07:36] #45 closed

[2015-07-09 01:47] xsorifc28 opened #47 "Icon + Text not centered?"
I have the following:

	<com.mikepenz.iconics.view.IconicsButton
		android:id="@+id/facebookLogin"
		android:theme="@style/Button_Facebook"
		android:text="{faw-facebook} Log in with Facebook"
		android:textAllCaps="false"
		android:layout_below="@+id/textView2"
		android:layout_centerHorizontal="true"
		android:layout_marginTop="16dp"
		android:layout_width="wrap_content"
		android:layout_height=

[2015-07-09 08:55] mikepenz commented on #47
@xsorifc28 vertical centering within the text is not possible, as the icon interacts as a normal text within this sample. If you want it in front of the text you should go with a CompoundDrawable and set it via code.

[2015-07-09 21:22] #47 closed

[2015-07-09 21:23] mikepenz commented on #46
@seba123neo if you use the IconicsButton as shown above you will have to set the TextSize for it. Because the icon is set as text. If you really want to have a different behavior you should go with an ImageButton and set the IconicsDrawable via code

[2015-07-11 11:49] #46 closed

[2015-07-11 15:30] seba123neo commented on #46
thanks i set the text size in 24sp and now looks good...thanks !!!

[2015-07-11 15:33] mikepenz commented on #46
@seba123neo make sure to set it as dp as "sp" will scale depending on the users font size setting on the device

[2015-07-11 23:05] seba123neo commented on #46
Thanks, I will...

I saw that you have solved the issue of textAllCaps property, now no need to put on the button textAllCaps property right ?

[2015-07-12 10:51] mikepenz commented on #46
@seba123neo correct

[2015-07-13 09:23] leelei opened #48 "Icons size is not correct"
[code]
[code]
icons size not the standard Material Design
![](http://ww3.sinaimg.cn/bmiddle/5f5f92d8jw1eu19lomcpmj20p018gta1.jpg)

if i use
[code]
[code]
this is the correct size
![](http://ww1.sinaimg.cn/bmiddle/5f5f92d8jw1eu19sldxbij20p018g75l.jpg)

[2015-07-13 10:14] mikepenz commented on #48
The size with the newest lib is 24dp for the icon and 6dp padding.

[code]

[code]

[2015-07-13 10:20] mikepenz commented on #48
As of this screenshot in the Material Design Guidelines the Icon should be the size of `24dp`
* 56dp actionBarSize
* 16dp padding
![layout_structure_appbar_metrics1](https://cloud.githubusercontent.com/assets/1476232/8647550/32f2a1b6-2959-11e5-9d4e-2a070afe6fe3.png)

So it should be fine. if a specific icon needs more padding you can define the size manually

[2015-07-14 09:22] mynavy opened #49 "Error inflating class (App crashes)"
with V1.2.1

when i only add this to the layout xml :
[code]

My app crashes :

[code]

[2015-07-14 11:08] mikepenz commented on #49
@mynavy the given icon does not exist.

GoogleMaterial was updated and they changed some names. it is now called: `gmd_favorite_border`

[2015-07-14 11:08] #49 closed

[2015-07-14 11:20] mynavy commented on #49
But if you will look at the logcat you will see that the error doesnt come from missing icon

[2015-07-15 08:34] h6ah4i opened #50 "Padding is not working properly on Android M"
Hi. I noticed that `android:padding` setting for `IconicsImageView` is not working properly on Android M.

![paddings are not applied propery](https://cloud.githubusercontent.com/assets/2552365/8694105/6c62b804-2b17-11e5-8d2f-7fdd6fc8032f.png)

### code  (activity_playground.xml)
[code]

[2015-07-15 08:51] h6ah4i commented on #50
I have just found a solution. Modify [`line 73 of IconicsImageView.java`](https://github.com/mikepenz/Android-Iconics/blob/develop/library/src/main/java/com/mikepenz/iconics/view/IconicsImageView.java#L73).
(maybe Android M has changed the behavior of MATRIX mode for scaling type)

From:
[code]

To:
[code]

[2015-07-15 09:01] h6ah4i commented on #50
See the PR #51.

[2015-07-15 10:27] mikepenz commented on #50
@h6ah4i thanks. i'll check this later today

[2015-07-15 22:07] mikepenz commented on #48
@leelei have you tested on Android M?

[2015-07-15 22:20] #50 closed

[2015-07-17 22:36] rf3Studios commented on #48
On Android 4.4.4, the 6dp padding makes the icons slightly large. If I try to set .paddingDp(int) manually it seems to add that arg to the padding already defined. So, if I set .paddingDp(8) it makes the icon extremely small. However, setting to .paddingDp(2) seems to simply add it to the existing 6dp padding that you have thus making it the correct size.

I think it might be more intuitive to ove

[2015-07-18 16:13] mikepenz commented on #48
@rf3Studios i have modified this behavior on the latest version. the icon is now 24dp with 1dp padding

[2015-07-24 00:30] khalid-hussain opened #52 "Font mapping legend"
Hi there,

I've recently used your library in my app but have an issue which I hope you can clarify. A disclaimer: I'm a beginner at Android programming. I've attached a screenshot to show you exactly what happens.

I have two icons next to each other in an XML as so:
[code]

The button using Font Awesome renders perfectly but the button using GMD just shows me the text. What am I doing wrong?

He

[2015-07-24 05:47] mikepenz commented on #52
@khalid-hussain you are searching for this one: https://github.com/mikepenz/Android-Iconics/blob/develop/library/src/main/java/com/mikepenz/google_material_typeface_library/GoogleMaterial.java#L371

the legend can be probably added to the wiki, but is not required as the names are also shown on the sites of those fonts https://www.google.com/design/icons/#ic_favorite_border

[2015-07-24 05:47] #52 closed

[2015-07-24 08:52] khalid-hussain commented on #52
I have also seen this: https://github.com/mikepenz/Android-Iconics/blob/develop/library/src/main/java/com/mikepenz/iconics/typeface/FontAwesome.java

But we know that when using these icons, we replace '_' with '-'. This is the legend I was referring to. Anyway, after some testing, I realize the problem is with the Android version. I've attached the XML part along with screenshots from an emulator

[2015-07-24 08:54] mikepenz commented on #52
@khalid-hussain not sure. first you showed a screenshot from a broken icon. now there are two different icons. i assume you have different layouts for different screen resolutions or different orientations and you just missed to modify it in one of those

[2015-07-24 08:57] khalid-hussain commented on #52
Yes this is correct. The following icon gives me an error in both the emulator and real device.
    android:text="{gmd-favorite-outline}"

Changing it to
    android:text="{gmd-share}"

gives me the second error. I actually need the "gmd-share" icon. I used "gmd-favorite-outline" to test whether it was a problem from my implementation or from the library since I saw its usage in the README.

[2015-07-24 08:59] mikepenz commented on #52
@khalid-hussain because it does not exist. i showed you that it is named "gmd-favorite-border" in the first answer.

i will fix it in the readme

[2015-07-24 09:18] khalid-hussain commented on #52
Okay, what about the error with "gmd-share"? Any idea why it shows in one Android version and not the other?

Thank you very much for the help so far.

[2015-07-24 09:56] mikepenz commented on #52
as mentioned in this comment https://github.com/mikepenz/Android-Iconics/issues/52#issuecomment-124446641 i only see that you use two different icons? i don't see an icon not working

[2015-07-24 09:57] khalid-hussain commented on #52
The 'gmd-share' icon is showing as a "+1" in lollipop whereas it works fine in the emulator. I hope this is clear.

[2015-07-24 09:59] mikepenz commented on #52
@khalid-hussain read my comment again pls: https://github.com/mikepenz/Android-Iconics/issues/52#issuecomment-124447494

the +1 symbol is a different icon. i think you mix up different layouts

[2015-07-24 10:06] khalid-hussain commented on #52
[These](https://github.com/khalid-hussain/HisnulMuslim/tree/Favorite/app/src/main/res/layout) are all the layouts I have.

The one in question, is this [one](https://github.com/khalid-hussain/HisnulMuslim/blob/Favorite/app/src/main/res/layout/dua_detail_item_card.xml).

Are you 100% sure it is to do with my layout?

[2015-07-24 10:10] mikepenz commented on #52
it has to be something project specific because it displays the share icon. and in the special case of the tablet it shows a different icon. The iconics library does not change to a different icon if you use a different android version or screen resolution. never had any such problem in all of my projects which run on many thousands of devices.

[2015-07-24 10:22] khalid-hussain commented on #52
I don't have any layouts for tablets specified yet. Okay, I'll try some more debugging and get back to you if there are any results.

Thanks for all the help.

[2015-07-24 13:10] mikepenz commented on #52
@khalid-hussain ok great :). i really can't reproduce this anywhere. so perhaps you should search for occurencies of the +1 drawable

[2015-07-25 20:38] rajkshah14 opened #55 "How to have a round background for Icon?"
Hello Mike

Thank you for your library, it work like charm.

I want to add a round background behind icon? Like black round background and white icon.
I am trying to do by converting to bitmap. What would be optimal way to do so?

TIA :)

[2015-07-26 03:13] anticafe opened #56 "Consider to replace Google Material Design icon by https://materialdesignicons.com/"
New Material Design icon is in https://github.com/templarian/MaterialDesign/, or https://materialdesignicons.com/.

Why I think we should replace official Google Material Design icon by new Material Design icon?
- New Material Design icon includes Google Material Design icon.
- There are many more icons in New icon pack (>1000) than the Google icon pack, such as icon google-play...

[2015-07-26 13:48] mikepenz commented on #55
you can have such a background by setting a rounded corner for the background `roundedCornersRxDp`

[2015-07-26 13:49] mikepenz commented on #56
@anticafe those are not the original material icons by google. Those are in as default. But you can have the Material Design Community icons via the addon which is available https://github.com/mikepenz/Android-Iconics#available-fonts (an update to those was merged a few moments ago. will publish it soon)

[2015-07-26 13:49] #56 closed

[2015-07-26 18:19] rothschild86 commented on #55
Or use material design FAB:

mMyFab.setImageDrawable(new IconicsDrawable(getApplicationContext(), GoogleMaterial.Icon.gmd_attach_file).color(Color.WHITE).sizeDp(16));

Ref: https://github.com/Clans/FloatingActionButton/issues/55

[2015-07-26 18:24] rothschild86 opened #57 "rectangle instead of a drawable"
Keep getting this:

![2015-07-26_142152](https://cloud.githubusercontent.com/assets/4555882/8895280/c877f2f2-33a1-11e5-8dd6-6f39ce6964e7.png)

I'm on eclipse. Any idea what it could be? Was trying FontAwesome.Icon.faw_edit, but it's the same for all...

Cool lib. Thank you :)

[2015-07-26 18:53] #55 closed

[2015-07-26 18:54] mikepenz commented on #57
@rothschild86 i can't give support for eclipse as it is officially not supported anymore. i assume it just parses or handles the font file wrong

[2015-07-26 18:54] #57 closed

[2015-07-26 20:20] rothschild86 commented on #57
That's cool if you don't want to look into it, but what would be your intuition on why this happens? I know the lib can find the ttf (it throws resource not found if ttf is not there).

[2015-07-26 20:22] mikepenz commented on #57
How do you create the iconicsDrawable in the upper sample? Have you tried creating the drawable via code? will it work then? what's your android version?

[2015-07-26 20:37] rothschild86 commented on #57
new IconicsDrawable(context, FontAwesome.Icon.faw_edit).color(Color.WHITE).sizeDp(16)

Tested android 2,4,5 - same box

[2015-07-26 20:40] mikepenz commented on #57
@rothschild86 seems like eclipse messes something up. never had such an issue when creating the icon via code.

why can't you switch to the official supported android dev environment?

[2015-07-26 20:53] rothschild86 commented on #57
spoke too soon. the lib was swallowing the exception. had to move the ttf from the library into the project itself.

We can switch. It's just the matter of finding time to do it.

Thank you for the lib!

[2015-07-26 21:31] mikepenz commented on #57
ok great you found a solution ;)

[2015-08-01 14:44] #48 closed

[2015-08-03 05:46] wKovacs64 opened #59 "java.lang.NullPointerException for IconicsImageView in 1.5.1/1.5.2"
Tried migrating from 1.3.0 to 1.5.2 but ran into a NPE when trying to use `IconicsImageView`. Created a blank test project, added the dependency in build.gradle (full, not core), and created a simple `IconicsImageView` (copied from the sample app):
[code]
But it causes the following:
[code]
<*snip*>
[code]
Seems like `Iconics.findFont()` is returning null - can't find the font? The sample app work

[2015-08-03 05:48] mikepenz commented on #59
I think it is because you do not register the Google material nor the fontawesome font. This is required now if you try to use a specific font addon via string or xml

[2015-08-03 05:50] mikepenz commented on #59
Totally missed to add it as upgrade notes. Just mentioned it down in the how to use section

[2015-08-03 05:52] wKovacs64 commented on #59
Oh I see it now, yep. Thanks.

[2015-08-03 06:17] mikepenz commented on #59
@wKovacs64 will add it as upgrade notes ;). I have not yet found a solution that existing fonts register them on their own. do you have an idea how i could solve this?

[2015-08-03 06:19] mikepenz commented on #59
@wKovacs64 the main difference in the new version is that i had split up the fonts and the core. so the core is only the classes without any font included (this was previously done because so the 2 fonts were automatically in), this now allows you to save on app size by creating your own icon font with just the icons you need. (i have done this for the MaterialDrawer v4.0.0 now ;). A MaterialDrawe

[2015-08-03 06:22] mikepenz commented on #59
README updated with upgrade notes ;)

[2015-08-03 06:22] #59 closed

[2015-08-03 06:26] wKovacs64 commented on #59
@mikepenz Great, thanks. Hopefully that helps anyone else who might run into this.

If `iconics` (not core) includes the fonts, why can't you register them automatically or however you did prior to 1.5.x? I haven't looked at the code changes yet, maybe that isn't possible. I might take a look if I can find some time.

[2015-08-03 06:32] mikepenz commented on #59
@wKovacs64 the registering happens in the `Iconics` class which is now part of the core. Prior v1.5.x the `Iconics` included the `GoogleMaterial`, `FontAwesome` fonts in it's constructor. So they were added automatically, and you only had to register additional fonts.

The registering is only required if you try to use the fonts via xml or programmatically via string (when you want to create the i

[2015-08-03 06:39] wKovacs64 commented on #59
@mikepenz Hmm, I see your point. Although I would personally take a compile time hit from annotation processing before a runtime hit from reflection (not that it would be that much). I don't care how long it takes to build as much as I care how it performs once it's on the device.

Maybe if I get some free time I will take a closer look.

[2015-08-03 06:47] mikepenz commented on #59
@wKovacs64 great ;)

[2015-08-03 07:58] aacanakin opened #60 "Error in inflating IconicsButton when migrating 1.3.0 to 1.5.2"
Hi,
After changing `build.gradle` version, the app keeps crashing and says something like the following;
`Error inflating com.mikepenz.view.IconicsButton`.
I tried cleaning and rebuilding the app and I tried uninstalling & reinstalling the app but it doesn't seem to be working.
Finally, if I downgrade from 1.5.2 to 1.3.0, it works.
If there are any breaking changes, please write them in release no

[2015-08-03 08:51] aacanakin commented on #60
The problem is fixed when I add registering font in `Application.onCreate()` like this;
[code]

[2015-08-03 08:54] mikepenz commented on #60
@aacanakin great that you solved it in the meantime. This is stated in the Upgrade notes in the README :). This is now required as i split up the project into the core and the main package. I will probably try to find a solution to don't require this but at the moment you have to do this

[2015-08-03 08:54] #60 closed

[2015-08-03 13:36] logcat opened #61 "Keep color when there is no icon set"
It's probably better to keep color(extract it before return), so we can set color in xml and drawable in java code.

Related code
https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/view/IconicsImageView.java#L51

[2015-08-03 13:37] logcat opened #62 "Min version question"
It looks like library works perfectly on version 9, is there any particular reason that lib minSdk is 10?

[2015-08-03 15:02] mikepenz commented on #62
@logcat it is probably possible to use it on API 9, but this version is only used by a tiny number of people: https://developer.android.com/about/dashboards/index.html

As an additional note, i do not like to release it for an API version i can't test on a real device, nor i will on an emulator.

If you need it for 9 you can include the source in your app.

[2015-08-03 15:03] #62 closed

[2015-08-03 15:04] mikepenz commented on #61
@logcat not sure what you mean, but you can't create a IconicsImageView without an icon in first place. If you define the color and the icon (as required) you can just get the icon from the IconicsImageView and alter it at a later time

[2015-08-03 15:50] logcat commented on #62
ok, seems legit, and when somebody want in on 2.3 in 2015 it can be done via adding tag to manifest
[code]

[2015-08-03 15:56] logcat commented on #61
You can create imageview like this
[code]
and then set icon like this
[code]

Then this iconicsImageView will have icon with default color and not color from xml. This is somewhat debatable, but imo would be nice to have color from xml.

[2015-08-03 16:53] mikepenz commented on #62
@logcat that's true. thanks for this info ;)

[2015-08-03 18:21] mikepenz commented on #61
@logcat ok just checked the source code. it should use the set color. https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/view/IconicsImageView.java#L84

[2015-08-03 18:21] #61 closed

[2015-08-03 18:33] logcat commented on #61
except color is null, because of this line
https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/view/IconicsImageView.java#L48

[2015-08-05 10:59] mychaelgo opened #64 "Failed to resolve: com.mikepenz:iconics:1.6.2"
Failed to resolve: com.mikepenz:iconics:1.6.2

my gradle:

    compile 'com.mikepenz:iconics:1.6.2@aar'

[2015-08-05 14:32] mikepenz commented on #64
@mychaelgo make sure your gradle is not in offline mode. It is available on MavenCentral: http://search.maven.org/#artifactdetails%7Ccom.mikepenz%7Ciconics%7C1.6.2%7Caar

[2015-08-05 14:32] #64 closed

[2015-08-06 12:56] seba123neo opened #65 "Searchview icon margin problem"
the problem I have is that when the searchview is displayed, icons in the right are tight against the edge.

Here is my toolbar with the icons (the search icon is a searchview)

![screenshot_2015-08-06-09-48-05](https://cloud.githubusercontent.com/assets/9873666/9111821/eff3d88c-3c20-11e5-9745-b13f34afd18e.png)

Here is my toolbar with the searchview displayed (the right icon is in the edge)

![sc

[2015-08-06 15:10] mikepenz commented on #65
@seba123neo you can provide a padding to the drawables if you like. or have a custom width. This could help here. seems strange that it adds it riectly to the right edge

[2015-08-15 07:02] nambv opened #67 "Failed to load iconic imageview"
Hi @mikepenz , I can't load iconics by using XML Layout, It not crash app but appear not thing when run app :( Can you help me plz :(

[code]

My XML is:

[code]
Thank you very much

[2015-08-15 07:06] nambv commented on #67
My gradle dependencies is:
[code]

[2015-08-15 18:44] mikepenz commented on #67
Hi.

The problem is that you have a version conflict with the Android-Iconics included in the Materialdrawer and the latest available version of Android-Iconics.

With v4.0.0 of the MaterialDrawer i will include the latest version of Android-Iconics. Until you update you have to go with the older version of Android-Iconics. or you exclude the Android-Iconics dependency from the MaterialDrawer.

A

[2015-08-15 18:58] nambv commented on #67
@mikepenz Thank you very much for your supported! It helped me a lot :+1:

[2015-08-15 18:58] #67 closed

[2015-08-16 16:34] gpulido commented on #67
Hello,
I'm having a similar problem using iconics-core 1.7.1, google-material-typeface 1.2.0.
When I try to use the IconicsImageView with the app:iiv_icon="gmd-person" I receive a
"E/Iconics﹕ Wrong icon name: gmd_person"
If I load the images by code it works
I have made a little debugging and seems that the FONTS hashmap is not being populated before searching for the icon.
I'm also using material

[2015-08-16 17:31] mikepenz commented on #67
@gpulido please update to the latest RC11 of the MaterialDrawer then you can just add the dependencies for the fonts you want. those are not included by default anymore to save apk size for people who don't use them.

Here are all default fonts you can include:
https://github.com/mikepenz/Android-Iconics#2-choose-your-desired-fonts

[2015-08-16 17:59] gpulido commented on #67
@mikepenz I've just updated to the rc11 and my gradle file have now the following:

[code]
Also I have added the following to the proguard-rules.pro:
[code]
And it is still not showing the icons and  the logcat give me:
[code]

[2015-08-16 18:43] #65 closed

[2015-08-16 18:43] mikepenz commented on #65
Please answer again if it is still a problem

[2015-08-16 18:43] mikepenz commented on #67
@gpulido ah ok you mean it is working, but it just shows the warnging

[2015-08-16 18:47] gpulido commented on #67
@mikepenz Unfortunatelly it isn't  working, it is not showing the icon :(

[2015-08-16 19:20] mikepenz commented on #67
@gpulido with proguard deactivated it's also not working?

[2015-08-16 19:36] gpulido commented on #67
@mikepenz I have just tested removing the line:

proguardFiles getDefaultProguardFile('proguard-android.txt'), 'proguard-rules.pro'
from my build.gradle (I don't know if there are another way of disabling proguard)  and it still doesn't show the icons :(

[2015-08-19 05:01] anysome opened #69 "custom font dont run"
If the prefix has only two chars like "tm".

[2015-08-21 08:19] mikepenz commented on #69
@anysome the custom font must have a 3 char prefix. please modify it. afterwards it should work

[2015-08-21 08:19] #69 closed

[2015-08-21 15:43] mikepenz commented on #38
I have added a new improved section here:
https://github.com/mikepenz/Android-Iconics#create-custom-fonts-using-fontello-or-icomoon

[2015-08-21 15:43] #38 closed

[2015-08-24 19:15] gpulido commented on #67
@mikepenz Hello again, and welcome back :)
I have upgraded to materialdrawer 4.0.0, and I still having the same problem:

I can access the icons programmatically using "new IconicsDrawable(context, GoogleMaterial.Icon.gmd_person, ....) but when I put it on the xml I receive:
[code]
I have also updated to gradle 1.3, and sdk to 23

I'm using the following compile versions on the app.gradle
[code]

[2015-08-24 22:47] clement9527 opened #70 "I would expect getFormattedName to have '_' replaced to '-' so can be used in code"
I am trying to change the icon pragmatically as the following:

[code]
It won't work as getFormattedName is using '_' instead of '-' so cannot be formatted properly.

The fix should be pretty simple, just change getFormattedName() to the following:
[code]

[2015-08-25 05:57] mikepenz commented on #67
@gpulido thanks for the info. strange. registering should not be required. (i also don't do this in the sample app)

What's the first spot you try to use the icon?

[2015-08-25 05:58] mikepenz commented on #70
@clement9527 why don't you use an `IconicsImageView` instead?

[2015-08-25 06:29] h6ah4i opened #71 "IconicsButton is not working well."
Hi. I noticed that the `IconicsButton` widget is not styled properly on my app, and I've tried to fix it.

| On Android 5.1.1  | On Android 4.4.2  |
|---|---|
| <img src="https://cloud.githubusercontent.com/assets/2552365/9459892/ab0609aa-4b3b-11e5-8679-aff892601d74.png" width="150" /> | <img src="https://cloud.githubusercontent.com/assets/2552365/9459893/ab0a1ebe-4b3b-11e5-8a7b-36d086f6936c.png"

[2015-08-25 06:33] mikepenz commented on #71
@h6ah4i really interesting. I already added this here:

https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/Iconics.java#L339

But it seems it is not working in all cases. Thanks i'll add this to the main `IconicsButton`

[2015-08-25 07:10] gpulido commented on #67
@mikepenz The first time I access any Iconics element is in the "OnCreate" of the main Activity, when I create the material drawer using your library using the DrawerBuilder.

[2015-08-25 15:03] #70 closed

[2015-08-25 15:09] #71 closed

[2015-08-26 15:54] clement9527 commented on #70
Hmm, I thought getFormattedName is for rendering purpose as you wrap it within bracket, I cannot think of another use case. I switched mine to use string resource than the enum, thanks for helping :)

[2015-08-26 16:00] clement9527 opened #72 "default font is not rendered for some reason"
I have both **gmd** icon and **faw** icon used, however, **gmd** fonts are rendered properly but **faw** are not. Both are working fine if I explicitly register them in my application subclass, but from the documentation, I only need to register the font if it is custom. I wonder if I miss anything here. Please help.

[2015-08-26 16:01] mikepenz commented on #72
@clement9527 someone else already had a similar issue, the only solution was to manually register the font. i have not yet found the solution why this happens. do you have any special packagename declaration in your build.gradle?

[2015-08-26 16:11] clement9527 commented on #72
I have it working now. I invalided the cache, cleaned the code and rebuilt. The fonts start showing up, so I think maybe it is a caching issue. I will close it. Thanks for your times response.

[2015-08-26 16:11] #72 closed

[2015-08-27 05:05] mychaelgo opened #73 "Build Failed"
I just added
[code]

and compile my project

here the output:
[code]

Here my build.gradle:

[code]

[2015-08-27 06:06] mikepenz commented on #73
@mychaelgo as stated in the output you have `Iconics` twice on your buildpath.

The `MaterialDrawer` contains the Android-Iconics library as dependency.

So you have two possible solutions:
* Update the MaterialDrawer to v4.0.0 which includes the latest Android-Iconics core
* Exclude Android-Iconics as dependency from the MaterialDrawer

[2015-08-27 06:06] #73 closed

[2015-08-27 06:12] mychaelgo commented on #73
@mikepenz so what should i do to exclude Android-Iconics as dependency from the MaterialDrawer?

[2015-08-27 06:19] mikepenz commented on #73
[code]

this should do the job

[2015-08-27 07:32] mychaelgo commented on #73
@mikepenz  thank you, it works :)

[2015-08-27 10:26] rafalenden opened #74 "IconicsImageView is not displaying icons when added in XML"
Hi,
thanks for this very useful library!

I'm having an issue with IconicsImageView. When I use it in XML, icon and color is not displayed in the app.

My XML:
[code]

However when I add icon to this view by code it works:

[code]

Other views IconicsTextView and IconicsButton work without any problems.

My gradle file:
[code]

[2015-08-27 13:06] mikepenz commented on #74
@rafalenden what'S the font dependency you add?

[2015-08-27 19:25] rafalenden commented on #74
Font dependency is:

[code]

[2015-08-28 11:24] NorbertSzydlowski commented on #74
the same issue

[2015-08-28 13:42] simonesessa opened #75 "Problem when I set the icon in TextView or in Radio Button."
In my project I use the mikepenz material drawer and in my xml, when I use an icon in text TextView o RadioButton, it doesn't work correctly.

This is a part of my test xml:
[code]
I've added only the material drawer dependence ` compile('com.mikepenz:materialdrawer:3.1.2@aar') {transitive = true}` (I know that there is a new version) and the `com.mikepenz.iconics.view.IconicsTextView` works.
But

[2015-08-28 19:12] mikepenz commented on #75
@simonesessa yeah the library cna't modify the functionality of the original TextView. You would have to overwrite the behavior of the RadioButton to get the same as the IconicsTextview does. Or you use Iconics programmatically and let it create the spannable for you

the other exception you show is because you canÄT have to different verions of Iconics on the classpath.

[2015-08-28 19:13] mikepenz commented on #75
https://github.com/mikepenz/Android-Iconics/issues/73

[code]

[2015-08-29 08:08] #75 closed

[2015-08-29 08:25] mikepenz commented on #74
@rafalenden just tried the same in the sample app. empty activity with only the view you posted above. And it showed up.

Can you create a simple demo app which would show that bug?

[2015-08-29 08:53] simonesessa commented on #75
Thanks!

[2015-08-31 15:21] waninkoko commented on #74
This is happening to me too, but only if ProGuard is enabled. Sounds like an obfuscation issue.

[2015-08-31 15:54] mikepenz commented on #74
@waninkoko also with the latest version?

[2015-08-31 16:20] waninkoko commented on #74
@mikepenz Yes, I also tried 1.7.2 and 1.7.3 with no luck.

Previously I was using the version that came with MaterialDrawer 3.1.2 (1.2.0) and that one worked perfectly.

[2015-08-31 16:23] mikepenz commented on #74
@waninkoko if you manually register the fonts?

Which version of the font addons are you using?

[2015-08-31 16:25] waninkoko commented on #74
@mikepenz  I'm using the latest version right now for everything.

I've checked the library and looks like the typeface is found but the icon is not. If this is true, a manual registration should produce no difference.

[2015-08-31 16:26] mikepenz commented on #74
@waninkoko interesting the font contains the proguard rules: https://github.com/mikepenz/Android-Iconics/blob/develop/fontawesome-typeface-library/build.gradle#L10

[2015-08-31 16:27] waninkoko commented on #74
@mikepenz Yeah, this is a weird issue. I even tried to put the rules in my "proguard-rules" file with no luck.

[2015-08-31 16:28] mikepenz commented on #74
@waninkoko can you please try manual registration of the font?

[2015-08-31 16:34] waninkoko commented on #74
@mikepenz That worked!

[2015-08-31 16:53] waninkoko commented on #74
@mikepenz More info about the issue:

GenericsUtil.getFields is returning an array of length 0. It is failing to resolve the ```R$string``` class.

[2015-08-31 16:54] mikepenz commented on #74
do you have a special package name setup for your application? The `R` has normally the packagename of the application but if you modify this in your gradle it can be somewhere else. so it won't be able to find the `R`

[2015-08-31 16:55] waninkoko commented on #74
Nope, nothing special. R class is generated in the package name of the application.

[2015-08-31 16:56] mikepenz commented on #74
@waninkoko so `Class.forName(YOURPACKAGENAME + ".R$string")` should return the class instead of `null`

[2015-08-31 17:01] waninkoko commented on #74
@mikepenz Yes, it does. Gonna check what ```context.getPackageName()``` is returning.

[2015-08-31 17:01] waninkoko commented on #74
It is returning the correct package name... Ok, now I don't understand why the library is not working.

[2015-08-31 17:05] mikepenz commented on #74
@waninkoko can you create a small sample app which would allow me to debug this bug? (or a copy of your app with everything removed but the Iconics bug :D)

[2015-08-31 17:16] waninkoko commented on #74
@mikepenz Sure, but first I would like to look further into this issue (I feel like I'm getting close to the solution).

I have checked that ```resolveRClass``` is actually looking for the ```R$string``` class in the correct package but... it fails! And when I do ```Class.forName(YOURPACKAGENAME + ".R$string")``` it works.

[2015-08-31 17:19] mikepenz commented on #74
@waninkoko strange. :/ in the correct package including no double dot or anyhting? case senstive?

[2015-08-31 17:25] waninkoko commented on #74
@mikepenz Yep, the package name is 100% correct.

This is extremely weird... I've modified the library to print the full class name to the logcat. It also prints when a ```ClassNotFoundException``` is thrown. In my "Application" class, I'm calling ```GenericsUtil.getFields(context)``` and checking the returned array length, and after that I'm calling ```Class.forName(YOURPACKAGENAME + ".R$string")

[2015-08-31 17:32] waninkoko commented on #74
Wow... Now I modified ```resolveRClass()``` and replaced ```packageName + ".R$string"``` with the ```R$string``` class full name. It worked.

This makes no sense at all.

[2015-08-31 17:34] mikepenz commented on #74
@waninkoko yeah i'm confused too. And i don't think `MultiDex` is the issue because it is working with a different app of mine containing `MultiDex`

[2015-08-31 17:36] waninkoko commented on #74
@mikepenz After my latest test I realized MultiDex is not the culprit.

It's official now: the weirdest problem I ever had.

[2015-08-31 17:39] mikepenz commented on #74
@waninkoko yeah really strange. can you send me a sample app perhaps i can reproduce and (fix?) the issue :D

[2015-08-31 17:47] waninkoko commented on #74
@mikepenz Now I got to go but tonight I will prepare a sample app. Also, maybe I'll show up in Gitter to chat about this.

[2015-08-31 17:48] mikepenz commented on #74
@waninkoko ok great. not sure if i will be still online. it's already 07:48pm here :D

[2015-08-31 20:29] mikepenz commented on #74
https://github.com/mikepenz/Android-Iconics/blob/develop/README.md#proguard

[2015-08-31 20:29] #74 closed

[2015-08-31 20:30] mikepenz commented on #74
Thanks @waninkoko for coming up with the solution and for helping to debug this issue

[2015-08-31 21:31] jansallads opened #76 "Simple way to use in API 15?"
Hi Mike,

is there a simple way to use this in API 15? Android Studio just popped up an error that the library uses API 16 calls and I would love to make my app API 15 compatible.

Thanks in advance! :)

[2015-09-01 06:30] mikepenz commented on #76
@jansallads i use it with API 10. Which method is used which is not compatible?

[2015-09-01 07:03] jansallads commented on #76
Yeah that is what I read afterwards.

I used a simple (from my mind, I'm on the train):

new ImageDrawable().withIcon(GoogleMaterial.Icons....gmd_collections);

inside a myImageView.setDrawable() to set the icon to the ImageView, when
Android Studio instantly popped up an error that this would require minSdk
to be 16.
Am 01.09.2015 08:30 schrieb "Mike Penz" <notifications@github.com>:

[2015-09-01 07:05] mikepenz commented on #76
@jansallads i do not have any issues with the Android-Iconics in API 10 (and i use it in many apps with a lot of installs)

If you show me the exact spot of the warning i will probably be able why it's there. But you can safely use it with API 10.

[2015-09-01 07:05] #76 closed

[2015-09-08 04:02] Saime1942 opened #77 "Destructive Proguard rule."
Greetings Mr. Penz and I pretty appreciate for all your great works specially the Drawer.
After the loss of gray icon versions in the [official repository] (https://github.com/google/material-design-icons), I decided to put your library into practice, but something kept me away from that.
The R.java class witch includes all the id references is not quite safe to let it ship with the APK because so

[2015-09-08 07:00] mikepenz commented on #77
@Saime1942
It depends on how you plan to use the library. If you only use the Android-Iconics as `Drawable` there is no need to register any fonts or anything as this happens automatically.

The registering (which is done via the `R` variable) only is required if you generate icons from the string name, or if you use them directly via `xml`.
But no problem as you can just ignore the autodetection.

[2015-09-08 07:00] #77 closed

[2015-09-08 07:12] Saime1942 commented on #77
That's what I was talking about!
Thanks again, for everything (Drawer, Iconics, Materialize, ...).

[2015-09-08 20:23] mikepenz commented on #77
@Saime1942 i do not know if you can overwrite proguard rules. if not, i assume this could break your requirement for obfuscating the `R.class`

https://github.com/mikepenz/Android-Iconics/commit/3cca9830237c6d3d5364a573566323e7c9db7291 ?

[2015-09-09 06:17] Saime1942 commented on #77
Nevermind. I am planning to use DexGuard. :)

[2015-09-09 06:22] mikepenz commented on #77
ok thanks. :)

[2015-09-10 04:01] luccasmaso opened #78 "How to align IconicsButton android:text with {icon} and text?"
Is there a way to vertical align the icon with the text in this situation?

[code]

And the Button.Green style:

[code]

<img width="135" alt="capture d ecran 2015-09-10 01 10 31" src="https://cloud.githubusercontent.com/assets/1427231/9779965/c17c437e-5758-11e5-82e8-83045202d854.png">

[2015-09-10 04:06] Saime1942 opened #79 "Unreliable icons."
As supposed, the actionbar() method is going to make the icons exactly the same size as MenuItem icons, but practically it is not.

![screenshot_2015-09-10-08-29-24](https://cloud.githubusercontent.com/assets/14172737/9779918/eb70aa9c-5796-11e5-83d8-750ce704b01a.png)

Any idea on how to resolve that?

[2015-09-10 17:51] mikepenz commented on #78
not really as this is rendered by android. a better implementation would be that you provide the `IconicsDrawable` as compound-drawable to the Button.

[2015-09-10 17:51] #78 closed

[2015-09-10 17:53] mikepenz commented on #79
@Saime1942 the `.actionBar` method will make the icon 24dp and 1dp padding as you found already. The thing is that google does not use 1dp padding for all of their icons and some have different paddings around the icon itself. in special cases it is required to define a custom padding to exactly match google icons. it is not possible to find the correct padding automatically as it is really differ

[2015-09-10 17:53] #79 closed

[2015-09-12 19:21] jansallads commented on #76
Not forgotten, I'll get back to you about this, asap :)

[2015-09-17 03:47] andersonsoares opened #81 "usage on layer-list"
how can i access drawable icons to put into <item> from <layer-list> ? Is that possible ?
Thanks

[2015-09-17 06:29] mikepenz commented on #81
@andersonsoares you can use those icons programmatically. you can't reference them in xml's like you can do with normal resources.

[2015-09-17 06:29] #81 closed

[2015-09-20 10:36] novalu commented on #48
I wanted to replace icons in Toolbar from resources to IconicsDrawable. I had icons defined as:

[code]

with "ic_refresh_white_24dp.png" from official repository and it looks like this:

![iconics_size1](https://cloud.githubusercontent.com/assets/6546116/9980268/1d916a2c-5f92-11e5-90ad-174ddb1351e1.png)

Then I replaced refresh icon with IconicsDrawable

[code]

And icon was bigger:

![iconics_si

[2015-09-20 10:47] mikepenz commented on #48
@novalu the `actionBar` method is correct as far as possible for the lib. The thing is that google does not use the same paddings for all of their icons, and i see no programmatically solution to automatically define the different paddings.

The `actionBar` method sets the size to 24dp with 1dp padding by default. In some cases this will be different as you found out already

[2015-09-22 08:13] kongnanlive opened #82 "FuXX!!!Why not README instructions mappingPrefix length restrictions？"
I wasted four hours of time, simply because mappingPrefix length is not equal to 3！！！！fucXXXXXX！！！！！！

[2015-09-22 08:14] mikepenz commented on #82
https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/typeface/ITypeface.java#L33

[2015-09-22 08:14] #82 closed

[2015-09-22 08:16] kongnanlive commented on #82
I am hoping to explain the README mappingPrefix have length restrictions, to avoid making the same mistakes newcomers @mikepenz Thanks

[2015-09-22 08:20] mikepenz commented on #82
@kongnanlive improved the readme. ;). but you should always check the interfaces you are going to implement too :D

[2015-09-24 07:47] StNekroman opened #83 "Doesn't work in editor mode"
I've added the next code to my layout:

[code]

But nothing work as expected. Becuase in each corresponding class I see:

[code]

So rendering is disabled in edit mode in Android Studio.
Why?

[2015-09-24 07:55] mikepenz commented on #83
because rendering won't work in the preview of Android-Studio. If i remove this line it won't show your layout at all. If you have a solution how it would render the font let me know, but as far as i know this is not possible.

[2015-09-24 07:55] #83 closed

[2015-10-01 11:59] toyongbanatero opened #84 "Use as text in custom views"
Hey Mike. Thanks for this library, it's very awesome. However, I'm trying to put texts with those vector icons in my custom `View` but I'm having some problems because I don't know how to do it right.

I've tried doing it like (on my custom `View`'s `onDraw()` method:
[code]
but as expected, this will not work. I also tried something like:
[code]
but this complains that I am giving a `SpannableStr

[2015-10-01 12:12] mikepenz commented on #84
@toyongbanatero you can't use this on a canvas. It seems you mix up a few things.

There are 2 different things the iconics library does / or can do:
* Icons within text (of `TextView`, `Buttons`, etc...)
In this case the Iconics-library uses a `SpannableString` and replaces the `{cmd-star}` with the unicode character used to identify the specific icon in the iconfont, and sets a `TypefaceSpanable

[2015-10-01 12:39] toyongbanatero commented on #84
Oh yes. I forgot the about the `IconicsDrawable`. I will try that. Sorry, I was a total noob about making custom `View`s and bumped with this problem of mine. Thanks for the fast reply.

[2015-10-01 12:39] #84 closed

[2015-10-02 14:59] seba123neo commented on #65
yes, still the problem, I do not know how to solve, can you try to replicate it?

[2015-10-02 15:00] mikepenz commented on #65
will it also happen with a normal drawable?

[2015-10-02 15:06] seba123neo commented on #65
good question, I'll try and let you know...

[2015-10-02 15:36] seba123neo commented on #65
yes, with a normal drawable also it happens...

[2015-10-02 15:36] mikepenz commented on #65
So it's no **Android-Iconics** problem. sorry

[2015-10-02 15:58] seba123neo commented on #65
yes, apparently is a problem of the appcompat toolbar, I've solved with this lines in the toolbar

android:contentInsetLeft="0dp"
android:contentInsetStart="0dp"

in these links are treated this problem:

http://stackoverflow.com/questions/26455027/android-api-21-toolbar-padding

http://stackoverflow.com/questions/29447043/unexplained-gap-padding-to-the-left-between-toolbar-and-linearlayout

Thank

[2015-10-02 16:43] mikepenz commented on #65
thanks for adding the answer ;)

[2015-10-07 17:42] timrae opened #85 "Size of some GoogleMaterial icons too big in Toolbar"
For example, here is the refresh icon side-by-side with the [png version](https://www.google.com/design/icons/#ic_refresh)

![untitled](https://cloud.githubusercontent.com/assets/2818274/10345532/552e430c-6d65-11e5-884e-38f668ed0c43.png)

[code]

Other icons like `GoogleMaterial.Icon.gmd_sync` seem to work more or less as expected
![sync](https://cloud.githubusercontent.com/assets/2818274/10345644

[2015-10-07 17:48] mikepenz commented on #85
@timrae was already discussed here:
https://github.com/mikepenz/Android-Iconics/issues/48

The problem is that the google icons have different paddings and the icon-font icons do not contain those paddings. By default i add 1dp padding but that's to less for some, so you would have to modify the padding value for those a bit.

It is no possible to automatically provide the same padding values for

[2015-10-07 17:48] #85 closed

[2015-10-07 17:54] timrae commented on #85
Ah that's a shame... I'd rather use the pngs than fiddle around with the padding of every icon. :(
This is kind of a deal breaker issue, you might want to consider complaining to Google about it, and/or writing about it in the main README

[2015-10-07 18:04] mikepenz commented on #85
@timrae this is no issue of google nor of the library.

the thing is that the png's are all well prepared by the designers and define different padding to fit perfect into the system. those can be different by icon and also by icon size (but this is not common)

icon-fonts do not contain any padding around the icon as the font and the vector of the icon fills up the area. so it can be used everywh

[2015-10-07 18:23] timrae commented on #85
I see, I guess I'll wait and see if a VectorCompat support library is ever released for API10

[2015-10-07 18:24] mikepenz commented on #85
yeah. but i'm not sure if they include the padding in the vector icons? if yes you could create an icon font of those vectors and use it. ( i think)

[2015-10-07 18:26] timrae commented on #85
there are pre-defined 24px svg set for all the icons e.g.:
https://github.com/google/material-design-icons/tree/master/action/svg/design

[2015-10-07 18:28] mikepenz commented on #85
hmmm should be tried if those contain the padding

[2015-10-07 18:43] timrae commented on #85
It would be fantastic if you could get that working

I don't think they explicitly contain the "padding" because the vector files are defined on a 24dp grid, so the padding would presumably just be the distance from the edge of the grid to the edge of the line path...?

On SDK 21+ you can use an xml VectorDrawable directly as an icon instead of a png. For example [here's the refresh icon](https://

[2015-10-11 00:01] CROSP opened #86 "Name of icons faw instead of fa"
Thank you for great work.
I have one question, why you use "faw" prefix for icons instead of default "fa".
I have an app where I this image codes( fa-android for example) are parsed from the server and than used in the app, but with "faw" I have to parse and convert icon identifier.
Maybe you can add some method to convert from default name to the name convention used in you library.

Thank you.

[2015-10-11 10:05] mikepenz commented on #86
@CROSP because i have defined a 3-char prefix for the fonts so more combinations are possible.

I'm sorry but the 3-char prefix is a requirement with this library for the font identifiers.
So you will have to replace **fa-** with **faw-**

Best,
Mike

[2015-10-11 10:05] #86 closed

[2015-10-15 23:44] clement9527 opened #88 "The generated POM file of google-material-typeface is missing version for dependency of iconics-core"
Hi Mike,

I start having some issue build my project once I have my personal maven repo setup. The issue is in the generated POM file in google-material-typeface,  as the following:

    <dependencies>
      <dependency>
        <groupId>Android-Iconics</groupId>
        <artifactId>iconics-core</artifactId>
        <version>unspecified</version>
        <scope>compile</scope>
      </dependency>

[2015-10-16 06:55] mikepenz commented on #88
@clement9527 which dependency also requires the **google-material-typeface**? Can you exclude it from this dependency?

[2015-10-16 18:36] clement9527 commented on #88
I have two modules (serves as a widget) both using iconics, and my main project depends on these two modules. When gradle tries to resolve the dependencies to see if there is any conflicts, it fails because the version of the dependency is unspecified.

Answering your question, yea, for this case I can merge the two modules together to be one but that would be a hack to me and it means all artifac

[2015-10-16 19:32] clement9527 commented on #88
One way for fixing this is to manually solve the version in gradle by the following:

        eachDependency { details ->
            //multiple actions can be specified
            if (details.requested.group == 'Android-Iconics' && details.requested.name == 'iconics-core') {
                //changing the name:
                details.useTarget group: 'com.mikepenz', name: 'iconics-core', versio

[2015-10-19 15:37] aacanakin opened #89 "adding IconicsCompatButton"
Since IconicsButton is extending `android.widget.Button`, when I want to change color background, it messes up with buttons shape in apis before 21. Therefore, I think there is a need of adding `IconicsCompatButton`. Nothing is changed in the code, just it extends from AppCompatButton. Here's an example
[code]
I'm not sure if it's absolutely necessary though.

[2015-10-19 18:23] javiersantos opened #90 "gmd images aren't showing good on certain devices (with custom roms and theme engine)"
I've been using Android Iconics for a long time in my apps. When I saw my app at my friend's phone I noticed that the images using `google-material-typeface` wasn't showing properly (both IconicsTextView and IconicsImageView).

You can see the result on my device and my friend's device. It's so so strange, it only happens with `google-material-typeface`, I'm also using `community-material-typeface

[2015-10-19 19:20] mikepenz commented on #89
@aacanakin thanks for the addition. i think i can add this to the core.

[2015-10-19 19:21] mikepenz commented on #89
@aacanakin do you want to create a pull request?
you also should change support-v4 to appcompat-v7.
Or should i add it?

[2015-10-19 19:22] mikepenz commented on #90
@javiersantos could it be that your friend has a custom font defined on his device? it seems that the theme framework changes icons too sometimes.

[2015-10-19 19:57] javiersantos commented on #90
@mikepenz just talked with him, but he is using the stock theme & font.

[2015-10-19 20:01] mikepenz commented on #90
@javiersantos hmmm :/

the **community-material** icons have a different unicode range so they are not overwriten.

no default "custom" theme? :/ i have no device with CM so i can't test. But i had a report from one guy who had a custom font which broke the icon font.

[2015-10-19 20:36] mikepenz commented on #90
on your OnePlus it's fine? Does it allow to modify themes? probably we can do some testing?

[2015-10-19 20:49] mikepenz commented on #88
@clement9527 thank you for your solution. i hope it will help others who also have a similar setup to fix this problem.

[2015-10-19 20:49] #88 closed

[2015-10-19 20:55] mikepenz commented on #89
@aacanakin ok already added. will be in the next release

[2015-10-19 20:55] #89 closed

[2015-10-20 07:50] aacanakin commented on #89
@mikepenz I saw that today. Thanks

[2015-10-20 09:13] Ks89 opened #91 "How can i create an IconicsButton as external layout and import it into another one with include @layout?"
Hi,
it's possibile to define a `<com.mikepenz.iconics.view.IconicsButton` as external layout and include it into another one in this way?
[code]
and into layoutname.xml i have this:
[code]

With this code, the result is a Button without the "{faw-user-plus}" text.

[2015-10-21 03:57] timrae commented on #90
A user has reported a similar issue with the AnkiDroid 2.5 beta:

![screenshot_2015-10-20-23-48-36](https://cloud.githubusercontent.com/assets/2818274/10627339/275356d2-77f3-11e5-9499-068f2df8477f.png)

This is what it's supposed to look like:
![screenshot_2015-10-20-14-54-21](https://cloud.githubusercontent.com/assets/2818274/10627353/51d3d71a-77f3-11e5-8706-9df06aad67a1.png)

[2015-10-21 06:27] mikepenz commented on #90
@timrae , @javiersantos i will upload a SNAPSHOT of the Google Material Icons today with a modified unicode character mapping range. It will need someone with this issue to try the font then?

[2015-10-21 09:28] javiersantos commented on #90
Sure. I will test the SNAPSHOT on both devices and let you know if it is working properly.

[2015-10-21 09:37] fliespl opened #92 "IconicsImageView not displayed"
I am having the problem with using IconicsImageView. It just won't render :) I have went through other issues and tried adding to proguard, registering fonts in Application onCreate, but none has worked. I am trying to use it in dialog fragment using this code:

[code]

[code]

Let me know how can I help debugging.

Thanks in advance for your help.

[2015-10-21 10:39] mikepenz commented on #92
@fliespl do you use proguard?

if yes it sometimes happen that it can't automatically register the font. So this should be done in a `CustomApplication`
[code]
Shown here: https://github.com/mikepenz/Android-Iconics/blob/develop/app/src/main/java/com/mikepenz/iconics/sample/CustomApplication.java#L13

Other than that. Will it work if you use the icon programmatically and set it on the `ImageView`?

[2015-10-21 10:48] fliespl commented on #92
@mikepenz Thanks for prompt reply.

I have actually initialized those using Application:

    @Override
    public void onCreate() {
        super.onCreate();
        FacebookSdk.sdkInitialize(getApplicationContext());
        Iconics.init(getApplicationContext());
        Iconics.registerFont(new GoogleMaterial());
        Iconics.registerFont(new FontAwesome());

IconicsButton works correctly as

[2015-10-21 10:53] mikepenz commented on #92
@fliespl ok great.

You can also try to add this to your proguard configuration:
https://github.com/mikepenz/Android-Iconics#proguard
(it will deactivate obfuscation for all fields which is probably bad for your application)

[2015-10-21 10:55] fliespl commented on #92
@mikepenz I think you misunderstood me :) IconicsButton works, but not IconicsImageView.

[2015-10-21 10:57] mikepenz commented on #92
@fliespl ok that sounds interesting. Not sure what could cause this as it works in the sample.
Can you temporary try if it will work without proguard?

[2015-10-21 11:01] fliespl commented on #92
It's from debug variant which I believe doesn't have proguard enabled.

[2015-10-21 11:08] fliespl commented on #92
That's really strange cause it works on normal layout, but not DialogFragment. Hmmm. I will troubleshoot it a little more.

[2015-10-21 11:09] mikepenz commented on #92
@fliespl ok thanks

[2015-10-21 11:28] fliespl commented on #92
It's such a shame... I had bad namespace declaration in my layout...

**xmlns:app="http://schemas.android.com/tools"**
instead of:
**xmlns:app="http://schemas.android.com/apk/res-auto"**

Probably it might be added as one of the common problems ;)

Thank you for great contributions to Android Community!

[2015-10-21 14:46] mikepenz commented on #92
@fliespl ah great that you found the cause.

[2015-10-21 14:46] #92 closed

[2015-10-21 18:33] mikepenz commented on #90
@javiersantos i've uploaded a **SNAPSHOT**

use it like this:

[code]
you have to add the **SNAPSHOT** repository for this to work
[code]

[2015-10-21 19:32] javiersantos commented on #90
Hi @mikepenz. I'm experiencing some issue with this SNAPSHOT.

On my device (where 1.2.0.1 was showing the images properly) now displays:
[code]

Within the next hours I will test this SNAPSHOT on the device where the images of the 1.2.0.1 version were broken.

[2015-10-21 19:47] mikepenz commented on #90
@javiersantos to be able to change the unicode mapping i used the GoogleMaterial font from icomoon. it seems **gm_highlight_off** does not exist. only ** gmd_highlight_remove**

[2015-10-21 19:52] mikepenz commented on #90
@javiersantos i will look for a better solution (to be equal to the old mappings) later. First to make sure this change will fix the mapping problems as described with custom roms

[2015-10-21 20:48] mikepenz commented on #90
@javiersantos ok found a better way to change the icon mapping. should be the same as with the previous version now just with a different unicode character:

[code]

[2015-10-22 12:41] mikepenz commented on #90
@javiersantos does the new SNAPSHOT look better?

[2015-10-22 12:41] mikepenz commented on #91
@Ks89 that's strange. Not sure what the android system breaks in this case. I don't think that i can modify anything in the view to change this behavior

[2015-10-22 18:35] Ks89 commented on #91
Ah ok. No problem ;)

[2015-10-22 18:37] #91 closed

[2015-10-26 02:57] timrae commented on #90
I don't have a device that can test this... @javiersantos your input would be appreciated

[2015-10-26 10:00] javiersantos commented on #90
Sorry for the delay, it was difficult to test it on both devices (the
second one is not mine).

I will have the results later today.

El lun., 26 de octubre de 2015 3:57, Tim Rae <notifications@github.com>
escribió:

[2015-10-26 11:44] mikepenz commented on #90
@javiersantos ok thank you so much.
@timrae thanks.

I also asked someone else but he was not able to reproduce it anymore :/ strange thing.

[2015-10-26 14:44] javiersantos commented on #90
I have been testing the latest SNAPSHOT, with and without ProGuard.

It continues with the same issue. Nexus 4 (my device) displays the icons properly, but the other device shows nothing I have been testing the latest SNAPSHOT, with and without ProGuard.

It continues with the same issue. The Nexus 4 device (my device) displays the icons properly, but the other device shows nothing (instead of sho

[2015-10-26 15:56] mikepenz commented on #90
Thank you so much for testing. If I only could reproduce it on my side of any phone.

But it seems to be a big limited to cyanogenmod + theme

[2015-10-26 18:10] mikepenz commented on #90
@javiersantos but it's working with the Community Material Design Icons?

[2015-10-26 18:13] javiersantos commented on #90
Yes @mikepenz. Replace `gmd` to `cmd` was my solution to solve the issue.

[2015-10-26 18:18] mikepenz commented on #90
@javiersantos the **CommunityMaterial** is no different to the **GoogleMaterial** icon addon. which is really strange. both a normal icon fonts. the SNAPSHOT variant of the **GoogleMaterial** icon addon uses the same unicode range for the characters.

If i only could reproduce it somehow

[2015-10-26 18:27] javiersantos commented on #90
It seems a really weird issue. I was using both icon packs (`gmd` and `cmd`), only the icons of the first one were showing properly.

I will help you more if I could do, but I'm not able to reproduce on any of my devices. It could even be an issue of the ROM build.

[2015-10-26 19:05] mikepenz commented on #90
It is really weird.

Thank you so much for your time.

[2015-10-27 02:38] timrae commented on #90
@mikepenz
Thanks, I've decided to just use pngs for all our icons as this and #85 basically make this library unusable for us. It was a nice idea, thanks for all of your work!

[2015-10-27 09:47] mikepenz commented on #85
@timrae sorry for the late answer.

I looked on how the font is defined and created. It seems to be a limitation of the icon fonts to be not able to include this.

I'm really sorry.

Perhaps for use cases like this it is really easier or better to use the new provided tools by google which allows you to use VectorDrawables api 21+ and let the tools create the png's for you.

Thanks for your feedba

[2015-10-27 09:48] mikepenz commented on #90
@timrae i see and i'm sorry that there are limitations of icon fonts.

About the wrong icon issue. I have no more idea how to fix, and i'm afraid i can't solve it as long as i have no possibility to reproduce it on my end.

[2015-10-28 18:36] mikepenz commented on #90
@javiersantos can you please ask your friend which theme he is using. i hope i can somehow reproduce the issue.

[2015-10-28 18:51] mikepenz commented on #90
Installed CM12.1 on a HTC M7 and tried 10 different themes. I really can't reproduce it. sorry.

[2015-10-28 18:54] javiersantos commented on #90
He isn't using any third-party theme @mikepenz. If it is helpful for you, this is the ROM installed on his  device: http://forum.xda-developers.com/oneplus-one/development/rom-euphoria-os-beta-0-4-t2960226

Hope it helps you.

[2015-10-28 18:56] javiersantos commented on #90
However, I have trying the Euphoria 5.1 ROM on a Moto G 2013 but I'm not able to reproduce the issue.

[2015-10-28 18:57] mikepenz commented on #90
@javiersantos i'm afraid it is an issue caused by this rom.

To be fair i'm not sure if i should or even can support this.

i just tried the theme which is linked in the euphoria thread. also not possible to reproduce this bug. but he can reproduce it all the time with this rom. after rebooting etc?

[2015-10-28 19:00] javiersantos commented on #90
Yep. Some days ago I created for him a sample APK with some IconicsImageViews (latest Snapshot). His device wasn't showing any icon after rebooting.

[2015-10-28 19:03] mikepenz commented on #90
@javiersantos and he also does not use something regarding xposed?

[2015-10-28 19:08] javiersantos commented on #90
Nope @mikepenz, he is not using the Xposed framework.

[2015-10-28 19:12] mikepenz commented on #90
@javiersantos thank you so much for all your time and that you answer all those questions.

I am really afraid that this bug can't be really reproduced or fixed.
i am sure there is a root cause for this somewhere, but as it is working for all stock devices (+ stock manufactur devices) + most custom roms i still think Android-Iconics can be used in production.

I hope some day we are able to find t

[2015-10-30 12:37] javiersantos opened #93 "Some cmd icons are not showing"
I'm using the `community-material-typeface`, but when I try to include some specific IconicsImageView they are not showed and the logcat shows:
[code]
[code]

Another icons are showed. For example this one:
[code]

[2015-10-30 12:56] javiersantos commented on #93
Well, it seems both icons are not included in the pack (at least with that name).

[2015-10-30 13:15] mikepenz commented on #93
@javiersantos both icons are not in. perhaps they have updated the font.

[2015-10-30 13:15] #93 closed

[2015-11-03 18:48] mikepenz commented on #90
@javiersantos do you use an IconicsTextView somewhere or use the Android-Iconics icons within a `TextView` / `Button` somewhere?

[2015-11-03 20:29] mikepenz commented on #90
@javiersantos i have a new font source for the Google Material Icons as i've found that if you used the old `.ttf` inside your `TextView` it was badly missaligend.

I have released a new version v2.1.2.1 of the `GoogleMaterial` font addon.

Could you please try if this one fixes the mapping issue?

THANK YOU so much :)

The new source is this one:
http://zavoloklom.github.io/material-design-iconic

[2015-11-04 11:38] javiersantos commented on #90
Sure @mikepenz. I'm busy today, but I will check this new update at the end of this week and I will let you know the results.

[2015-11-04 11:42] justinkruit commented on #90
Justin here, from the post on G+. I've an Opo, using Euphoria, and as theme Prozt, BlueSeas. I will try around with an other theme again. The weirdest part imo is, that I'm the only one with the problem, and even a friend of me with euphoria and an opo doesn't have the problem.

[2015-11-04 11:44] mikepenz commented on #90
@justinkruit you are the second one with this rom having the issue. the collegue from @javiersantos also uses Euphoria for is One Plus One. I have the fear that exact this ROM breaks the mapping.

[2015-11-04 11:50] justinkruit commented on #90
@mikepenz and first it wasn't broken. Only recently. Now on default theme, still having the problem. And what I find even weirder, is that in the demo app, everything is normal, and looks like it should.
![screenshot_2015-11-04-12-49-51](https://cloud.githubusercontent.com/assets/1642830/10937365/9f0a2cdc-82f2-11e5-89f0-63114e3b7d68.png)
![screenshot_2015-11-04-12-50-02](https://cloud.githubuserco

[2015-11-04 11:57] javiersantos commented on #90
I've created two APKs with the new updates of Android Iconics and Google Material Icons.

[com.github.javiersantos.materialiconsexample](http://apkshared.net/d08)
[com.github.javiersantos.materialiconsexample.proguard](http://apkshared.net/d09)

Hope it helps.

[2015-11-04 12:05] justinkruit commented on #90
@javiersantos I'm only seeing one icon, added a screenshot.
And should I make stuff even weirder? The Android-Iconics app first rendered every icon barely, but my app did work. Now my app doesn't work, but in Android-Iconics, everything is now rendering correctly. I'm really losing track of what is happening right now.
![screenshot_2015-11-04-13-01-21](https://cloud.githubusercontent.com/assets/16

[2015-11-04 12:16] javiersantos commented on #90
It was my fault, I forgot to change the `iiv_icon` with the new source. It is a bit confusing now, because there are not using the same name (@justinkruit so you have to update them).

[com.github.javiersantos.materialiconsexample](http://apkshared.net/5ci)
[com.github.javiersantos.materialiconsexample.proguard](http://apkshared.net/5cj)

[2015-11-04 12:21] justinkruit commented on #90
@javiersantos seeing 4 icons now. I'll start my laptop to update some libs, looking if that will help.
![screenshot_2015-11-04-13-20-26](https://cloud.githubusercontent.com/assets/1642830/10937956/ee14b488-82f6-11e5-867a-414b3ea50501.png)

[2015-11-04 12:36] mikepenz commented on #90
@javiersantos i noted this in the `README.md` (probably will move this to a new `MIGRATION.md`) that the mapping changed as the new font (which uses the same icons) has a different mapping.
I know that it's bad that the mapping names changed but the font itself also is better as the icons are aligned vertical centered inside the font. so if you use them inside an TextView they are centered.

The n

[2015-11-04 12:51] javiersantos commented on #90
@mikepenz good news. My friend's device is now showing the icons properly too :+1:

[2015-11-04 12:52] mikepenz commented on #90
@javiersantos so it seems the new GoogleMaterial font fixes it ;). That's awesome.

[2015-11-04 12:55] justinkruit commented on #90
@mikepenz how exactly do I update the GoogleMaterial font if it's included in the drawer library?

[2015-11-04 13:02] mikepenz commented on #90
@justinkruit the `GoogleMaterial` font is not included in the drawer library. The drawer library only contains the core. You have added the `GoogleMaterial` font addon to your dependencies. Just update it there to `v2.1.2.1` remember that it will change the mapping names. Here's the cheatsheet of them:
http://zavoloklom.github.io/material-design-iconic-font/cheatsheet.html

I'm really sorry that t

[2015-11-04 15:32] justinkruit commented on #90
@mikepenz all working now, after some hours of work. (had some problems with updating, all fixed.) Thank you really much, looking forward for more of your work. :smile:
![screenshot_2015-11-04-16-30-15](https://cloud.githubusercontent.com/assets/1642830/10942756/ae9678ee-8311-11e5-88ef-8c55ddbee99b.png)

[2015-11-04 15:47] mikepenz commented on #90
@justinkruit which problems did you have with updating? were it the new `GoogleMaterial` icon mappings? If yes, I'm really sorry for this, but this is caused by the new `*.ttf` i use from this project: http://zavoloklom.github.io/material-design-iconic-font/cheatsheet.html.
If something else, could i have helped you to avoid / fix this problem?

[2015-11-04 15:53] justinkruit commented on #90
@mikepenz the icon mappings weren't that much of a problem, only some had a new name. The problems where with some changes in, for example, a newer version of the drawer. I was some versions behind, and after updating some stuff was broken. Most of those hours I was going thru my files and fixing the stuff that broke, mostly fixing with alt + enter or changing some lines. But all working now. :)

[2015-11-04 15:56] mikepenz commented on #90
@justinkruit ok great :D. I hope everything was mentioned in the MIGRATION.md of the MaterialDrawer https://github.com/mikepenz/MaterialDrawer/blob/develop/MIGRATION.md

[2015-11-04 15:57] mikepenz commented on #90
So finally i can close this issue :).

THANK YOU ALL SO MUCH FOR HELPING. especially @javiersantos and @justinkruit

[2015-11-04 15:57] #90 closed

[2015-11-05 08:03] candeiasdan opened #94 "Switch between Text and Icon"
How can i switch between a letter and a registered unicode, and keep the font size?

I do register the fonts on App level:
[code]

Then i have on layout (XML):
[code]

Now i need to switch between letter "A" and "{abc-option01}". To be more precise i need to keep the font size and switch colors (background and textColor):

State1:
Text: "A"
Font Size: 24sp (does not change)
Background: #0000FF
Tex

[2015-11-05 08:16] mikepenz commented on #94
@candeiasdan the font size does not change, but the depending on the icon font the icons boundings may differ.

so switching isn't the issue for you right? As of your sample you register "option_01" but afterwards you use "option01"

[2015-11-05 08:29] candeiasdan commented on #94
misspelling mistake. I do use option_01. And yes, I can see my Icon.

How can work around bounds problem? The letter "A" is centered and with proper size, the Icon is not centered (its being shifted in direction of bottom right corner), and quite small for 24sp.

[2015-11-05 08:32] mikepenz commented on #94
@candeiasdan depends on the process how you've created the font. That really depends how the vector is placed and defined. Not sure how you can modify the baseline or re-align it. Which service did you use?

If you really want to have full control i highly recommend you that you use the icon via the `IconicsDrawable` and set it on an `ImageView` this will give you better control, like padding, ali

[2015-11-05 08:36] candeiasdan commented on #94
@mikepenz thanks for your feedback. I have just realised that the font it self is shifted, so I won't manage to center it properly, I need to generate it once again.

It seems everything is fine with library, the problem is on my side!

Thanks for the quick answer anyway!

[2015-11-05 08:36] #94 closed

[2015-11-05 21:33] seba123neo opened #95 "Missing Google Material icon 'color lens'"
I can't find the equivalent 'color lens' icon, in the new library...

Thanks.

[2015-11-05 21:36] seba123neo commented on #95
is 'palette'..

close the issue.

[2015-11-05 21:37] mikepenz commented on #95
The new source also contains all icons. Here's the cheat sheet:
http://zavoloklom.github.io/material-design-iconic-font/cheatsheet.html

sorry that the names are different. but the updated source has many advantages. It fixes the broken icon mapping on some custom roms, and it also aligns the icons centered within text.

;)

[2015-11-05 21:37] #95 closed

[2015-11-05 21:56] seba123neo commented on #95
it's excellent thanks, perfect library mike...

[2015-11-05 22:10] mikepenz commented on #95
thank you :)

[2015-11-06 13:39] fliespl opened #96 "How to add pressed state for IconicsDrawable set as Compound Drawable"
Hi Mike,
is it possible to change iconics drawable color while it's in pressed state? I was unsuccessful while trying to use StateListDrawable - it has never shown. Any idea how I should proceed?

In my example I am setting facebook icon as "left drawable" of "Button" element. Not sure how to change iconics drawable color while it's in pressed state (button text gets changed from white to blue by

[2015-11-06 13:40] mikepenz commented on #96
The sample contains a `StateListDrawable`

[code]

https://github.com/mikepenz/Android-Iconics/blob/develop/app/src/main/java/com/mikepenz/iconics/sample/PlaygroundActivity.java#L92

[2015-11-06 13:49] fliespl commented on #96
Hi Mike,
thank you - I have assumed there is other way since there is comment saying "(NOT WORKING AT THE MOMENT)"

[2015-11-06 13:52] mikepenz commented on #96
@fliespl oops. should remove this. this comment was for a different thing i removed from the sample

[2015-11-06 13:52] mikepenz commented on #96
will remove the comment ;)

[2015-11-06 13:52] #96 closed

[2015-11-06 14:09] seba123neo opened #97 "IconicsCompatButton don't show the icon"
I was testing the IconicsCompatButton and I realized that not show icons, show a rectangle icon.

the same code with IconicsButton works perfect...

[2015-11-06 14:10] mikepenz commented on #97
@seba123neo interesting. AllCaps is set to false?

[2015-11-06 14:14] seba123neo commented on #97
testing more: in the android 5.1 works perfect the IconicsCompatButton, the icon is showing.

in 2.3 the IconicsCompatButton shows a rectangle, but the same code in API 10 with IconicsButton works well.

[2015-11-06 14:14] mikepenz commented on #97
Seems they have some more custom handling in :/

[2015-11-06 14:18] seba123neo commented on #97
yes with with AllCaps = false, same result...

in my code, I deleted all the textAllCaps in the IconicsButton, works perfect all the buttons from > API 10

[2015-11-09 08:00] ksy5662 opened #98 "Icon add request for WeatherIcon"
Please add WeatherIcon

https://github.com/erikflowers/weather-icons.git

Thanks for your great work!!

[2015-11-09 09:19] paulirotta opened #99 "Many icons missing when updating from 1.7.9"
I tried to bump up to the latest, but found gmd_group and a number of other icons we were using are no longer supported? They still appear in the Android app list but the constant is not in GoogleMaterial.class

[2015-11-09 14:12] mikepenz commented on #99
@paulirotta all icons are still there, with a different name:
https://github.com/mikepenz/Android-Iconics/blob/develop/MIGRATION.md#google-material-font-1201----2121

The source changed to the Google Material Iconic project which fixes the icons to be correctly positioned when used in text, and it also fixes a really really rare issue that the icons are not displayed on some custom roms.

You can

[2015-11-09 18:39] mikepenz commented on #98
https://github.com/mikepenz/Android-Iconics/tree/develop/weather-icons-typeface-library

Added the weather icons

[2015-11-09 18:48] #99 closed

[2015-11-09 18:48] #98 closed

[2015-11-10 07:39] ksy5662 commented on #98
Great work!!
Really appreciate your help

[2015-11-11 21:05] jayrave opened #100 "Demo app needs to be updated"
I started integrating Iconics into my application and was using the [demo application](https://play.google.com/store/apps/details?id=com.mikepenz.iconics.sample) to look up icons' name. Some icons that I could find in the demo app were missing from the library and the reason turned out to be #99. It would be great if the demo application can be updated to reflect it

[2015-11-11 21:10] mikepenz commented on #100
ah ok. sorry you are right. uploaded the new version. thanks.

[2015-11-11 21:10] #100 closed

[2015-11-11 23:20] jayrave commented on #100
Great!! Thanks for an awesome library

[2015-11-12 07:26] mikepenz commented on #100
thanks

[2015-11-13 01:12] jd-alexander opened #101 "Using both this library and Calligraphy with base context"
How do I go about wrapping the base context so calligraphy and this library can be used together. Wanted to use icons in normal textviews and buttons.

[2015-11-13 01:14] mikepenz commented on #101
@jd-alexander you can use this library also without wrapping the base context. You will then have to use the custom views.

[2015-11-14 11:57] TheLoyalCruel opened #102 "set Iconics as ImageResource?"
is it possible to set Iconics as a ImageResource? like this:
imageView.setImageResource(FontAwesome.Icon.faw_info_circle);
its not working for me! can I cast it?

[2015-11-14 16:01] mikepenz commented on #102
@TheLoyalCruel the icons are no ressources. The drawables are generated via an icon font.
So you have to go via the `IconicsDrawable` and set the icon as `drawable`

[2015-11-14 16:01] #102 closed

[2015-11-14 20:40] #101 closed

[2015-11-14 20:52] jd-alexander commented on #101
Ok :+1:

[2015-11-15 13:09] mikepenz commented on #97
@seba123neo if you use the new `ContextWrapper` feature and use a normal `Button` ?

[2015-11-16 07:43] Orbyt opened #103 "Using the custom IconicsImageView in a list"
So when using these icons as an ImageView, it says theres 2 options, either inject the context and use a regular ImageView and add the icon in the properties, or use the custom IconicsImageView. Would there be any performance problems using a couple of the custom IconicsImageView on cards in a list/recyclerview? Would it for any reason be slower than using a regular ImageView and injecting the con

[2015-11-16 10:57] mikepenz commented on #103
@Orbyt both do the same so there is no difference in performance. The lib will create drawables from the icon font addon and those are drawn if shown.

There is a third possibility that you set the `drawable` inside your adapter programatically.
Really depends what you need.

[2015-11-16 11:01] #103 closed

[2015-11-16 11:02] Orbyt commented on #103
Thanks.

[2015-11-16 11:03] mikepenz commented on #103
@Orbyt if you have any troubles let me know ;). But the new context inject method is really cool :D

[2015-11-16 11:05] Orbyt commented on #103
@mikepenz Do you know of any use cases where using the inject method instead of the custom imageview would be an advantage?

[2015-11-16 11:10] mikepenz commented on #103
@Orbyt in general i would suggest to use the inject method as it is really transparent and you can continue using the normal `ImageView`s (and the fact that they are probably replaced with updated `ImageView`s from the support libs, not sure if this already happens but it is done for `ImageButton`s)
So no change of you code to the `IconicsImageView`. Nor any other things. Just add the attributes.

[2015-11-16 11:12] Orbyt commented on #103
@mikepenz Awesome, will keep that in mind. Thanks!

[2015-11-16 17:39] DJafari opened #104 "conflict with Calligraphy"
i want use `Android-Iconics` and `Calligraphy` toggether, how can do it ?

https://github.com/chrisjenx/Calligraphy

[2015-11-16 17:43] mikepenz commented on #104
@DJafari if you can't use the context thing you will either have to use one of the provided custom views `IconicsImageView`, ... or set the icons programtically via the `IconicsDrawable`

[2015-11-16 17:43] #104 closed

[2015-11-21 19:39] #97 closed

[2015-11-23 12:02] androideveloper opened #105 "Failed to resolve Google Original icons lib"
Gradle build failed to resolve:
compile 'com.mikepenz:google-material-typeface:2.2.0.1.original@aar'

[2015-11-23 19:51] mikepenz commented on #105
@androideveloper wrong version:
http://mvnrepository.com/artifact/com.mikepenz/google-material-typeface

It is: `2.1.0.1.original`

[2015-11-23 19:51] #105 closed

[2015-11-23 20:32] androideveloper commented on #105
Ok, i will try. Read.me file contains the wrong version, please fix.

[2015-11-26 03:11] echthard opened #106 "Update community-material-typeface-library"
How often do the icon libraries get updated? I can see the community-material-typeface-library is at v1.3.41 on the website. I would like to use some new icons that are not yet in Android-Iconics.

[2015-11-26 05:49] mikepenz commented on #106
@echthard icons are updated as soon as i see that there is a new version. Will update to the new version later today

[2015-11-26 18:46] #106 closed

[2015-11-26 19:51] thekalinga opened #107 "Issue while previewing the layout xml in Android Studio"
I have added the image to the custom component using

[code]

Tho, **I am able to see the icon in the actual application**, the Android Studio previewer complains that the `font/material-design-iconic-font-v2.2.0.ttf` could not be found.  [So I added the font `material-design-iconic-font-v2.2.0.ttf` explicitly to my `assets/fonts`, along with the gradle dependency](https://github.com/code-mc/mater

[2015-11-26 19:55] echthard commented on #106
First: thank you for everything you share!

Second: I see you have updated the cmd library, but how come barcode-scan from https://materialdesignicons.com/ isn't available?

[2015-11-26 19:59] mikepenz commented on #106
@echthard thanks.

not sure. it is not included in their release. perhaps in a future release?

[2015-11-26 20:05] mikepenz commented on #107
@thekalinga you should not have to add the font to your project. that's already inside the project. icon fonts can't be painted from the preview in AS as far as i know, so you should disable adding the icon in the preview by checking:
[code]

to be fair i never used the AS preview :D i paint those xml's in my head. and now with instant run, running the app on a device is really fast :D

[2015-11-26 20:06] #107 closed

[2015-11-26 20:10] thekalinga commented on #107
This library claims to work with Android Studio. Can you check this once

https://github.com/code-mc/material-icon-lib

[2015-11-26 20:14] mikepenz commented on #107
@thekalinga because it does not use a `Path` to draw the icon, but directly uses a canvas. downside of their approach is that they do not offer a contour, etc...

I don't think the preview is really necessary. I will try a few things, perhaps i can get it to work but i can't promise it

[2015-11-26 20:15] thekalinga commented on #107
Sure. Thanks

[2015-11-26 20:51] mikepenz commented on #107
@thekalinga and you are sure it fails for you because of the stacktrace you showed and not because it can't resolve the font? i can't get it to read in the typeface. (changed the silent "null" return to throw the excaption inside the font)

[2015-11-26 21:02] thekalinga commented on #107
I just renamed the font in my `assets/fonts/material-design-iconic-font-v2.2.0.ttf` to `assets/fonts/material-design-iconic-font-v2.2.0.ttf.bak` & this is the error I get

`Asset not found: fonts/material-design-iconic-font-v2.2.0.ttf`

If I rename the file back, I get the same exception trace I mentioned in the description.

I use ubuntu 14.04 & my Android studio details are
[code]

[2015-11-28 15:07] thekalinga opened #108 "Have issues with setImageDrawable but not with setBackground"
When I try setImageDrawable on an image within a container, I get an empty container (by container I mean the layout that the image is contained in)

[code]

If I try set an image from resource, I dont have any issue issue.

[code]

In order to see whether the issue is just setImageDrawable, I tried setting the background on a button & it works fine.

[code]

I am facing this issue even with Suppo

[2015-11-28 17:20] mikepenz commented on #108
@thekalinga the first thing i see is that you try to set the image size with this method `sizeDp` but you provide a ressource id instead you should use this method `sizeRes`

[2015-11-28 18:07] thekalinga commented on #108
Thank you.. That solved the issue

[2015-11-28 18:08] #108 closed

[2015-12-01 09:54] alorma opened #109 "Icons class generator lowercase"
the automatic generator you provide, creates the class with lower case like:

`public class vibbcons implements ITypeface {`

It should be UpperCase first letter, always, as java guidlines say

[2015-12-01 22:08] mikepenz commented on #109
This is a user-issue :D If a lowerCase className is provided the generator will generate it lowerCase. the default class naming is uppercase

[2015-12-01 22:08] #109 closed

[2015-12-01 22:33] mikepenz commented on #104
v2.5.0 is now compatible with calligraphy. see the upgrade notes ;)

[2015-12-01 22:33] mikepenz commented on #101
v2.5.0 is now compatible with calligraphy. see the upgrade notes ;)

[2015-12-02 02:23] xsorifc28 opened #111 "cmd_image missing from CommunityMaterial font"
I believe [cmd_image](https://materialdesignicons.com/icon/image)  isn't mapped to a character, I am not able to find [cmd_image](https://materialdesignicons.com/icon/image) in CommunityMaterial.Icon

[2015-12-02 04:02] jd-alexander commented on #101
Awesome! Thanks Mike.

[2015-12-02 07:18] mikepenz commented on #111
@xsorifc28 it seems the export of their icons does not include all icons. i can't do anything about that. there was already a second icon which was missing. i checked in their download and it was also missing there. the addon includes all icons which were inside their official font download + css mapping with the current version a week ago

[2015-12-02 07:18] #111 closed

[2015-12-02 12:30] DJafari commented on #104
thanks you a lot man

[2015-12-02 20:29] xsorifc28 commented on #111
Thank you for looking into this. I will file an issue with their repo.

[2015-12-02 20:38] mikepenz commented on #111
i can check again if you want. as written it was a different icon the last time

[2015-12-02 20:41] xsorifc28 commented on #111
According to [this](https://github.com/Templarian/MaterialDesign/issues/856), it was called file_image_box. I've opened an issue to request and rename the font character for consistency.

[2015-12-02 21:00] mikepenz commented on #111
@xsorifc28 ok thanks

[2015-12-03 20:51] Plastix opened #112 "IconicsDrawable do not render for Fragment menu items"
I have an AppCompatActivity with a menu that contains a single support Fragment. The fragment contains its own menu items as well.

In my fragment I am doing the following:
[code]
The menu XML for the fragment looks like this:
[code]
The items show up in the overflow menu but they don't show up with icon drawables. What am I doing wrong? I tired the same code in the activity's menu and it works. G

[2015-12-03 23:10] mikepenz commented on #112
@Plastix  can you please provide a screenshot.
But if i understand you correctly you expect the icon to show up in the small dialog when you click on the overflow button. But those items do not have the icon. If your element is shown in the toolbar itself (not in the overflow) it will show the icon.

[2015-12-04 14:52] Plastix commented on #112
The issue is that it isn't showing up on the toolbar with an icon. Switching my XML to `android:showAsAction="always"` doesn't fix it either.

[2015-12-04 15:08] mikepenz commented on #112
@Plastix i have an idea what could cause the issue, but it is not Android-Iconics related. I am sure that a normal icon (from resources) won't change your behavior.

If i'm right your issue is that you have to replace `android:showAsAction="always"` with `app:showAsAction`

[2015-12-04 15:12] Plastix commented on #112
Wow I completely overlooked that! Thanks for the help.

[2015-12-04 15:12] #112 closed

[2015-12-04 15:14] mikepenz commented on #112
No problem. Great that it works now ;)

[2015-12-07 16:52] anupsarode opened #113 "Getting a wrong Icon"
Hello,

First of all, thanks for making this library. It helps me a lot.

I'm trying to get the wallet icon from Community Material set. But I'm getting the Google wallet icon.

[code]

Attached is the screenshot. I need to fetch the second icon, but I get the first icon. I'm pretty sure I'm using the correct name 'cmd_wallet'.

Can you please guide me how I can use that wallet Icon?

My gradle fi

[2015-12-07 18:11] mikepenz commented on #113
@anupsarode their official icon pack (if i download the whole icons) does not include the `wallet` icon. just the `google-wallet` one.

The official google material icons include the icon you search for: https://www.google.com/design/icons/#ic_account_balance_wallet

Best,
Mike

[2015-12-07 20:03] #113 closed

[2015-12-08 13:15] stuckless opened #114 "IconicsImageView and stateful colors"
I tried setting the iiv_color property to a stateful color (ie, drawable resource with selectors that set the color for normal, focused, selected, and unselected).  The Icon renders with the default color, but, it doesn't appear to change color when the other states are applied.  I've set, focusable=true, focusintouchmode=true, and clickable=true, so I can see the icon reacting to the focus states

[2015-12-08 13:29] mikepenz commented on #114
@stuckless could you please provide some sample code you tried?

[2015-12-08 14:38] stuckless commented on #114
So, in res/drawable, I have, iconbutton_textcolor.xml
[code]

In my button style (styles.xml), apply the color
[code]

And then in my layout xml, I use the IconicsImageView with google material icon, and I set the button style, which sets the color selector.
[code]

When my button renders, it renders as RED, but never changes to BLACK when the view is focussed or clicked.

Is this enough?  Or do y

[2015-12-08 14:40] mikepenz commented on #114
@stuckless thanks for the code. i never tried something like this. i expect this to not work with the `IconicsLayoutInflater` but i may be wrong. Will check if such a behavior is possible.

[2015-12-09 10:07] kumold opened #115 "IconicsTextView get ligature"
is there will be a method to get a ligature?
For example, when called on IconicsTextView with icon "{faw-adjust}", it returns string "{faw-adjust}".

[2015-12-09 12:11] mikepenz commented on #115
@kumold can you please be a bit more specific?

[2015-12-09 23:13] mikepenz commented on #114
Ok after some debugging. At the moment i do not allow `ColorStateList`s. But would be a great advantage ;). Will keep it on the list for things to ad

[2015-12-09 23:37] stuckless commented on #114
Thanks for looking.  Awesome project.  it's not a critical feature, but, would be useful.  Configuring state are a bit of PITA... might be nice if IconsImageView just had attributes for focusColor, pressedColor, and normal color :)

[2015-12-10 10:45] alorma commented on #114
I achieved so mething like this using:

[code]

[2015-12-14 05:30] 7ShaYaN7 opened #116 "Search in the whole Iconic sets"
I think this is a good idea to have possibility of search through all font sets, to get the right icon for specific needs.

[2015-12-19 15:10] mikepenz commented on #115
@kumold i will close this until all the required information is added. thanks.

[2015-12-19 15:12] mikepenz commented on #114
I think the solution of @alorma is really great.
I will keep in mind to probably add `ColorStateList` support in the future

[2015-12-19 15:12] #114 closed

[2015-12-19 17:16] mikepenz commented on #116
@7ShaYaN7 good idea. you can also do a pull request if you want to ;)

[2015-12-20 16:49] #116 closed

[2015-12-22 16:20] besharati-behzad commented on #76
it has no issue with API 10 with i inject the context but when i follow the step 3 it produce an exception :)
BTW i have a fragment in my activity. i think it's the reason of exception.

[2015-12-22 16:22] mikepenz commented on #76
@besharati-behzad which exception? i can't really tell without any detailed report what's going on.

[2015-12-22 16:30] besharati-behzad commented on #76
Thank u mike.
this is the full stack trace.

12-22 19:55:23.157 14174-14174/com.behzad.mars E/AndroidRuntime: FATAL EXCEPTION: main
                                                                 java.lang.RuntimeException: Unable to start activity ComponentInfo{com.behzad.mars/com.behzad.mars.activities.BaseActivity}: android.view.InflateException: Binary XML file line #35: Error inflating class

[2015-12-22 16:31] mikepenz commented on #76
@besharati-behzad your stacktrace does not contain a single line specific to the Android-Iconics. What's your layout you try to inflate? Are you sure it's a Android-Iconics issue

[2015-12-22 16:32] besharati-behzad commented on #76
it happens just after executing following statement:

 LayoutInflaterCompat.setFactory(getLayoutInflater(), new IconicsLayoutInflater(getDelegate()));
 super.onCreate(savedInstanceState);

[2015-12-22 16:34] besharati-behzad commented on #76
and this is my layout

<android.support.v4.widget.DrawerLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:id="@+id/drawer_layout"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

    <LinearLayout
        android:layout_width="matc

[2015-12-22 16:35] besharati-behzad commented on #76
<android.support.v4.widget.DrawerLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:id="@+id/drawer_layout"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

    <LinearLayout
        android:layout_width="match_parent"
        andro

[2015-12-22 16:35] mikepenz commented on #76
@besharati-behzad you use the latest version of the library?

It may could be caused by the fragment. will have to debug it at home

[2015-12-22 16:40] besharati-behzad commented on #76
actualy it happen when i try to inflate the layout of activity

following line :
setContentView(R.layout.activity_base);

[2015-12-22 16:41] besharati-behzad commented on #76
yes. i use the latest version :)

[2015-12-22 16:42] mikepenz commented on #76
Yes. i saw it in the stacktrace. it works without the `IconicsLayoutInflater` right? so i think it may miss the namespace to instantiate the layouts from. will check at home

[2015-12-22 16:43] besharati-behzad commented on #76
Yeah . it has no issue with following approach

 @Override
    protected void attachBaseContext(Context newBase) {
        super.attachBaseContext(IconicsContextWrapper.wrap(newBase));
    }

[2015-12-22 16:43] besharati-behzad commented on #76
thank u mike.

[2015-12-22 20:49] mikepenz commented on #76
@besharati-behzad the `IconicsLayoutInflater` is not causing the issue. Seems like the `AppCompatDelegate` may cause some troubles. (But then it would be a support lib issue)

[2015-12-22 22:33] drinfernoo opened #118 "No applicable method to...?"
I'm trying to use an Iconics icon with MaterialDrawer, with this code:

[code]

But I'm getting the error:

[code]

I'm importing the correct classes, and I've included Iconics and the Community Material libraries in my build.gradle. What am I missing? :(

[2015-12-23 07:03] mikepenz commented on #118
@drinfernoo which versions are you using?

The exception is really strange as there is no `Community.Icon` just a `CommunityMaterial.Icon`

[2015-12-23 07:33] drinfernoo commented on #118
[code]

And I do believe the error says CommunityMaterial.Icon, my mistake.

[2015-12-23 07:36] mikepenz commented on #118
@drinfernoo when you clean build the project?
where does the error occur?

[2015-12-23 17:24] drinfernoo commented on #118
It's a compile-time error, so I'm unable to do a full build.

[2015-12-23 17:29] mikepenz commented on #118
@drinfernoo oh. i assume you updated from a previous version?

Check your imports i think you may still have the old import in your file

[2015-12-23 19:32] drinfernoo commented on #118
I am also using MaterialDrawer, if that matters?

I'm using:

[code]

[2015-12-23 19:32] mikepenz commented on #118
as already stated do you have wrong imports in your java file?

[2015-12-23 19:36] drinfernoo commented on #118
[code]

I think so? Whatever was added by my IDE ;)

[2015-12-23 20:58] mikepenz commented on #118
remove those imports and import them new

[2015-12-23 22:24] drinfernoo commented on #118
I already have :(

[2015-12-24 09:05] mikepenz commented on #118
i do not understand why it tries to import `CommunityMaterial.Icon` it should only
[code]

[2015-12-24 14:46] drinfernoo commented on #118
I still get the same error after changing it. I also took out the

    import com.mikepenz.Iconics.*;
Since I'm not directly using anything from there.

[2015-12-24 15:08] AruLNadhaN opened #119 "How can i use this Icons in NavigationView"
Thanks for the great library. I need to use these Icons in my Drawer (NavigationView). So I tried to implement like the below method. But it is not working ?

[code]

[2015-12-24 21:53] mikepenz commented on #119
@AruLNadhaN you can't define an `Android-Iconics` icon via xml on the `NavigationView` as this one is a menu and does not extend from `TextView` or `ImageView`. You can only set the icon programmatically

[2015-12-24 21:53] #119 closed

[2015-12-24 21:54] mikepenz commented on #118
@drinfernoo can you provide a sample app showcasing this. i really do not have any more ideas why this happens for you :/. does it also happen with other icon fonts available for the `Android-Iconics`?

[2015-12-26 05:03] drinfernoo commented on #118
I'm unable to use it at all. I've also tried with FontAwesome and Meteocons :( I could put up a gist of a class with the code, but I can't see how any of the other stuff is relevant. If I'm including it in my build.gradle, and importing it in my class, what else can go wrong?

I don't really understand the error, since I'm not calling a method anyway, but rather a constant, right?

[2015-12-26 12:44] mikepenz commented on #118
@drinfernoo i really don't understand why you have this issue. If you have your project on GIT or any other SCV, i could take a look and try to reproduce your issue. Just give me temporary access, and i will try it.

I am sure there must be some strange configuration issue.

And yes the `Icon` is an `enum` so no method.

[2015-12-27 00:00] Orbyt opened #120 "IconicsDrawable size() not working?"
Im using an IconicsDrawable to add a plus icon to a FloatingActionButton.

Code:
[code]

This doesnt seem to size the icon correctly. I did notice however, that if I set the size to something like `.sizePx(8)`, the icon will be fuzzy, but setting it to `.sizePx(80)` causes the icon to become clear again, suggesting that it is in fact trying to size the icon, but something else if forcing its dimen

[2015-12-27 09:29] 7ShaYaN7 commented on #116
appreciate that!

[2015-12-27 11:42] mikepenz commented on #120
@Orbyt if you try to create an icon with the size of 8px it will be really tiny, and the `FloatingActionButton` will probably scale it up the the required size again. You should set the size of the icon to the size the icon will be displayed.

There is also no difference in any methods like `sizePx`, or `sizeDp` as they all call the same methods:
https://github.com/mikepenz/Android-Iconics/blob/de

[2015-12-27 11:42] mikepenz commented on #116
@7ShaYaN7 it's already in now :)

[2015-12-27 12:20] #120 closed

[2015-12-27 15:16] carstenbaumhoegger opened #121 "wrong icon alignment?"
Hi Mike!

Great lib, I'm just starting to use all of the great features.
I updated the Google Material Icons from `'com.mikepenz:google-material-typeface:2.2.0.1@aar'`  to `'com.mikepenz:google-material-typeface:2.1.0.1.original@aar'` and now the icon alignment seems not to be correct anymore.
I'm using the IconicsTextView to display Icon and Text next to each other and after updating all icons ap

[2015-12-27 15:25] mikepenz commented on #121
@carstenbaumhoegger the icon font packed by google has a wrong baseline of the icon. I haven't yet found a better packaged variant, which keeps the same icon naming.

To solve this i have added another icon addon which has the correct baseline. It's based on this icon font: http://zavoloklom.github.io/material-design-iconic-font/
The problem here is that the naming is a bit different. To use this

[2015-12-27 15:30] carstenbaumhoegger commented on #121
@mikepenz alright, I wasn't aware of that.
The naming isn't a real issue, I only use a few icons, the renaming shouldn't take long.
Thanks for the fast reply! :)

[2015-12-27 15:32] mikepenz commented on #121
@carstenbaumhoegger yeah it took me a long time to figure out this issue of their icon font.
It is only a problem if you use the icons within text, so i didn't mention this in the readme.

Ok great :).

No problem

[2015-12-27 15:32] #121 closed

[2015-12-27 17:41] Orbyt commented on #120
@mikepenz

`You should set the size of the icon to the size the icon will be displayed.`

Well thats my question, it doesnt resize the icon properly, no matter what value I use. 8px and 80px both have the same physically looking size, the 8px is obviously blurry though as its being forced to scale.

[2015-12-27 17:44] mikepenz commented on #120
@Orbyt that's the behavior a `ImageView` works. Make sure your `ImageView` and the `FloatingActionButton` extends the `ImageView` displays the icon the correct size. So you create the `IconicsDrawable` let's say with 24dp, and you make the size of the `ImageView` also 24dp. So it will look best.

I can't (and it would not make much sense) modify the default behavior of `Drawable`s and `ImageView`s

[2015-12-27 17:46] Orbyt commented on #120
@mikepenz Yea im using the default FloatingActionButton implementation, but was using `wrap_content` for the width/height, perhaps thats the issue. Ill mess around with it later. Thanks!

[2015-12-27 20:05] 7ShaYaN7 commented on #116
That's sufficient for now! But if you present the query results in one place, definitely you provide a nice time saving solution.

Thumbs up for keep coding on and make it up! ;)

[2015-12-28 10:01] mikepenz commented on #116
thanks

[2015-12-28 19:00] drinfernoo commented on #118
https://github.com/drinfernoo/Cuber/blob/master/app/src/main/java/com/blango/cuber/BaseActivity.java, line 83 ;)

[2015-12-28 20:02] mikepenz commented on #118
@drinfernoo just provide to compile your project with AndroidStudio but i can't get it to run. a lot's of issues.

one thing which i saw is that the `MaterialDrawer` import should look like:
[code]

[2015-12-29 14:56] vipheyue opened #122 "Choose your desired fonts this is right"
`compile 'com.mikepenz:foundation-icons-typeface:3.0.0.1@aar'`  !!!!  you write compile `'com.mikepenz:foundation-icons-typeface-typeface:3.0.0.1@aar'`

  this you lost   .--->   `compile 'com.mikepenz:materialize:0.5.1@aar'`

[code]

[2015-12-29 15:49] mikepenz commented on #122
@vipheyue what do you mean?

[2015-12-29 22:16] mikepenz commented on #118
Why have you discommented the iconics library? https://github.com/drinfernoo/Cuber/blob/master/app/build.gradle#L49 without this one it won't have the core

[2015-12-29 22:16] #118 closed

[2015-12-29 22:17] mikepenz commented on #122
I will close this one until enough information was provided

[2015-12-29 22:17] #122 closed

[2016-01-01 01:16] drinfernoo commented on #118
I commented it out with the hope that it was actually having a conflict and that that would fix it, but even with it being included, I can't make the library work. I've given up :)

[2016-01-01 10:23] mikepenz commented on #118
@drinfernoo which development environment are you using? With Android Studio i was not able to get it running.

[2016-01-02 02:00] drinfernoo commented on #118
AIDE, which I know isn't strictly (or leniently) supported, but it does support enums, gradle builds, Maven, etc... I've been able to get every other library to work but this one :/

[2016-01-02 13:09] mikepenz commented on #118
@drinfernoo ok this may describes why i can't compile and run the project. I have the bad feeling that AIDE may causes some strange problems. I had no other reports like this, but as it is not the official development environment it's a bit hard to support.

You can't use Android Studio?

[2016-01-03 15:33] gzlock opened #123 "Wrong icon name"
https://design.google.com/icons/#ic_remove_red_eye
https://design.google.com/icons/#ic_thumbs_up_down

How to find the icon name?

[2016-01-03 15:47] mikepenz commented on #123
@gzlock you include this dependency:
[code]
?

[2016-01-03 15:54] gzlock commented on #123
@mikepenz
Sorry, forgot post this information.
I used Android Studio included
[code]
![image](https://cloud.githubusercontent.com/assets/2311740/12079466/226f5cee-b275-11e5-9aff-c1739e50b048.png)

But the target version is not the 2.1.0.1.original@aar

[2016-01-03 15:55] gzlock commented on #123
The above picture is wrong,I selected this one
![image](https://cloud.githubusercontent.com/assets/2311740/12079477/6db77916-b275-11e5-9c0c-2267e2a38c53.png)

[2016-01-03 15:57] mikepenz commented on #123
@gzlock you include the wrong font.

The material design iconic is this one: http://zavoloklom.github.io/material-design-iconic-font/

You have to use this one:
[code]
The **original** is important.
Don't be confused about the 2.1.x instead of 2.2.x as this comes from a migration i have done. (i used the material iconic as default google material typeface for a few weeks)

https://github.com/mikep

[2016-01-03 18:17] gzlock commented on #123
@mikepenz Yep,that's a font version problem.

I have a new question: How to align text vertically center?
Not just the button view, the text view is like this
android:gravity and android:textAlignment have no effect
![image](https://cloud.githubusercontent.com/assets/2311740/12080004/bd3edf9e-b287-11e5-948f-ef32f8e8f18b.png)

Layout
[code]
String
[code]

[2016-01-03 18:26] mikepenz commented on #123
@gzlock read this please: https://github.com/mikepenz/Android-Iconics/issues/121

[2016-01-03 18:26] #123 closed

[2016-01-04 09:38] vipheyue commented on #122
typeface:3.0.0.1@aar not  -typeface-typeface:3.0.0.1@aar'  in use guide
and  use guide lost a provided  compile 'com.mikepenz:materialize:0.5.1@aar'  .this may make user produce problem

[2016-01-04 12:15] mikepenz commented on #122
@vipheyue ok thanks i modified that one.

Regarding the `compile 'com.mikepenz:materialize:0.5.1@aar'` dependency. This one is no dependency of the **Android-Iconics** library.
The **Materialize** library is the dependency of the `MaterialDrawer` and is automatically added via the `transitive = true`

[code]

[2016-01-04 17:11] localh0rzd opened #124 "Provided default fonts are not recognized"
Hi,

I am trying to add the library to a new project, but am failing at getting it to work inside an AppCompatActivity.

I configured the project accordingly to the README and added all provided fonts to my build.gradle, but nonetheless it does not work for some reason.

Both ```TextView``` and ```IconicsTextView``` print the string as is. The string ```abc{hif-test}defgh{faw-adjust}ijk{fon-test1}

[2016-01-04 17:19] mikepenz commented on #124
@localh0rzd `hif`, and `fon` are just samples from the demo, those are not contained inside the provided font addons.

A list of all font addons can be found here:
https://github.com/mikepenz/Android-Iconics#available-fonts

`faw-adjust` should be found. This is inside the following font addon
[code]

If it does not recognice the font, can you please try to register the font via:
[code]
Shown in t

[2016-01-04 17:36] localh0rzd commented on #124
First off, thank you for your lightning fast answer.

After adding the registerFont() call inside the onCreate() of my Application class, it works. I didn't expect that I have to register the fonts if I use a custom Application class.

Not using ProGuard.

[2016-01-04 17:39] mikepenz commented on #124
@localh0rzd in general it should automatically detect the fonts, but it seems in some cases it can't.
The problem is the `iconics-core` doesn't know about the addons. I would try to detect them via a string ressource which defines the class of the font addon. if this is found i try to init the class.

I will check it again if i can find what's wrong.

If the fonts are used via code this does not h

[2016-01-04 17:48] mikepenz commented on #124
@localh0rzd ok just tried it in the sample. the detection algorithm detects the fonts correctly. Not sure why it may file in your case.

If you could debug into the `Iconics.init(ctx)` (Line 52) method it would be great. Which FONTS does it detect?

[2016-01-04 17:54] localh0rzd commented on #124
@mikepenz The resulting fonts-array in line 54 is empty.

[2016-01-04 17:58] mikepenz commented on #124
@localh0rzd thanks.

Could you also please try what is returned if you call the `getFields(Context ctx)` method on the `GenericsUtil`
https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/utils/GenericsUtil.java#L20

Like:
[code]

[2016-01-04 18:04] localh0rzd commented on #124
Oh, shame on me. I somehow managed to have an applicationId inside my build.gradle, which does not correspond with the package name of the application. Because of this, the generated packages are not found by ```return Class.forName(packageName + ".R$string");```, as the packageName seems to be derived from the gradle file.

I'm sorry for wasting your time. :D

[2016-01-04 18:05] mikepenz commented on #124
@localh0rzd no you don't wasted my time :D. Now i know why in some rare cases people still have to register the font addons :D.

Thank you so much for your time, and for debugging and for finding this case where the `R`-Detection fails.

Thanks

[2016-01-04 18:06] #124 closed

[2016-01-12 11:06] ayublin opened #125 "Not showing on overflow menu"
Is it possible to use the icon on overflow menu item? Here is my menu item:

[code]

Then here is how I assign the icon:

[code]

But the icon won't appear, it works for action bar item though.

Thanks!

[2016-01-12 11:12] mikepenz commented on #125
@ayublin no Android doesn't allow you this. There are some "hacks" which might allow you to show an icon there, but this is not **Android-Iconics** specific

http://stackoverflow.com/questions/18374183/how-to-show-icons-in-overflow-menu-in-actionbar

[2016-01-12 11:12] #125 closed

[2016-01-12 11:21] ayublin commented on #125
Ah, sorry, I didn't aware of this, I just checked and indeed, the project that I saw having icons inside overflow menu has the "hacks" you referenced. Thank you for the blazing quick response!

[2016-01-15 06:51] jeetdholakia opened #126 "Use inside default navigation drawer"
I'm using this library inside the default navigation drawer but there seems no provision to use it as android:icon attribute. How do I use it?

I'm aware you have a material navigation drawer library,but I'd be happy to use this with default nav drawer...

[2016-01-15 07:44] mikepenz commented on #126
@jeetdholakia you can't use them via `xml`. But you can set them programmatically as `Drawable`
https://github.com/mikepenz/Android-Iconics#use-as-drawable

[2016-01-15 07:44] #126 closed

[2016-01-15 17:21] jonathan-caryl opened #127 "Problem with ForegroundColorSpan etc"
If I use `ForegroundColorSpan` or `TextAppearanceSpan` to style some text, then when I use

    LayoutInflaterCompat.setFactory(getLayoutInflater(), new IconicsLayoutInflater(getDelegate()));

I find my styled text becomes unstyled text. I've written a very simple [test app](https://github.com/jonathan-caryl/IconicsTest) that shows the issue.

The problem seems to be down in `IconicsUtils` `findIc

[2016-01-15 20:48] mikepenz commented on #127
@jonathan-caryl i even found that i can use the `ParcelableSpan` which is used by the other spans too. Tested it right now, and seems to work.

Thank you so much for the sample app and the detailed report. A new version will be out soon ;)

[2016-01-15 21:03] #127 closed

[2016-01-18 01:45] tachang opened #128 "Is it possible to use this with official Android support FloatingActionButton?"
http://developer.android.com/reference/android/support/design/widget/FloatingActionButton.html

This is the xml you generally use. Do I put something in android:src ?
I tried android:src="{faw-check}" and a few others but not sure.

[code]

[2016-01-18 01:50] tachang commented on #128
Just adding to this:

[2016-01-18 02:00] tachang commented on #128
If there is an easy way to do this in xml I'd love to know but I did this in code:

[code]

[2016-01-18 07:24] mikepenz commented on #128
@tachang as the `FloatingActionButton` extends from `ImageView` you can set the drawable via xml if you use the `IconicsLayoutInflater` https://github.com/mikepenz/Android-Iconics#3-define-iconicslayoutinflater-to-enable-automatic-xml-icons-detection-optional

Then you can do this:
https://github.com/mikepenz/Android-Iconics#as-imageview-only-available-if-you-follow-step-3-or-inject-the-context

[2016-01-18 07:24] #128 closed

[2016-01-18 09:15] jonathan-caryl commented on #127
Thanks for the quick response!

[2016-01-18 11:10] kumold commented on #115
One example is text comparison like iconicTextView.getText().equals("{faw-adjust}")

[2016-01-18 11:20] mikepenz commented on #115
the thing is that the text will be replaced with the unicode character mapped by the specific font. So there will be no more `{faw-adjust}` inside the text. You may be able to check if the text equals the unicode value defined per icon:
https://github.com/mikepenz/Android-Iconics/blob/develop/fontawesome-typeface-library/src/main/java/com/mikepenz/fontawesome_typeface_library/FontAwesome.java#L192

[2016-01-18 11:20] #115 closed

[2016-01-21 10:59] mikekaraa opened #129 "problem using an icon in an activity or xml file"
Hi please provide straight forward code for using an icon in an activity or xml file?

[2016-01-21 12:18] mikepenz commented on #129
https://github.com/mikepenz/Android-Iconics#3-define-iconicslayoutinflater-to-enable-automatic-xml-icons-detection-optional
https://github.com/mikepenz/Android-Iconics#as-imageview-only-available-if-you-follow-step-3-or-inject-the-context

[2016-01-21 12:18] #129 closed

[2016-01-26 10:19] blipinsk opened #130 "Always getting X instead of an icon"
Hi! I've got an issue with the library...
No matter how I use it (either with `IconicsImageView` or with `IconicsDrawable` with a regular `ImageView`), no matter which icon I wanna display (from which set) I always get an image of an X within a rectangle.

This particular example was achieved with:

    <com.mikepenz.iconics.view.IconicsImageView
        android:layout_width="72dp"
        android

[2016-01-26 10:39] mikepenz commented on #130
@blipinsk does this also happen with the sample app?

[2016-01-26 10:40] blipinsk commented on #130
@mikepenz surprisingly, no.

[2016-01-26 10:44] mikepenz commented on #130
@blipinsk any custom font set for the whole application which may overwrite the icon font? Proguard? Any log outputs which could state that it can't find the font?

[2016-01-26 10:51] blipinsk commented on #130
@mikepenz

 1. No custom font set for the whole application.
 2. Proguard disabled
 3. Nothing in logs...

thats so weird.

[2016-01-26 10:56] blipinsk commented on #130
Might compiling for Java 1.8 be the issue?

    compileOptions {
        sourceCompatibility JavaVersion.VERSION_1_8
        targetCompatibility JavaVersion.VERSION_1_8
    }

[2016-01-26 11:04] mikepenz commented on #130
@blipinsk weird enough. i can test with java 1.8 if it changes something

[2016-01-26 11:06] blipinsk commented on #130
GoogleMaterial.java:108 throws an exception: `java.lang.RuntimeException: Font asset not found fonts/google-material-font-v2.1.0.1.ttf"

[2016-01-26 11:10] mikepenz commented on #130
You use Android Studio with default build?

[2016-01-26 11:13] blipinsk commented on #130
@mikepenz Ok, I found the issue. I am using some fonts in my app. They are stored in `assets/Fonts` (with a capital `F`). As I found out looking through the `/build`, the `google-material-font-v2.1.0.1.ttf` has been put inside my `Fonts` directory instead of `fonts` directory. And your library is expecting the font to be in `fonts/google-material-font-v2.1.0.1.ttf` and not in `Fonts/google-materia

[2016-01-26 11:16] mikepenz commented on #130
@blipinsk ok to be honest i would have never guessed somthing like that.
Interesting enough that the build does not fail or notify about conflicting folders. Upper/Lower-case things are always bad. :/

Thanks for the detailed info. I hope it helps others in the future.

[2016-01-26 11:16] #130 closed

[2016-01-26 11:18] blipinsk commented on #130
Thanks for help anyways!

[2016-01-27 15:43] sytolk opened #131 "for Maven users wrong dependency"
I have maven project (instead of gradle) but google-material-typeface package its have wrong dependency to Group:Android-Iconics and artifact:library-core you can check here in Compile Dependencies:
http://mvnrepository.com/artifact/com.mikepenz/google-material-typeface/2.2.0.1
Maybe its obsolete I have include the new one Group:com.mikepenz artifact: iconics-core
 Its need to exclude it in my pom

[2016-01-27 18:50] mikepenz commented on #131
@sytolk sorry i can't support anything else than the default build tools and setup from Android. The `pom.xml` you linked above is automatically generated by the gradle build and not managed on my side.

If you have s olution how this can be changed let me know.

Sorry for this.

[2016-01-28 06:42] azizimusa opened #132 "mistake"

[2016-01-28 06:43] #132 closed

[2016-01-28 09:42] sytolk commented on #131
Maybe its have some wrong in gradle-mvn-push.gradle this:
[code]
for the dependency this parameters is wrong replaced for the GROUP with Project name `Android-Iconics` instead of defined in gradle.properties `GROUP=com.mikepenz` and POM_ARTIFACT_ID with module name `library-core` instead of `POM_ARTIFACT_ID=iconics-core`

I dont know what is wrong with gradle build but only solution that I have is

[2016-01-28 10:02] sytolk commented on #131
the same thing for `material-design-iconic-typeface` all libraries
[code]
have wrong dependency to groupId = Project Name artifactId=module name
[code]

[2016-01-28 17:20] sytolk opened #133 "strange problem"
I have try to switch from Iconify (XML icons is missing) but in this library Icons not displayed in API16 this is the screenshot with emulator API 23 icons displayed but:
1. the black icon in the menu with app:showAsAction="always" is created prorgammatically in onCreateOptionsMenu:
[code]
The icon is gmd_3d_rotation but it is displayed unknown icon. Only the color is the same BLACK.

2.The button

[2016-01-28 17:33] mikepenz commented on #133
what are your dependencies? do you have a custom applicationId set? do you use proguard?
Do you have any log output?

[2016-01-28 17:45] sytolk commented on #133
this is my dependencies
[code]
I dont have applicationId only package name in my manifest. I have in my proguard.cnf
[code]
but I have test to run without proguard and the result is the same.

In log its have only:
01-28 16:28:35.803  30034-30034/com.opentaxi.android E/a﹕ Wrong icon name: gmd_ac_unit

[2016-01-28 17:54] sytolk commented on #133
Actually I cant run my application without proguard its have many methods:
Error:Android Dex: [TaxiAndroidOpen] com.android.dex.DexIndexOverflowException: method ID not in [0, 0xffff]: 65536

[2016-01-28 20:03] ayublin commented on #128
I have followed the instruction and able to show an Icon in the form of `ImageView`, but somehow I can't get it to work on FAB:

    <android.support.design.widget.FloatingActionButton
    	android:id="@+id/fab"
    	android:layout_width="wrap_content"
    	android:layout_height="wrap_content"
    	android:layout_gravity="bottom|end"
    	android:layout_margin="@dimen/fab_margin"
    	app:ico_colo

[2016-01-28 22:59] mikepenz commented on #128
@ayublin i already used it with the official FAB as it extends from `ImageView`. So i can confirm it is compatible.

I never saw the message you get in the log. Interesting :O

[2016-01-28 23:01] mikepenz commented on #133
@sytolk if it can not automatically detect the font, just register it before first usage (or within the Application)

https://github.com/mikepenz/Android-Iconics/blob/develop/app/src/main/java/com/mikepenz/iconics/sample/CustomApplication.java#L17

So it will be `Iconics.registerFont(new GoogleMaterial())`

[2016-01-29 10:55] sytolk commented on #133
I have add it but its not change anything

[2016-01-29 11:00] sytolk commented on #130
The same problem https://github.com/mikepenz/Android-Iconics/issues/133 but I don`t have assets/fonts :)

[2016-01-29 11:20] sytolk commented on #133
The problem is in my maven project it not copy assets if I copy fonts/material.design.ttf in my project assets dir and icons appears.. only Button dont have icon in text
[code]
but it not exist in GoogleMaterial.java
and in log its have: Wrong icon name: gmd_ac_unit

[2016-01-29 11:20] #133 closed

[2016-01-29 15:34] sytolk opened #134 "mising icon"
I have in sample app gmd_bug_report icon but its missing in code
google-material-typeface v. 2.2.0.1
[code]
gmd_exit_to_app is missing too

[2016-01-29 18:45] mikepenz commented on #133
@sytolk I do not know sorry. As i use the gradle build system from Android I can only can support and test the official one.

As of your `pom.xml` you use the wrong dependency. The correct one for the `GoogleMaterial` font is the following:

`compile 'com.mikepenz:google-material-typeface:2.1.0.1.original@aar' `

[2016-01-29 18:48] mikepenz commented on #134
@sytolk as written in the other thread you mix up two font addons.

You want to use the following:
`compile 'com.mikepenz:google-material-typeface:2.1.0.1.original@aar'`

[2016-01-29 18:48] #134 closed

[2016-01-29 19:13] jdsingh opened #135 "What is the min sdk version this library supports?"
What is the min sdk version this library supports?

[2016-01-29 19:20] mikepenz commented on #135
https://github.com/mikepenz/Android-Iconics/blob/develop/build.gradle#L18

[2016-01-29 19:20] #135 closed

[2016-01-30 21:39] mikepenz commented on #131
@sytolk i just double checked again. the `gradle-mvn-push.gradle` uses the original `maven` plugin from gradle. and the pom's are auto generated. seems there may be some problems with the maven plugin.

perhaps jcenter will have different poms. have to try it

[2016-01-30 22:19] #131 closed

[2016-01-31 20:50] carstenbaumhoegger opened #136 "Wrong fontId when switching flavours"
Hi Mike!
I'm using your lib in an App that has various flavours with different applicationIds.
I implemented the lib and everything worked fine. But when I switch the flavour, no icon get's shown and I get "Wrong fontId" for every icon in the log.
When I switch back to the first flavour everything works fine again.
I did clean builds to make sure this isn't the problem but that has no effect.

Do

[2016-01-31 20:58] mikepenz commented on #136
@carstenbaumhoegger

Seems like the auto addon resolver can't find the `R` class when you switch your applicationIds, The easiest solution is that you just `register` your font's programmatically. So the `Iconics` class can resolve the font.

https://github.com/mikepenz/Android-Iconics/blob/develop/app/src/main/java/com/mikepenz/iconics/sample/CustomApplication.java#L17

for `GoogleMaterial` this

[2016-01-31 20:58] #136 closed

[2016-01-31 21:03] carstenbaumhoegger commented on #136
thanks for this super fast response, solved it!

[2016-01-31 21:06] mikepenz commented on #136
Great ;)

[2016-02-02 13:13] theblitz opened #137 "Missing icons"
It seems that some of the icons that appear here no longer appear in the newest version of Google Material Icons - 'com.mikepenz:google-material-typeface:2.2.0.1@aar'
They do exist in the older version.

For example, the "person" icons.

[2016-02-02 13:28] mikepenz commented on #137
@theblitz you do not use the `GoogleMaterial` font but the `Material Design Iconic` font. I had to rename those because of confusion. So the original `GoogleMaterial` is the following:

[code]

[2016-02-02 13:28] #137 closed

[2016-02-02 14:22] Rainer-Lang commented on #137
@theblitz I like to use the community icons. There are many (maybe all) of the original Google icons included.

[2016-02-03 09:41] theblitz commented on #137
Is there any reason not to include more than one of the icon libraries? Will it make the app a lot bigger?
None of them seem to have all the icons I want.

[2016-02-03 09:47] mikepenz commented on #137
@theblitz the size depends on the font. the icon font with the most icons is the `community material design icons` with 188kb
https://github.com/mikepenz/Android-Iconics/blob/develop/community-material-typeface-library/src/main/assets/fonts/materialdesignicons-v1.3.41.ttf

So it depends

[2016-02-03 10:05] Rainer-Lang commented on #137
@theblitz You can create your own font with only icons inside which you really use. Mike has a link in the readme about this.

[2016-02-05 05:39] dongseok0 opened #138 "Support spin?"
Hi,

Is it supporting spin?
( https://github.com/JoanZapata/android-iconify#icon-options )

[2016-02-05 12:38] Ramfat opened #139 "Does Iconics support settings using the { icon-definer } syntax"
Hi.
When using the  { icon-definer } syntax is it possible to set parameters for the icon? I.e "{faw-code #FFAB3D}"?

[2016-02-06 06:28] Debjyotinath opened #140 "How to use vector images in the application."
Hi Mike,
As it is mentioned that we can use vector/.svg to change color,size etc, i cant find any way to include my vector drawable with Iconics.
So which method and which class should i use to pass the Vector drawable to get the job done

Please help me with this.

[2016-02-06 09:05] mikepenz commented on #140
As this library works with Icon fonts you simply create a custom font which contains your vector icons and use this one. In many cases this is already done by the design team because icon fonts are used in the web also.

if you do not have the icon font, you may consider using the Android Studio built in SVG support which will create drawables for older android versions

https://github.com/mikepen

[2016-02-06 09:05] #140 closed

[2016-02-06 09:10] mikepenz commented on #139
@Ramfat I understand that you may have seen this in a similar library. But I do not want to copy the other libs featue, even if it would be useful in some cases.

[2016-02-06 09:11] #139 closed

[2016-02-06 09:16] mikepenz commented on #138
@dongseok0  I understand that you may have seen this in a similar library. But I do not want to copy the other libs featue, even if it would be useful in some cases.

Sorry for this. I hope you understand it.

[2016-02-06 09:16] #138 closed

[2016-02-06 19:54] Rainer-Lang commented on #138
@mikepenz Maybe as a feature for a future release? What would be also useful, if there would be some animations.... :)

[2016-02-07 08:58] dongseok0 commented on #138
Yeah, I think it's not copying other libs feature. It's feature of FontAwesome.
Anyways, thanks!

[2016-02-10 07:20] MFlisar opened #141 "XML + Menus"
How to use it with menus defined in xml? I want to replace a `android:icon="..."` menu tag with one that uses your library...

Is it only possible to set menu icons manually in code?

[2016-02-10 10:33] josmanperez commented on #141
@MFlisar  this can't be done. Menu does not extend from `TextView `or `ImageView`. See this for reference:
[https://github.com/mikepenz/Android-Iconics/issues/119](url)

[2016-02-11 07:06] MFlisar commented on #141
Thanks. Wouldn't it be possible to make a custom `MenuInflater` for that?

[2016-02-11 08:19] josmanperez commented on #141
@MFlisar yes, but you have to do it programmatically. What you have to do is, in the activity or fragment retrieve the navigation View that you are implementing and then get the menu and then the menuItem and finally you can set up your icon as a `drawable ` [https://github.com/mikepenz/Android-Iconics#use-as-drawable](url)

Something like this:

`Menu menuNav = navigationView.getMenu();
MenuItem

[2016-02-11 08:22] MFlisar commented on #141
Thanks, that's no problem, it's just a thing you have to do when converting your project... What I'm currently doing though...

[2016-02-11 08:23] josmanperez commented on #141
Glad it helps :)

[2016-02-12 17:03] MFlisar opened #142 "Wrong position - how to correctly replace default google icons"
I tried to replace the original `gmd_play_arrow` icon with the one from this library... Setting the original icon was working perfectly (it's centered), using this library I have to manually adjust the position...

I use the play button in two places, once in a custom view and once in a floating action button:

**Custom View**

    Drawable d = ContextCompat.getDrawable(getContext(), R.drawable.ic

[2016-02-12 17:26] mikepenz commented on #142
@MFlisar the icons use the positioning defined in the font. If this is wrong in the font provided by Google it will also be the same inside the app.

Hmmmm ok i just messured the distanced from the arrow on the right, and it is exactly in the center. The simbol is just bigger so it seems it is off the center but that coms automatically because this is a triangle xD The only thing you have to do is

[2016-02-12 17:43] MFlisar commented on #142
**Size**

I have no tool to measure at home, but calculating with the pixels shown in my drawing program I see following relations (vertical center of arrow):

Left:
* Space left of arrow in circle: 67px
* arrow width: 60px
* space right of arrow in cirle: 49px

Right:
* Space left of arrow in circle: 100px
* arrow width: 97px
* space right of arrow in cirle: 40px

So the ratio of left : width : r

[2016-02-12 17:50] mikepenz commented on #142
@MFlisar that can't be true. I can say by eye that on the right the space from the arrow to the end of the dark circle is not twice as much on the right. (the red rectangles are both the same width)
![9c4b9666-d1b2-11e5-9edd-cab378ae9240](https://cloud.githubusercontent.com/assets/1476232/13015449/633240b2-d1b9-11e5-8c58-7e212157a238.jpg)

First you should change the `ScaleType` of that FAB to not

[2016-02-12 17:52] MFlisar commented on #142
You missunderstood... You have to compare left with right... The right side is your library and there the triangle is centered (from a object point of view)...

[2016-02-12 17:54] mikepenz commented on #142
@MFlisar hmmm ok then I don't understand the issue. As shown in my image the triangle is centered exactly. It only has a different size than on the right. And the size can be changed by defining the correct size and changing the `ScaleType` to one which does not scale up the image

[2016-02-12 17:58] MFlisar commented on #142
The problem is that the original icon is NOT centered exactly... But as you said, that's probably because it's wrong in the font (compared to the original icon)

The tipp with the `ScaleType` worked...

[2016-02-12 18:01] mikepenz commented on #142
@MFlisar ok now we come closer. The font is correct then. The font has all icons perfectly centered. It does not contain the different paddings the **png**'s from Google contain. You can adjust the `IconicsDrawable` to get it pixel perfect too, but this can't be done on the library side. There is no rule how Google positioned the drawables. Sorry that it took me so long to see the issue.

ok great

[2016-02-12 18:01] #142 closed

[2016-02-12 18:04] mikepenz commented on #141
@MFlisar theoretically it would be possible to have a custom `ManuInflater` allwing this. The problem is that the `MenuInflater` is not as extensible as the `SupportLayoutInflater` is. That means I would have to copy and paste all classes from the android source code, which has a few bad side effects. If Google updates something we will miss this. I tried it once to `extend` the `MenuInflater` but

[2016-02-12 18:04] mikepenz commented on #141
@josmanperez thanks for answering

[2016-02-12 18:04] #141 closed

[2016-02-12 18:06] MFlisar commented on #142
Ok thanks, good to know that the font does center all icons and google does have variable positions...

[2016-02-12 18:08] mikepenz commented on #142
@MFlisar yeah it is really hard. But in most cases i still prefer the centered once. You can still adjust the positioning pixelperfect via the `IconicsDrawable` without loosing the always scaling properties ;)

[2016-02-13 12:06] 7ShaYaN7 commented on #130
#927 as well.

[2016-02-13 18:24] AngleV opened #143 "FloatingActionButton icon size too small"
Hi mike

I m using your lib to place an icon on a FloatingActionButton like this
[code]
but the icon is too small.. even when i increase the sizeDp value.

the xml of fab has layout width and height set to 30dp.

[2016-02-13 19:14] mikepenz commented on #143
@AngleV do you have the correct `scaleType` for your FAB? Do you have defined any padding? If you define the size of the `IconicsDrawable` to **16dp** the drawable itself will be that size. But that must not mean that the `ImageView` will display it exactly like this if you have defined a `scaleType` or if there is any padding on that view

[2016-02-13 19:39] AngleV commented on #143
@mikepenz

this is my fab's layout

[code]

[2016-02-13 19:40] mikepenz commented on #143
@AngleV could you please also add a screenshot. seems fine. should exactly display as **16dp** then.

[2016-02-13 19:43] AngleV commented on #143
set it to SizeDp(32) and i get this

![screenshot_2016-02-13-21-41-21-1](https://cloud.githubusercontent.com/assets/7430985/13029652/c6fb6344-d29a-11e5-94e5-51e8e2e1c5ef.png)

[2016-02-13 19:51] Rainer-Lang commented on #143
I'm not sure, but from reading the docu http://developer.android.com/intl/es/reference/android/support/design/widget/FloatingActionButton.html
```Floating action buttons come in two sizes: the default and the mini. The size can be controlled with the fabSize attribute.```
There are "only" 2 sizes possible.

And for my understanding the original fab has always a padding. Maybe this could be your "p

[2016-02-13 19:57] AngleV commented on #143
@Rainer-Lang

i tried to padding="0dp"

didn't work :(

[2016-02-13 20:02] #143 closed

[2016-02-13 20:03] mikepenz commented on #143
@AngleV great ;).

@Rainer-Lang thanks for helping ;)

[2016-02-13 20:07] Rainer-Lang commented on #143
@AngleV Could you try one of the "normal" sizes?

[2016-02-13 20:13] AngleV commented on #143
well
it does not work as it should be after all.

even at mini or normal size the size of icon is fixed and not take account the sizedp value

[2016-02-13 20:17] Rainer-Lang commented on #143
Did you also try something like ```app:ico_padding="4dp"```?

[2016-02-13 20:17] mikepenz commented on #143
@AngleV as mentioned above. That's the behavior of the FAB (of the ImageView) and the `Drawable` can't do anything against this.

[2016-02-13 20:18] Rainer-Lang commented on #143
@AngleV "Bigger" was for me a problem, but I wanted the icon inside the fab smaller - and this helped me.

[2016-02-13 20:21] AngleV commented on #143
@Rainer-Lang
right now i got the same problem..The icon inside fab is huge. i set app:ico_padding="4dp" as you mentioned but no luck

[2016-02-13 20:32] Rainer-Lang commented on #143
@AngleV This is my fab - and it has a small "+"-icon:
[code]

[2016-02-15 06:53] yaserseyedi opened #144 "Iconic Image view set setColorRes()"
When I set ColorRes for `IconicsImageView` the color does not apply
[code]

Even if I set iiv_color on the xml or not

[2016-02-15 07:15] mikepenz commented on #144
@yaserseyedi your `IconicsImageView` has an `IconicsDrawable` set?
https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/view/IconicsImageView.java#L165

[2016-02-15 07:37] yaserseyedi commented on #144
yes it is

[2016-02-15 14:18] kuno opened #145 "Iconics with android SpannableString"
hi

Dose any one know it is possible to use Iconics with Android [SpannableString](http://developer.android.com/reference/android/text/SpannableString.html)  directly ?

It seems once I enabled Iconics in an activity, then `SpannableString` dose not work any more ...

[2016-02-15 17:12] mikepenz commented on #145
@kuno you can directly use the API if you want:

https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/Iconics.java#L139

Can you be a bit more specific why `SpannableString` does not work?

[2016-02-15 23:27] kuno commented on #145
@mikepenz

Thanks for you reply.

So you seems suggestion, if I have a `SpannableString` in an activity, then I can not enable `Iconics` in the level of whole activity, like [readme](https://github.com/mikepenz/Android-Iconics#3-define-iconicslayoutinflater-to-enable-automatic-xml-icons-detection-optional) said.

The only way to do it is to render text specifically by directly Using the api.

Am I

[2016-02-15 23:31] kuno commented on #145
The problem in my case was once I enable `Iconics` in an activity by doing [this](https://github.com/mikepenz/Android-Iconics#3-define-iconicslayoutinflater-to-enable-automatic-xml-icons-detection-optional) in `onCreate` method.

Then the normal `ClickableSpan` dose not work anymore. It do not render text correctly, and nor response to user clicking.

[2016-02-16 07:05] mikepenz commented on #145
@kuno with the current version I remember all `ParcableSpan`s and reapply them afterwards. May I can change it to `CharacterStyle` as the `ClickableSpan` directly extends the `CharacterStyle` interface

https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/utils/IconicsUtils.java#L37

[2016-02-17 15:27] kuno commented on #145
@mikepenz

So you plan to fix this in future release ?

Another off-topic question: how to use `Iconics` in an adapter ?

[2016-02-21 21:31] fmeneuhe opened #146 "New getters for IconicsDrawable"
Hi Mike,
Can you add these new getters for IconicsDrawable.java?
I tried to do a pull request of the file but I do not how to do it. Here is the code to add:

[code]

Thanks

[2016-02-22 20:19] #146 closed

[2016-02-22 21:00] mikepenz commented on #145
@kuno can you please try it again with v2.5.7?

[2016-02-22 21:00] #145 closed

[2016-02-22 21:01] mikepenz commented on #144
@yaserseyedi  can you please try it again with v2.5.7? Sorry for the late answer. I was pretty busy the last few days

[2016-02-22 21:01] #144 closed

[2016-02-23 02:26] dominicsavb opened #148 "android-iconics at edittext"
is it possible to use android-iconics at edittext as drawableleft? how to use it?

Thank you

[2016-02-23 07:14] mikepenz commented on #148
@dominicsavb you can use the `IconicsDrawable` everwhere, where it's possible to set a `Drawable`.
In this case you have to do it programatically.

Something like this. http://stackoverflow.com/a/33724768/325479

[2016-02-23 07:14] #148 closed

[2016-02-26 10:14] pperliti opened #149 "App crashes"
Hi,
my app has a single activity and many fragments. I use MaterialDrawer and Android-Iconics.
My /res/values/strings.xml contains many {faw-...} strings:

[code]
I use these strings within an Adapter's view inside a RecyclerView:

[code]

At the very beginning of the main Activity I do:

[code]

On my Android 4.1/4.4 I'm experiencing frequent app crashes that suddenly disappear when I comment/rem

[2016-02-27 15:11] kuno commented on #145
@mikepenz

Thanks, the `v2.5.8` release did solve  my problems.

[2016-02-27 15:13] mikepenz commented on #145
great :)

[2016-02-27 15:15] mikepenz commented on #149
@pperliti just checked the error logs. They are really weird. They show no reference to the `Android-Iconics` library.

Do you have any special `Spannable`s set on your text, or anything else? I never experienced such issues before, and I also use the `Iconics` a lot

[2016-02-27 15:16] mikepenz commented on #149
@pperliti I know it may not already be the solution, but what if you would have the icon as a separate `IconicsImageView` prior to the `TextView`? Would give you more flexibility and you would not have to use the `IconicsLayoutInflater`

[2016-02-27 15:30] pperliti commented on #149
Hi Mike,
I don't have any `Spannable` in my code. Instead I have simple `TextView`s (in my fragments): I'm just setting their text value with `getString(R.string.label_generic_list_item_location, parameter)` where `R.string.label_generic_list_item_location, parameter` refers to `<string name="label_generic_list_item_location">{faw-hospital-o} %s</string>` in my `strings.xml` and `parameter` it's a

[2016-02-29 02:10] jiqimaogou opened #150 "Can you support TextView drawableLeft drawableRight ... attributes?"

[2016-02-29 07:22] mikepenz commented on #150
@jiqimaogou you can do this programmatically and just set the drawable
http://stackoverflow.com/a/4502650/325479

[2016-02-29 18:03] mikepenz commented on #149
@pperliti ok just debugged it via the sample. The issue is that if you use the automatic detecing of fonts within a `RecyclerView` that it reuses the fields and this causes an inconsistent state as it switches out everything very fast.
To be able to automatically also replace the placeholders with an icon if you set the text, the `IconicsFactory` registers an `addTextChangedListener` which will fi

[2016-02-29 18:03] #149 closed

[2016-02-29 21:09] TheAndroidMaster commented on #142
@MFlisar a way to solve this would be to use the following settings on the icon:
sizeDp - 56
paddingDp - 8
iconOffsetXDp - 4

The problem with the icon is that it's centered by the sides of the icon and doesn't take into account the actual proportions. Since more of the icon is to the left of it's actual center, it makes it look like the center is slightly to the left of where it really is. The of

[2016-02-29 22:37] mikepenz commented on #142
@TheAndroidMaster could you please add some images to show the acutal issue?

[2016-02-29 22:40] TheAndroidMaster commented on #142
@mikepenz take a look at [this](https://medium.com/@erqiudao/the-play-button-is-not-optical-alignment-4cea11bda175#.70spgjyeg), it might help ;)

[2016-03-01 06:44] pperliti commented on #149
Thank you

[2016-03-01 11:02] AngleV commented on #96
Hi @mikepenz
an example of a StateListDrawable that animates when user release the Drawable would be nice.

[2016-03-01 11:09] mikepenz commented on #96
@AngleV I am currently not sure, but I remember that this is just a setting on the `StateListDrawable`

[2016-03-01 12:03] AngleV commented on #96
its possible with StateListAnimator but its only available for android > 21

[2016-03-03 05:13] jiqimaogou commented on #150
hard code in View is ugly, I wish to set it in the layout.xml.

[2016-03-03 08:48] emojahedi opened #151 "RoundedCorner color"
Hi,
How roundedCorner color can be changed. by default it is black.
Thanks

[2016-03-03 10:15] mikepenz commented on #151
@emojahedi could you please add a screenshot? In general the rounded corners are transparent. Are you sure your views background is transparent too?

[2016-03-03 18:39] mikepenz commented on #142
@TheAndroidMaster yeah this would be awesome, but I am afraid this is not possible. I do not know of a solution (and I did not find one) how to calculate the arc center point of a path i paint on a canvas.

If you or someone else knows how to do it. Please open a pull request ;)

[2016-03-04 11:03] KorDum opened #152 "Missing GMD icons in 2.2.0.1"
For example gmd_forum, gmd_send. Where the icons are gone?
Icons were in com.mikepenz:material-design-iconic-typeface:2.1.0.1

[2016-03-04 11:07] KorDum commented on #152
Oh sorry,
compile 'com.mikepenz:google-material-typeface:2.2.0.1.original@aar'
instead
compile 'com.mikepenz:material-design-iconic-typeface:2.2.0.1@aar'

[2016-03-04 11:07] #152 closed

[2016-03-07 18:09] theblitz opened #153 "Is it possible to surround an icon with a circle?"
Is it possible to surround an icon with a circle without having to use a background drawable?

[2016-03-07 18:33] mikepenz commented on #153
@theblitz you can define a background and it's color and then you can define the radius of the corners. If you take width of the drawable / 2 it will be a circle

[2016-03-07 19:14] mikepenz commented on #153
https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/IconicsDrawable.java#L645

https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/IconicsDrawable.java#L543

[2016-03-07 19:14] #153 closed

[2016-03-07 19:41] raizal opened #154 "set text {icon} in TextView or Button on runtime"
Is it possible to do it?
Or is there any alternative way to do it?

[2016-03-07 19:42] theblitz commented on #153
Won't that give me a solid background rather than a circle around it?

[2016-03-07 19:43] #154 closed

[2016-03-07 19:47] mikepenz commented on #153
@theblitz oh well. Seems i misunderstood your initial question.
I'm afraid just a circle is not possible. You can either add a border to the icon itself, have a solid background. change the corner radius of the background, but not border for the background.

sorry.

for this you will need a background drawable or whatever is fine for you

[2016-03-07 20:10] theblitz commented on #153
NP.
I think I'll just go for the background drawable.

Many thanks.

[2016-03-07 20:13] mikepenz commented on #153
Thanks ;)

[2016-03-08 16:24] mikepenz commented on #151
Please report back.

I will close this until additional information was provided. Thanks.

[2016-03-08 16:24] #151 closed

[2016-03-08 16:55] emojahedi commented on #151
Hi,
Please excume me, I got really busy and totally forgot this.
This is the screent shot
![screenshot_2016-03-08-20-11-30](https://cloud.githubusercontent.com/assets/6801549/13608816/a422ca4a-e56b-11e5-897a-d4eb94dea07d.png)

The code I used to produce this black round corner is:
 ` new IconicsDrawable(mContext)
                        .icon(GoogleMaterial.Icon.gmd_toc)
                        .r

[2016-03-08 17:01] mikepenz commented on #151
@emojahedi you define a your rounded corner as 50dp whereas your icon only has an size of 20dp. That won't work.
The max corner radius which would change something would be 10dp (size / 2)
What's your desired result?

[2016-03-08 17:10] emojahedi commented on #151
Oops, I totally got the point wrong, I thought it is something like a circle which surrounds the main icon.

[2016-03-08 19:31] mikepenz commented on #151
@emojahedi oh ok. There is no function included to draw a circle around your icon. sorry

[2016-03-08 19:38] mikepenz commented on #150
@jiqimaogou just checked again. Doesn't really make sense to add so much overhead into the library for this rare case. I really recommend that you simply set it via code.

[2016-03-08 19:38] #150 closed

[2016-03-16 00:35] Templarian commented on #137
Just because I see traffic coming from this GitHub issue I want to point out that starting from v1.5.54 all the optimized SVG's can be downloaded at the page below. This should make the process of creating subsets easier ([icomoon](https://icomoon.io/) / [grunt-webfont](https://github.com/sapegin/grunt-webfont)), until this feature is offered on the site.

https://materialdesignicons.com/design

[2016-03-17 16:07] fmeneuhe opened #155 "Crash"
Hi,
I got this crash:

[code]

I think its releated with Material Iconicis lib, but not 100% sure.

[2016-03-17 16:30] mikepenz commented on #155
@fmeneuhe how did you get this crash?

[2016-03-17 17:47] fmeneuhe commented on #155
To be honest I do not know, it crashed in ome of my users and it has been reported authomatically. I will try to ask the user.

[2016-03-17 17:59] mikepenz commented on #155
@fmeneuhe ok thanks. In addition it is also important which version you used and which elements of the Android-Iconics you use

[2016-03-17 18:03] fmeneuhe commented on #155
I use these versions and fonts:

    compile 'com.mikepenz:iconics-core:2.5.8@aar'

    compile 'com.mikepenz:google-material-typeface:2.1.0.1.original@aar'
    compile 'com.mikepenz:fontawesome-typeface:4.5.0.1@aar'
    compile 'com.mikepenz:community-material-typeface:1.3.41.1@aar'
    compile 'com.mikepenz:ionicons-typeface:2.0.1.1@aar'

[2016-03-17 18:11] mikepenz commented on #155
@fmeneuhe not sure what really happens but seems to be a platform issue.

[code]

the app crashed with the above code

[2016-03-17 18:20] #155 closed

[2016-03-21 03:22] JesseBlackman opened #156 "All IconicsImageView trigger the background style At the same time"
I put three IconicsImageView in one RelativeLayout,each IconicsImageView has background:btn_feed_action.Click one ImageView,all three ImageView trigger the background style.
here is code:
layout.xml:

            <com.mikepenz.iconics.view.IconicsImageView
                android:id="@+id/cv_actions_favorite"
                android:padding="8dp"
                android:layout_width="36dp"

[2016-03-21 03:27] JesseBlackman commented on #156
Sorry, I should use IconicsButton.

[2016-03-21 03:27] #156 closed

[2016-03-31 16:12] AngleV opened #157 "set Drawable Top Left"
Hi @mikepenz

I got an IconicDrawable and i placed inside a multiline TextView

[code]
The problem is that the drawable is center vertically and i can't figure out how to position it at top left corner of textview.

got any idea ?

[2016-03-31 16:26] AngleV commented on #157
it seems that iconOffsetYDp does the job !!!!

[2016-03-31 17:06] mikepenz commented on #157
@AngleV the `IconicsDrawable` reacts as a normal `Drawable` would. I assume in this case it's easier to have an `ImageView` on the left of the `TextView`

[2016-03-31 17:11] AngleV commented on #157
@mikepenz

Yes the solution you propose is an idea that would work. But i want to avoid extra nested linearlayouts inside my whole layout.

However an extra method to redirect the draw like below would be perfect.
Take a look

[code]

[2016-03-31 17:14] mikepenz commented on #157
You could extend the `IconicsDrawable` and overwrite the `draw` method for your case

[2016-03-31 17:16] AngleV commented on #157
This is what im doing right now :)

Thanks Mike

[2016-03-31 17:16] #157 closed

[2016-03-31 17:17] mikepenz commented on #157
@AngleV thanks for adding your solution to the issue so someone else can reuse it if he gets the same issue

[2016-03-31 17:18] AngleV commented on #157
no prob mate !!!  :+1:

[2016-04-01 10:24] osiloke opened #158 "v2.5.10 published aar does not contain IconicsLayoutInflater"
Some classes used in this repo are not available in the published library.

[2016-04-01 10:34] mikepenz commented on #158
@osiloke which dependency do you use?

[2016-04-01 10:36] mikepenz commented on #158
@osiloke just checked out the sources. It is definitly in:
http://central.maven.org/maven2/com/mikepenz/iconics-core/2.5.10/

[2016-04-01 11:15] osiloke commented on #158
i'm using compile 'com.mikepenz:iconics-core:2.5.10 @aar', not sure why but it can't find IconicsLayoutInflater and some other classes. I included the git repos instead. This may just have something to do with my project so i'm closing this.
Thanks

[2016-04-01 11:15] #158 closed

[2016-04-01 11:16] mikepenz commented on #158
@osiloke weird. the dependency seems fine. Do you have other libs which may refer to an old version of the `Android-Iconics` ?

[2016-04-01 12:04] osiloke commented on #158
none that i know off. I'll just use the repo library until i figure this out.

These are my dependencies anyway
[code]

[2016-04-01 12:05] mikepenz commented on #158
@osiloke ok none of them should contain it

[2016-04-01 14:34] osiloke commented on #158
Yep, if i figure this out i'll post what happened :)

[2016-04-07 05:39] rakesh1988 opened #159 "Using icons in TextInputLayout"
Hi,
Firstly, thanks a lot for creating this wonderful package. I am trying to add an icon with TextInputLayout. in the onCreate method i have initialised as per step 3 of readme

LayoutInflaterCompat.setFactory(getLayoutInflater(), new IconicsLayoutInflater(getDelegate()));
then in my XML I use

[code]

Can you please let me know what I am missing.

Cheers!!!

[2016-04-07 06:41] mikepenz commented on #159
@rakesh1988 it can't automatically replace an icon in a hint. This is only possible for text. You might have to manually set the `Spanable` you can generate via the `Iconics` class

[2016-04-07 06:42] mikepenz commented on #159
https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/Iconics.java#L139
https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/Iconics.java#L177

[2016-04-07 10:13] rakesh1988 commented on #159
Thanks or the input.

[2016-04-07 10:15] #159 closed

[2016-04-10 12:25] MarkOSullivan94 opened #160 "IconicsImageView from XML layout not loading in app"
Hi Mike,

I've been trying to use your icons within my XML layouts. The icons work fine whenever I use them programmatically however they're not appearing in XML layouts. I've tried looking at the follow issues to see if there was a solution and none of them helped me in my case: https://github.com/mikepenz/Android-Iconics/issues/67 and https://github.com/mikepenz/Android-Iconics/issues/74

[code]

[2016-04-10 13:16] mikepenz commented on #160
@MarkOSullivan94 any log output?

[2016-04-10 14:13] MarkOSullivan94 commented on #160
@mikepenz  no log output

[2016-04-10 17:05] mikepenz commented on #160
@MarkOSullivan94 it is also not working in debug so I assume proguard is not the issue here.
Have you tried to also set a color? Or a size?

Could it be that you have defined a different `applicationId` in your manifest? This causes the font auto detection to fail, and then you have to register your font as shown here:
https://github.com/mikepenz/Android-Iconics/issues/67#issuecomment-134345018

A

[2016-04-10 21:28] MarkOSullivan94 commented on #160
@mikepenz I've tried inserting the code ( https://github.com/mikepenz/Android-Iconics/issues/67#issuecomment-134345018 )into my MainActivity which is where I was assuming it has to go, however I'm trying to display it within a card view within a recyclerView.

This didn't solve this issue so I took it out.

[2016-04-10 21:29] mikepenz commented on #160
@MarkOSullivan94 no it should be in the `Application` as shown in the sample app. Or at least before inflating the first `IconicsImageView` in the `Activity` which will contain this view it is already too late

[2016-04-10 22:34] MarkOSullivan94 commented on #160
@mikepenz I can't see where the CustomApplication class has been used in your sample application. I tried creating it anyway to see what would happen and I added it into the AndroidManifest.xml file and still nothing has changed.

I tried using that code within my Main Activity before doing anything else within the onCreate() method, so it would be before inflating the first `IconicsImageView` whi

[2016-04-11 06:06] mikepenz commented on #160
@MarkOSullivan94 ok if none of the above helped. Can you provide a small sample showcasing the issue so I can have a deeper look?

[2016-04-11 15:00] MarkOSullivan94 commented on #160
@mikepenz made a template project for your library which shows the issue. The template will be useful for me setting up your navigation drawer for future apps: https://github.com/MarkOSullivan94/MaterialDrawer-Iconics-Template/

I tried to get the icons to display within main_cardview.xml and this is where they're not being displayed

[2016-04-11 16:30] mikepenz commented on #160
@MarkOSullivan94 ok the issue is really easy to fix. :D And not related to the library.

You use the wrong url for the `app` namespace, because you already had the `card_view` namespace defined.

By default Android studio will define the `res-auto` url, if this was already defined it will use the `tools` url. If the `tools` url is used android studio is happy but will remove the defined xml proper

[2016-04-11 16:30] #160 closed

[2016-04-11 16:56] MarkOSullivan94 commented on #160
Just tried it there now and it works! Had a feeling it was something minor because there was no error coming up in the console. Thanks!

[2016-04-11 19:31] LaurentTreguier opened #161 "No icon appearing on FloatingActionButton"
Hello, I am currently trying to use Android-Iconics to add icons to, among other things, a `FloatingActionButton` from the official Google design support library. However (as the title suggests) I can't seem to get anything appear on the button. It works flawlessly on an ImageButton or an ImageView, but nothing shows for the `FloatingActionButton`... I am using the design library version 23.3.0, A

[2016-04-11 19:49] mikepenz commented on #161
@LaurentTreguier please try out the suggestions mentioned here:
https://github.com/mikepenz/Android-Iconics/issues/160

(you might want to start with the last comment: https://github.com/mikepenz/Android-Iconics/issues/160#issuecomment-208435767)

[2016-04-11 19:50] mikepenz commented on #161
EDIT: just saw that the same works on the `imageButton` above.

[2016-04-11 20:08] LaurentTreguier commented on #161
I just tried and yes, it works well when done programmatically.

[2016-04-11 20:10] mikepenz commented on #161
hmmm defining a `width` and `height` for the fab doesn't change anything? trying out different scale types?

[2016-04-11 20:29] LaurentTreguier commented on #161
Nothing... I've changed the `width` and `height`, tried out just about every `scaleType`, and nothing changes. What's intriguing is how small the `VisibilityAwareImageButton` class is... It inherits from `ImageButton`, for which everything is fine, but for `VisibilityAwareImageButton` it doesn't.

[code]

This is the entirety of `VisibilityAwareImageButton`...

[2016-04-11 21:08] mikepenz commented on #161
@LaurentTreguier I really do not know why the `VisibilityAwareImageButton` should be an issue when using via xml. :/ You might need to define the visibility in the xml? (just a thought)

[2016-04-11 21:13] LaurentTreguier commented on #161
Do you mean `android:visibility="visible"` ? It still doesn't change anything... Which version of Android have you tried on ?

[2016-04-12 16:09] mikepenz commented on #161
It was on Android 6.0.1 but with an older version of the support libs

[2016-04-12 16:36] mikepenz commented on #161
@LaurentTreguier after some more debugging I have no idea why it is not working.
The only weird thing I see that it will never enter the `IconicsLayoutInflater` with the `FloatingActionButton` so it is also not able to set the icon

[2016-04-12 17:01] LaurentTreguier commented on #161
@mikepenz By the way you are saying this, it sounds like you are able to reproduce it ?

[2016-04-12 17:05] mikepenz commented on #161
With the latest support libraries yes. But I have no solution for it. The only idea I have right now is to set the icon programatically

[2016-04-12 17:12] Rainer-Lang commented on #161
@LaurentTreguier Instead of ```app:ico_icon="gmi-account-add"``` try this: ```app:ico_icon="gmi_account_add"```

[2016-04-12 17:16] LaurentTreguier commented on #161
@Rainer-Lang still no luck

[2016-04-12 17:20] Rainer-Lang commented on #161
Sorry. I had a version in the past where this was a problem....

[2016-04-12 17:32] mikepenz commented on #161
I am out of ideas. @Rainer-Lang has the same setup as with which I tried it now.
android gradle tools 2.0.0 (he uses 2.1.0-alpha5)
buildTools 23.0.3
support libraries 23.3.0
AppCompatActivity as base activity
latest version of the iconics
...

[2016-04-12 17:34] mikepenz commented on #161
@LaurentTreguier oh the only difference is that he uses the alternative `ContextWrapper`

https://github.com/mikepenz/Android-Iconics#3-alternative-inject-into-context-optional

[2016-04-12 17:46] LaurentTreguier commented on #161
...and it finally works ! Thanks for pointing at this, I should have tried it out.

[2016-04-12 17:48] mikepenz commented on #161
@LaurentTreguier to be honest I didn't know that the `FloatingActionButton` does not go through the `IconicsLayoutInflater` and I am really sorry for the trouble. :/.

I will have to do another debugging session and try to find out what the system does behind my `IconicsInflater`.

Thanks for your time and support.

Thanks @Rainer-Lang for finding the final solution ;)

[2016-04-12 17:48] #161 closed

[2016-04-14 15:12] seba123neo opened #162 "Is correct this usage of IconicsButton ?"
Hi mike, for a long time i use the IconicsButton like this:

[code]

with the text size in "dip" is correct ? or i should use "sp" now ?

[2016-04-14 20:41] mikepenz commented on #162
@seba123neo yes it is fine: https://github.com/mikepenz/Android-Iconics/blob/develop/app/src/main/res/layout/activity_playground.xml#L194

You have to remember the `IconicsButton` will set the icon via the text, so the textsize in dip might not be the same as if you use an `ImageButton` and set the icon as image with 24dp

[2016-04-14 20:41] #162 closed

[2016-04-14 20:53] seba123neo commented on #162
ok, thanks mike.

[2016-04-18 16:19] papylhomme opened #163 "Icon lookup problem when font name's size is >3"
Hello,

I tried to use a custom font and ran into a small problem: Using the generation tool, I entered a long name for my font (habitat), everything went fine, including icon usage in code, but when trying to resolve the icon by name it failed. A few Ctrl+Click later and I found the culprit in ```IconicsDrawable```:

[code]

Is there any reason to limit the name of the font to 3 character ? It se

[2016-04-18 19:59] mikepenz commented on #163
@papylhomme hi. Yes this is intended. The font shortcut should be always 3 characters long, as defined in the interface for the `ITypeface`
https://github.com/mikepenz/Android-Iconics/blob/develop/library-core/src/main/java/com/mikepenz/iconics/typeface/ITypeface.java#L38

The reason why i limited it to 3 characters is that the icons can be used via xml too and in other locations too. When I resol

[2016-04-18 19:59] #163 closed

[2016-04-20 01:55] JohnnyShieh opened #164 "App Crashed show that "java.lang.NoClassDefFoundError: Failed resolution of: Landroid/support/v7/view/menu/ActionMenuItemView;""
The error info is following:
`at com.mikepenz.iconics.context.IconicsFactory.onViewCreatedInternal(IconicsFactory.java:44)
at com.mikepenz.iconics.context.IconicsFactory.onViewCreated(IconicsFactory.java:28)
at com.mikepenz.iconics.context.IconicsLayoutInflater.onCreateView(IconicsLayoutInflater.java:24)
at android.support.v4.view.LayoutInflaterCompatHC$FactoryWrapperHC.onCreateView(LayoutInflater

[2016-04-20 10:52] JohnnyShieh commented on #164
I got the answer, The reason is that the package of ActionMenuItemView  is `android.support.v7.internal.view.menu.ActionMenuItemView` when appcompatVersion is **23.0.1**.

[2016-04-20 10:55] #164 closed

[2016-04-20 19:12] mikepenz commented on #164
@JohnnyShieh You might even need to use the latest **v23.3.0** as the Iconics already use the latest onve

[2016-04-21 08:34] Ewg777 opened #165 "NullPointerException"
@mikepenz you've made a great lib! How to fix it?
Crashed on release configuration with proguard
Error stacktrace
[code]
my_activity.xml:
[code]

MyActivity.java
[code]

[2016-04-21 08:36] mikepenz commented on #165
@Ewg777 your proguard rule destroys the enum used inside the `GoogleMaterial` font.
You will need to keep the enum as described here:
http://stackoverflow.com/a/6286534/325479

Seems like your proguard configuration is very strict

[2016-04-21 08:47] Ewg777 commented on #165
@mikepenz thanks!
This is solved the issue:
[code]

[2016-04-21 08:47] #165 closed

[2016-04-22 21:24] meNESS opened #166 "Access icons inside selectors"
Hi Mike,

Is it possible to access icons inside selectors?

[2016-04-22 21:43] mikepenz commented on #166
@meNESS you mean you want to use it in an xml selector? Sorry no this is not possible. As far as I know it is not possible to hook into those mechanisms of android.

[2016-04-22 21:43] #166 closed

[2016-04-27 05:57] fliespl opened #167 "Outdated google icon in font awesome"
Hi Mike,
I have just noticed that your lib consist of outdated google icon - is there any way I can replace it on my own?

http://codeone.pl/ss/ss-2016-04-27_07-57-25-001.png
http://fortawesome.github.io/Font-Awesome/icon/google/

[2016-04-27 06:04] fliespl commented on #167
Sorry about confusion - my gradle used cached version instead of the newest one - works good.

[2016-04-27 06:04] #167 closed

[2016-04-29 13:50] atulgoswami21 opened #168 "How can i use this for toolbar menu item if possible?"
How can i use this for toolbar menu item if possible?

[2016-04-29 13:53] #168 closed

[2016-04-29 19:14] irsalshabirin opened #169 "java.lang.IndexOutOfBoundsException"
I've got this error when I set the `Activity` with this code :
[code]

When I load data from database MySql to set a TextView with this syntax :
`textView.setText(String.format("{faw-clock-o}  %s", t.updatedAt));`

this my `Log Cat` :

[2016-04-29 19:40] mikepenz commented on #169
@irsalshabirin the `StackTrace` has no reference to the Iconics. Can you reproduce this every single time?

[2016-04-30 07:51] irsalshabirin commented on #169
there are no errors that indicate about iconics. But when I comment this line:
`textView.setText(String.format("{faw-clock-o} %s", t.updatedAt));`
applications run smoothly.

I just find an error in logcat like the above.
My device is Xiaomi mi4c using MIUI 7,

however, I found a solution by replacing the `TextView` be `IconicsTextView` and the issue is finished. Thank you very much. This library